    <script>
jQuery(document).ready(function($) {
  jQuery.browser = {};
  jQuery.browser.mozilla = /mozilla/.test(navigator.userAgent.toLowerCase())
                    && !/webkit/.test(navigator.userAgent.toLowerCase());
      var BV = new $.BigVideo({useFlashForFirefox:false});
      BV.init();
      if (Modernizr.touch) {
        BV.show('/assets/images/7.jpg');
      }
        else if (jQuery.browser.mozilla){
            BV.show('https://s3-ap-southeast-1.amazonaws.com/spacecomby/bg-loop-new.ogv', {ambient:true});
          }
        else{
      BV.show('https://s3-ap-southeast-1.amazonaws.com/spacecomby/bg-loop-new.mp4', {ambient:true});
    }
      });
    </script>

    <section>
            <div class="containerForLanding">
              <!-- intro text -->
              <div class="intro-text">
                <h2>SPACECOMBY</h2>
                <h3>If you are not one of us now, you will be one of us soon.</h3>
              </div><!-- intro text -->
              <a href="/welcome/index" id="FrontLogIn-label">
                                    <div class="FrontLogIn">
                                        
                                               EXPLORE
                                       
                                       </div>  
                                   </a>
            </div><!-- /container -->
            <br />


    
       </section>