/* CSS Skin */
a,.primary-nav ul li.current-menu-item a,.top-bar-right a:hover,.primary-nav ul li a:hover,.cpt-filters li a:hover,.cpt-filters li a.selected,
.blog-title a:hover,.sidebar .widget_nav_menu ul li a:hover,
.sidebar .widget_nav_menu ul li.current-menu-item a,.st-recent-posts ul li a:hover,.st-recent-posts .recent-date,.footer-social li a:hover,
.tab-title li.current,.woocommerce ul.products li.product a:hover h3, .woocommerce-page ul.products li.product a:hover h3
	{
		color:#FA5B0F;
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
	}

input[type="reset"], input[type="submit"], input[type="button"], button,.footer-social li a:hover,.btn_default,.acc-title-active,.toggle_current,
.st-pagination li a:hover,.ui-datepicker-calendar .ui-state-hover,.ui-datepicker-calendar .ui-state-active,.go-detail,.go-gallery,
.color,.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button
	{
		background-color: #FA5B0F;
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
	}



