         <div class="main-outer-wrapper has-titlebar">
            <div class="main-wrapper container">
                <div class="row row-wrapper">
                    <div class="page-outer-wrapper">
                        <div class="page-wrapper twelve columns no-sidebar b0">
                            
                             <div class="row">

                                <div class="sidebar left-sidebar-wrapper three columns">
                                    
                                

                                  
                                               
                                                <div class="widget-container widget_nav_menu" id="widget-ID-name" style="margin-left:-15px;">
                                                 <div class="widget-content">
                                            <div class="builder-item-content" >
                                            <div style="padding: 15px 15px;">
                                                 <% if current_user.photo? %>
                  <%= image_tag current_user.photo.url, :style=>"width:80px; height:80px;float: left;-moz-border-radius: 80px;-webkit-border-radius: 80px;" %>
                  <% elsif current_user.image? %>
                  <%= image_tag(current_user.image, :style=>"width:80px; height:80px;float: left;-moz-border-radius: 80px;-webkit-border-radius: 80px;")%>;
                  <% elsif %>
                   <%= image_tag("../assets/images/avatar.jpg", :style=>"width:80px; height:80px;float: left;-moz-border-radius: 100px;
-webkit-border-radius: 100px;" )%>
                  <% end%>
 <div style="margin-left:7px;"><br/>
                                              <b style="font-size:20px;">&nbsp;&nbsp; <%= current_user.first_name%> <%= current_user.last_name%> <%= current_user.name%> <br/></b>
                                            
                   
                                             &nbsp;&nbsp;&nbsp;<a href="/account/index" > <h class="icon-cog"></h>&nbsp;&nbsp;Settings</a>
                                                  <br/><br/>

                               
                                            </div>
                                          </div>   
                                              </div>
                                   
</div>
                        <div class="widget-content " style="width:90%;margin-left:30px;">

                                            <ul>
                                             <li ><a href="/welcome/dashboard"><i class="icon-list-alt"></i>&nbsp;Dashboard</a></li>
                                        <li><a href="/users/edit"><i class="icon-user"></i>&nbsp;Edit Profile</a></li>
                          
                                            <li><a href="/display/index"><i class="icon-edit"></i>&nbsp;My Listings</a></li>
                                            <li><a href="/booking/index"> <i class="icon-heart"></i>&nbsp;My Stays</a></li>
                                        <li><a href="/lease/index"><i class="icon-check"></i>&nbsp;My Transactions</a></li>
                                             <li><a href="<%= cart_path(current_cart)%>"><i class="icon-shopping-cart"></i>&nbsp;My Cart</a></li>     
                                               <li><a href="#"><i class="icon-signal"></i>&nbsp;My Analytics</a></li>
                                            </ul>
                                    

                                        </div>
                                            
                                       
 <br/>
                                 
       
                                              </div>


                                               </div>
                                         
                                             <div class="content-wrapper eight columns">
            
                                                <%= yield %>



                                    
                                         
                   
                                


                                 
                             </div>
                             
                            </div> <!-- END .row -->
</div>
                   
                        <div class="clear"></div>

                    </div> <!-- END .page-outer-wrapper -->
                </div>
            </div> <!-- END .main-wrapper -->

        
        </div> <!-- END .main-outer-wrapper -->