  <% provide(:title, 'Edit Profile') %>

<style>
 #fname:focus, #lname:focus,.number:focus, #country:focus, #address:focus{
      outline:0;
      border-radius:3px!important;
      border:1px solid #ff6a2f!important;
      /* border-color: #f64300;*/
      box-shadow: 0 0 7px #ff6a2f;
    }
    div{

     font-family:   "oxygen", serif; 
   }

 </style>
 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.0.1-p7/css/bootstrap.min.css">
 <!-- Latest compiled and minified JavaScript -->
 <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.0.1-p7/js/bootstrap.min.js"></script>


       <div class="twelve columns b0">


        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, :multipart => true) do |f| %> 

           
              <h2 style="font-family:oxygen;">Personal Information</h2>
              <hr/>

              <p style="color:red; ">* Indicates required fields</p>
              <%= devise_error_messages! %>
              <%= content_tag(:div, flash[:error], :id => "flash_error", :class=>"error" ) if flash[:error]%>
              <%= content_tag(:div, flash[:alert], :id => "flash_alert",:class=>"error") if flash[:alert] %>
              <table>
                <tr>
                  <td style="width:50%;">
                    <div class="form-row field_text">
                      <label>First Name:<i style="color:red;">*</i></label><br>
                      <%= f.text_field :first_name, :class=>"input_text required" ,:style=>"width: 100%; border-radius:3px;color:black; border:1.5px solid #ccc; background:#ffffff;font-size: 12px;", :id=>"fname", :required=>"required"%>
                    </div>
                  </td>
                  <td> 
                    <div class="form-row field_text">
                      <label>Last Name:<i style="color:red;">*</i></label><br>
                      <%= f.text_field :last_name , :class=>"input_text required" ,:style=>"width: 100%; border-radius:3px;color:black; border:1.5px solid #ccc; background:#ffffff;font-size: 12px;", :id=>"lname", :required=>"required"%>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td style="width:30%;">
                   <div class="form-row field_text">
                    <label>Your phone number:</label><br>
                    <%= f.text_field :phone_number,:style=>"width: 100%; border-radius:3px;color:black; border:1.5px solid #ccc; background:#ffffff;font-size: 12px;", :class=>"number "%>
                  </div></td>
                  <td style="width:70%;"> 
                    <div class="form-row field_select">
                      <%= f.label :gender%><br />
                      <h><%= f.radio_button(:gender, "male", :checked => 'checked', :style =>"font-family:oxygen;")  %>
                        <%= f.label(:gender, "Male", :style =>"font-family:oxygen;font-weight:none;") %></h>
                        <%= f.radio_button(:gender, "female") %>
                        <%= f.label(:gender, "Female", :style =>"font-family:oxygen;font-weight:none;") %>  
                      </div> <!--  form-row field_select -->

                    </td>
                  </tr>

                  <tr >
                    <td >
                     <div class="form-row field_select">
                      <label>Upload Your Profile Picture:</label><br>
                      <div class="fileinput fileinput-new" data-provides="fileinput">
                        <span class="btn btn-default btn-file"><span class="fileinput-new">Upload your image</span><span class="fileinput-exists">Change image</span><%= f.file_field :photo %></span>
                        <span class="fileinput-filename"></span>
                      </div>
                    </div> <!-- form-row field_select -->
                  </td>
                </tr>
                <tr>
                  <td>
                   <div class="form-row field_select">
                    <label>Country</label><br>
                    <%= f.country_select :country, {prompt: 'Please select a country'}, :class=>"select-box",  :style=>"width:210%; height: 37px;border-radius:3px; border:1.5px solid #ccc; background:#ffffff;font-size: 12px;", :id=>"country" %>
                  </div> <!-- form-row field_select -->
                </td>
              </tr>
              <tr>
                <td>
                 <div class="form-row field_textarea" style="width:208%;">
                  <label>Address </label><br/>
                  <%= f.text_area  :address  , :class=>"input_text required", :style=>"width: 100%; border-radius:3px;color:black; border:1.5px solid #ccc; background:#ffffff;font-size: 12px;", :id=>"address"%>
                </div> <!-- form-row field_textarea" style="WIDTH:200% -->
              </td>
            </tr>
            <tr>
                <td>
                 <div class="form-row field_textarea" style="width:208%;">
                  <label>Description About Yourself </label><br/>
                  <%= f.text_area  :description  , :class=>"input_text required", :style=>"width: 100%; border-radius:3px;color:black; border:1.5px solid #ccc; background:#ffffff;font-size: 12px;", :id=>"address", :placeholder=>"Tell them about the things you like: What are 5 things you can’t live without? Share your favorite travel destinations, books, movies, shows, music, food.Tell them what it’s like to have you as a guest or host: What’s your style of traveling? Of SpaceComby hosting?Tell them about you: Do you have a life motto?"%>
                </div> <!-- form-row field_textarea" style="WIDTH:200% -->
              </td>
            </tr>
          </table> 
          <br/>

          <div align="center">
           <%= f.submit "Update My Profile", :class=>"btn btn_orange"  %> 
         </div>
         <% end %>  
         <br/>


   </div> <!-- class="row" style="width:100%; -->

   <div class="clear"></div>

