<% provide(:title, 'Register Here') %>

<style>
  .error{
    position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; width:80%;background-color: #e7c1c0;color: #b94a48;border-color: transparent;

  }
  .alert {position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;background-color: #faf2cb;color: #c09853;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;width:80%;}
  .success {   position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;background-color: #c3e4b8;color: #468847;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; width:90%;
    background-color: #e7c1c0;color: #b94a48;}


    .info {  position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;background-color: #b9dbee;color: #3a87ad;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; width:90%;
    }



    .block {padding-top: 14px;padding-bottom: 14px;}

  i.tooltip {outline:none; }
  i.tooltip strong {line-height:30px;}
  i.tooltip:hover {text-decoration:none;} 
  i.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:270px; line-height:16px;
  }
  i.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
    .callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
    
    /*CSS3 extras*/
    i.tooltip span
    {
      border-radius:4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;

      -moz-box-shadow: 5px 5px 8px #CCC;
      -webkit-box-shadow: 5px 5px 8px #CCC;
      box-shadow: 5px 5px 8px #CCC;
    }
    .error{
      position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; width:93%;
      background-color: #e7c1c0;color: #b94a48;
      border-color: transparent;

    }
        .select-box{background:#f4f4f4;color:#a9a9a9;position: relative;margin-top:3px;padding:0.7em 10px;width:93%;}
    .select-box span{display: block;line-height: 18px;background:url('../assets/images/select-box.png') no-repeat right center}
    .select-box select{position: absolute;opacity: 0;left:0px;top:0;cursor: pointer;width:100%;height:100%;}
    .select-box select option{padding:10px 10px 10px 10px;background: #f8f8f9;border-top:1px solid #E0E0E0;}

  </style>
   <script type="text/javascript">
 var RecaptchaOptions = {
    theme : 'clean'
 };
 </script>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>


  <div class="titlebar-outer-wrapper" style="background: url(<%= asset_path '../assets/images/Blur.jpg' %>) no-repeat top center;">

    <div class="shadow-box">
    </div>
  </div>

  <div class="main-outer-wrapper has-titlebar">
    <div class="main-wrapper container">
      <div class="row row-wrapper">
        <div class="page-outer-wrapper">
          <div class="page-wrapper twelve columns no-sidebar b0">
            <div class="row">
              <div class="twelve columns b0">
                <div class="page-title-wrapper">
                  <h1 class="page-title left">
                    Register Account</h1>
                    <div class="page-title-alt right">
                    </div>
                    <div class="clear">
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">


             <br/><br/>  <div style=" font-size:18px; " align="center">     
             <%- if devise_mapping.omniauthable? %>
             <%- resource_class.omniauth_providers.each do |provider| %>
             <%= link_to image_tag("../assets/images/facebook.png" , :style=>"width:250px;"), omniauth_authorize_path(resource_name, provider) %><br />
             <% end -%><% end -%><br/><br/>Already a member ? <a href="/users/login" >Sign in</a></div><br/>

             <div style="text-align:center;border-top:solid 1px; border-color:#B6B6B4;"><span style="background-color:white; display:inline-block;position: relative; top: -.7em; width:50px; ">OR</span></div><br/>
             <p style=" display:block; background-color:#808080; padding:5px 10px; margin-left:40px; color:white;width:90%; ">PERSONAL INFORMATION</p>
             <p style="color:red; margin-left:40px;">* Indicates required fields</p>
         
  <% if @user.errors.any? %>
  <div class="alert alert-error" style="margin-left:70px;">
  <%= devise_error_messages! %>
  </div>
      <% end %>
<%= content_tag(:div, flash[:alert], :id => "flash_alert",:class=>"alert alert-error", :style=>"width:80%;margin-left:70px;") if flash[:alert] %>             

        <div class="text-content">
             <div class="row" style="margin-left:35px; width:95%">
                <div class="six columns b0">
                  <div class="form-row field_text">
                    <label>First Name:<i style="color:red;">*</i></label>

                    <%= f.text_field :first_name, :placeholder=>"John" , :class=>"input_text required" ,:style=>"WIDTH:93%;border:1px solid #CCC; ", :required=>"required"%>
                  </div>



                  <div class="form-row field_textarea">
                    <label>Address </label>

                    <%= f.text_area  :address , :placeholder=>"Blk123 #04-1888 Kent Ridge Avenue" , :class=>"input_text required" ,:style=>"WIDTH:93%; height:30%; font-family:arial;color:black;border:1px solid #CCC;  border-radius:6px;"%>
                  </div>   
                  <br/><br/>
                  <div class="text-content">
                   <div class="row" style="margin-left:2px;">
                    <p style="display:block; background-color:#808080; padding:5px 10px;  color:white;width:97%; margin-left:-10px; ">LOGIN INFORMATION</p>

                    <div class="form-row field_text">
                      <label>Your email address:<i style="color:red;">*</i></label>
                      <%= f.email_field :email , :placeholder=>"youremail@domain.com" , :class=>"input_text required" ,:style=>"WIDTH:93%;color:black; padding:0.7em 10px; border:1px solid #ccc; background:#f4f4f4;font-size: 12px; border-radius:6px;", :required=>"required", :focus=>"outline: 1px solid #a9a9a9;"%>
                    </div>
                    <div class="form-row field_text">
                      <label>Password:<i style="color:red;">*</i><i class="tooltip">

                    <img src="../assets/images/info.png" width="15px" />
                     <span style="margin-top:-10px;margin-left:0px; border-radius:6px;">
                                 
                      Password must be least 8 characters long
      
                     </span>
                   </i></label>

                      <%= f.password_field :password,  :placeholder=>"yourpassword" , :class=>"input_text required" ,:style=>"WIDTH:93%;border:1px solid #CCC; border-radius:6px;", :required=>"required"%>
                    </div>

                    <div class="form-row field_text" style="">

                      <label>Confirm Password:<i style="color:red;">*</i><i class="tooltip">

                 <img src="../assets/images/info.png" width="15px" />
                     <span style="margin-top:-10px;margin-left:0px;">
                    
                      Password must be least 8 characters long
                     </span>

                   </i></label>


                      <%= f.password_field :password_confirmation, :placeholder=>"yourpassword" , :class=>"input_text required" ,:style=>"WIDTH:93%;border:1px solid #CCC; border-radius:6px; " , :required=>"required"%>

                    </div>    
                  <br/>
                      <p > 
                        <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" , required="required"/> 
                        <label for="loginkeeping"  title="sample text" style="width:600px;margin-left:30px;margin-top:-20px;  position:absolute;" required="required"> As a member, you accept our *Terms and Privacy Policy.</label>


                      </p>
                    </div>

                  </div>

                </div>
                <div class="six columns b0">
                  <div class="form-row field_text">
                    <label>Last Name:<i style="color:red;">*</i></label>

                    <%= f.text_field :last_name, :placeholder=>"Doe" , :class=>"input_text required" ,:style=>"WIDTH:93%;border:1px solid #CCC; " , :required=>"required"%>
                  </div>
                  <div class="form-row field_select">



                    <%= f.label :country_code %>
                    <%= f.country_select :country, {prompt: 'Please select a country'}, :class=>"select-box" , :style=>"width:93%;border:1px solid #CCC; color:black" %>

                  </div>

                  <div class="form-row field_text">
                    <label>Your phone number:<i style="color:red;">*</i></label>


                    <%= f.text_field :phone_number, :placeholder=>"12345678" , :class=>"input_text required" ,:style=>"width:93%;border:1px solid #CCC; ", :required=>"required"%>
                  </div>
                  <div class="form-row field_select">
                                    <%= f.label :gender%><br />
                                    <h><%= f.radio_button(:gender, "male", :checked => 'checked')  %>
                                    <%= f.label(:gender, "Male") %></h>
                                    <%= f.radio_button(:gender, "female") %>
                                    <%= f.label(:gender, "Female") %>  
                                  </div> <!--  form-row field_select -->
                    <br/><br/><br/><br/>



                    <br/><br/><br/><br/><br/><br/>
                

                  <div class="clear"></div>

                  <div class="clear"></div>
                </div>


                <div class="form-row field_submit mt20" align="center">
                 <%= f.submit "Sign up Now", :class=>"btn btn_orange"  %>

                 <br/><br/> <br/>
               </div> 




             </div> <!-- END .text-content -->
           </div>
           <!-- END .page-wrapper -->

         </div>

       </div>
       <!-- END .page-outer-wrapper -->
     </div></div>
   </div>
   <!-- END .main-wrapper -->
   <% end %>