<!--   <div class="field">
    <%= f.text_field :verify_code %>
  </div>
    <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div> -->

<!--     <div class="field">
    <%= f.text_field :verify_code %>
  </div>
    <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>
    <%= link_to user, :controller => "registration", :action => "verify", :user => { :verify_code => params[:verify_code] }  %>
 -->

<!--   
<%= form_for @user, :url => url_for(:controller => 'registration', :action => 'verify') do |f| %>
  <%= form_for("user", :url => user_session_path) do |f| %>
  <%= f.text_field :email %>
  <%= f.password_field :password %>
  <%= f.check_box :remember_me %>
  <%= f.label :remember_me %>
  <%= f.submit 'Sign in' %>
  <%= link_to "Forgot your password?", new_password_path('user') %>
<% end %>  -->

<%= form_tag registration_path %>