 <% provide(:title, 'My Listings') %>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>My Listings</h1>

<% if @places.empty? %>

                You have not listed any places.



<!-- START:currency -->
      
<!-- START_HIGHLIGHT -->

<!-- END_HIGHLIGHT -->
<!-- END:currency -->
<% else %> 
          <div class="twelve columns b0">
              <div class="cpt-items row clearfix isotope">

                <% @places.each do |place| %>

                <div id="places">
            
                    <div class="cpt-item six columns isotope-item logo">
                      <div class="thumb-wrapper">
                      
                        <% if place.image? %>
                  <%= image_tag place.image.url(:normal) %>
                  <% else %>
                  <%= image_tag("../assets/images/missing.jpg", :style=>"width:500px;height:162.5px;") %>
                  <% end %>

                        <div class="thumb-control-wrapper">
                          <ul class="thumb-control clearfix">
                              <li><a title="View Detail" href="/places/<%=place.id%>" class="go-detail">Open Detail</a></li>

                              <li><a rel="prettyPhoto[gallery2]" title="Open Analytics" href="/about/analytics" class="go-gallery">Open Gallery</a></li>
                  

                          </ul>
                        </div>
                      </div>
                      <br/>
                      <div class="cpt-detail">
                       <div style="color:#808080;"><i class="icon-briefcase"></i>&nbsp;&nbsp; <%= place.title %>
   <br/>
                                                            <i class="icon-tag"></i>&nbsp;&nbsp; <%= number_to_currency(place.price) %></div>
                      

                      </div>
                      <br/>
                         <a href="/places/<%=place.id%>/edit"class="btn btn_orange" ><i class="icon-pencil"></i>Manage </a>
             

						<%= link_to 'Delete', place, :confirm=>"are you sure", :method=>:delete, :class=>"btn btn_orange " %>

                                                             
                    </div>

                  </div>
           
                <% end %>

  <% end %>



              </div>
            </div>