<%= form_for(@order_place) do |f| %>
  <% if @order_place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_place.errors.count, "error") %> prohibited this order_place from being saved:</h2>

      <ul>
      <% @order_place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.number_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :place_id %><br>
    <%= f.number_field :place_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
