<h1>Listing order_places</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Place</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @order_places.each do |order_place| %>
      <tr>
        <td><%= order_place.order_id %></td>
        <td><%= order_place.place_id %></td>
        <td><%= link_to 'Show', order_place %></td>
        <td><%= link_to 'Edit', edit_order_place_path(order_place) %></td>
        <td><%= link_to 'Destroy', order_place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order place', new_order_place_path %>
