<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_place.order_id %>
</p>

<p>
  <strong>Place:</strong>
  <%= @order_place.place_id %>
</p>

<%= link_to 'Edit', edit_order_place_path(@order_place) %> |
<%= link_to 'Back', order_places_path %>
