

<div class="titlebar-outer-wrapper" style="background: url(<%= asset_path '../assets/images/Blur.jpg' %>) no-repeat top center;">
    <div class="shadow-box">
    </div>
</div>
<div class="main-outer-wrapper has-titlebar">
    <div class="main-wrapper container">
        <div class="row row-wrapper">
            <div class="page-outer-wrapper">



                <div class="row">

                    <div class="sidebar left-sidebar-wrapper four columns">

                     <div class="widget-container st-recent-event" id="widget-ID-name">

                        <div class="widget-content">
                            <div class="builder-item-content" style=" margin-left:20px;">
                             

<div >

                                 <% if @user.photo? %>
                                 <%= image_tag @user.photo.url, :style=>"width:200px; height:150px;" %>
                                 <% elsif @user.image? %>
                                 <%= image_tag(@user.photo.url)%>
                                 <% elsif %>
                                 <%= image_tag("../assets/images/PersonPicMissingSquare.jpg", :style=>"width:150px; height:150px;border-radius:100px;" )%>
                                 <% end%>

</div>
                             <div style="margin-left:7px;"><br/>
                              <b style="font-size:20px;"><%= @user.first_name %> 
                                <%= @user.last_name %> <br/></b>
                                <i class="icon-flag"></i>&nbsp;<%=  @user.country%><br/>
                                <i > Member Since: <%=  @user.created_at.strftime('%Y-%m-%e')%></i>
                            </div>



                        </div>


                    </div></div>


                </div>

                <div class="content-wrapper eight columns"style="margin-left:-60px;">

                    <div class="twelve columns b0">
                        <div class="page-title-wrapper"style="margin-left:-30px;width:110%;">
                            <h1 class="page-title left" > Profile</h1>
                            <div class="page-title-alt right">
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="st-blockquote">
                        <i class="icon-quote-left icon-4x pull-left icon-muted" style="margin-top:-20px;"></i> <h1>Hey there, I'm <%= @user.first_name %> 
                        <%= @user.last_name %> ! </h1>
                    </div>     
                    <br/>
                    <h3><%= @user.description %></h3>
                    <h3 class="comments-header-title" style="width:100%;"><%= @user.first_name %>'s  Past Stays</h3>

                    <%if @user.orders.empty?%>
                    The user do not have any past stay.
                    <br/>
                    <br/>

                   <% end %>

                    <%else%>

                    

 

      <div class="twelve columns b0" style="margin-left:-15px;">
              <div class="cpt-items row clearfix isotope" >
<% @user.orders.each do |order| %> 

                    <% order.order_places.each do |item| %> 

                <div id="places">
            
                    <div class="cpt-item six columns isotope-item logo">
                      <div class="thumb-wrapper">
                      
                         <%=image_tag item.place.image.url %>
               

                        <div class="thumb-control-wrapper">
                          <ul class="thumb-control clearfix">
                          <li style="margin-left:20px;"><a title="View Detail" href="/places/<%=item.place.id%>" class="go-detail">Open Detail</a></li>

                          </ul>
                        </div>
                      </div>
                      <br/>
                      <div class="cpt-detail">
                       <div style="color:#808080;"><i class="icon-briefcase"></i>&nbsp;&nbsp; <%= item.place.title %>
   <br/></div>
                      

                      </div>
                        </div>

                  </div>
          
<% end %>
<% end %>



                  
                    <%if @user.places.empty?%>
                    <h3 class="comments-header-title" style="width:100%;margin-left:15px;"><%= @user.first_name %>'s  Listings</h3>
                    <div style="margin-left:15px;">
                    The user has not listed any place yet.
                    </div>
                    <%else%>

        <div class="twelve columns b0" style="margin-left:0px;">
          <h3 class="comments-header-title" style="width:100%;"><%= @user.first_name %>'s  Listings</h3>
              <div class="cpt-items row clearfix isotope" >

                <% @user.places.each do |place| %>

                <div id="places">
            
                    <div class="cpt-item six columns isotope-item logo">
                      <div class="thumb-wrapper">
                      
                         <%= image_tag place.image.url %>
               

                        <div class="thumb-control-wrapper">
                          <ul class="thumb-control clearfix">
                             <li style="margin-left:20px;"><a title="View Detail" href="/places/<%=place.id%>" class="go-detail">Open Detail</a></li>

                          </ul>
                        </div>
                      </div>
                      <br/>
                      <div class="cpt-detail">
                       <div style="color:#808080;"><i class="icon-briefcase"></i>&nbsp;&nbsp; <%= place.title %>
   <br/>
                                                            <i class="icon-tag"></i>&nbsp;&nbsp; <%= number_to_currency(place.price) %></div>
                      

                      </div>
                        </div>

                  </div>
          
<% end %>
<% end %>




              </div>
            </div>


              </div>
            </div>







    </div> <!-- END .row -->
</div>
<!-- END .page-wrapper -->
<div class="clear">
</div>
<br />
</div>
<!-- END .page-outer-wrapper -->
</div>
</div>
<!-- END .main-wrapper -->
</div>