

<style>
.error{
position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; width:80%;background-color: #e7c1c0;color: #b94a48;border-color: transparent;

}
.alert {position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;background-color: #faf2cb;color: #c09853;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
  .success {   position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;background-color: #c3e4b8;color: #468847;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; width:80%;
background-color: #e7c1c0;color: #b94a48;}


  .info {  position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;background-color: #b9dbee;color: #3a87ad;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; width:80%;
}



  .block {padding-top: 14px;padding-bottom: 14px;}
#password:focus{
      outline:0;
      border-radius:3px!important;
      border:1px solid #ff6a2f!important;
      /* border-color: #f64300;*/
      box-shadow: 0 0 7px #ff6a2f;
    }
    body{
font-family:"Oxygen",serif;


    }
</style>








<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

  <div class="titlebar-outer-wrapper" style="background: url(<%= asset_path '../assets/images/Blur.jpg' %>) no-repeat top center;">
    <div class="shadow-box"></div>
  </div><!--titlebar-outer-wrapper-->

  <div class="main-outer-wrapper has-titlebar">
    <div class="main-wrapper container">
      <div class="row row-wrapper">
        <div class="page-outer-wrapper">


          <div class="row" style="padding: 0 2em;" >

            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="main-bg" style="background:#eeeeee;">

              <tr>
                <td align="center" valign="top" style="padding-bottom:60px;">
                  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="main">
                   <br /><br />

                   <tr>
                    <td align="left" valign="top">
                      <table class="ConfirmTable"  style="border-top:#ff580e solid 5px;">

                        <tr>
                          <td class ="ConfirmMain" align="left" valign="top" bgcolor="#fff" style="background:#fff; padding-top:19px; padding-bottom:22px;">
                            <table width="560" align="center" cellpadding="0" cellspacing="0" class="inner">

                              <div style="margin-left:30px; width:90%;">
<% if @user.errors.any? %>
  <div class="alert alert-error" style="margin-left:10px;">
  <%= devise_error_messages! %>
  </div>
      <% end %>
                          
                                <%= content_tag(:div, flash[:error], :id => "flash_error", :class=>"error" ) if flash[:error]%>
                                <%= content_tag(:div, flash[:notice], :id => "flash_notice",:class=>"info") if flash[:notice] %>
                                <%= content_tag(:div, flash[:alert], :id => "flash_alert",:class=>"error") if flash[:alert] %>
                              </div> 
                              <tr>
                              <br/>
                                <td align="center" valign="top" style="font:Bold 24px Arial, Helvetica, sans-serif; color:#525252; padding-top:2px;">
                                  Forgot Your Password?
                                </td>
                              </tr>
                              <tr>
                                <td align="center" valign="top" style="font:Normal 12px Arial, Helvetica, sans-serif; color:#686868; line-height:24px; padding:15px 0px 20px 0px;">
                                Please enter your email address you have registered with us.
                                 <br/>
                                 <%= f.email_field :email , :placeholder=>"youremail@domain.com",:style=>"width:60%; border-radius:3px;color:black; border:1.5px solid #ccc; background:#ffffff;font-size: 12px;", :required=>"required"%>


                               </td>
                             </tr>

                             <tr>
                              <td align="center" valign="top" style="padding-bottom:1em;">
                                <%= f.submit "Reset My Password", :class=>"btn btn_orange"  %>
                              </td>
                            </tr>

                            <tr>
                              <td align="center" valign="top" style="padding-bottom:1em;">
                                <a href="/users/login">Back to Login</a>
                              </td>
                            </tr>


                            <tr>
                              <td align="center" valign="top" style="padding-bottom:1em;">
                                <% if flash[:error] %>
                                <div class="notice"><%= flash[:error] %></div>
                                <% end %>
                              
                              </td>
                            </tr>
                          </table>

                        </td>
                      </tr>


                    </table>


                  </td>
                </tr>
              </table>    

            </td>
          </tr>

          <br/>
        </table>
        <br/><br/>
      </div>      
    </div>   
  </div>  
</div>  
</div>  
</div>  

<div class="clear"></div>



<% end %>