<% provide(:title, 'Home') %>






<div class="slider-outer-wrapper">
 <div class="main_slider">
  <div id="layerslider" style="width: 100%; height: 550px; margin: 0px auto; ">

   <div class="ls-layer" style="slidedirection: top; slidedelay: 7000; durationin: 1500; durationout: 1500; delayout: 500;">
    <img src="../assets/images/Slider4.jpg" class="ls-bg" alt="">
    <div class="ls-s2 l1-s1 ls-s" style="padding:20px;background:rgba(0, 0, 0, 0.5);position:absolute;left:0px;top:80px;slidedirection : top; ">
     <h2 style="margin:0px 0px 13px 0px;font-size:29px;color:#fff;font-weight: 900;letter-spacing: -1.2px;">Connecting You To Your Next Workspace
</h2>
     <div style="color:#d2d2d2;font-size: 13px;font-style: italic;">Choose from a Wide Selection of workspaces
</div>
    </div>

   </div>

   <div class="ls-layer" style="slidedelay: 6000;">

    <img src="../assets/images/Slider1.jpg" class="ls-bg" alt="">
    <div class="ls-s2 l2-s1 ls-s" style="padding:20px;background:rgba(0, 0, 0, 0.5);position:absolute;left:0px;top:80px;slidedirection : top; ">
     <h2 style="margin:0px 0px 13px 0px;font-size:29px;color:#fff;font-weight: 900;letter-spacing: -1.2px;">Access To Workspaces At Your Fingertips
</h2>
     <div style="color:#d2d2d2;font-size: 13px;font-style: italic;">Work anytime anywhere at an affordable rate

</div>
    </div>

   </div>

   <div class="ls-layer" style="slidedelay: 7000; delayout: 500; transition2d: all;">

    <img src="../assets/images/Slider3.jpg" class="ls-bg" alt="">
    <div class="ls-s2 l3-s1 ls-s" style="padding:20px;background:rgba(0, 0, 0, 0.5);position:absolute;left:0px;top:80px;slidedirection : top; ">
     <h2 style="margin:0px 0px 13px 0px;font-size:29px;color:#fff;font-weight: 900;letter-spacing: -1.2px;">Creating A Community Of Like-minded People</h2>
     <div style="color:#d2d2d2;font-size: 13px;font-style: italic;">Live, work & play at your ideal workspace

</div>
    </div>
   </div>
  </div>
 </div>
 <div class="shadow-box"></div>
</div>

<div class="main-outer-wrapper has-slider">
 <div class="main-wrapper container">
  <div class="row row-wrapper">
   <div class="page-outer-wrapper">
    <div class="page-wrapper twelve columns no-sidebar b0">

     <div class="row" style="margin-top:-1.1em;">
      <div class="twelve columns b0">
       <div class="builder-item-wrapper builder-banners">


        <div class="row" style="align:center;">
         <div id="FrontSearch">

          <section id="search-section">
           <div id="positioning">

            <!--Search Form Start-->
            <div id="search-wrapper">
             
                <%= form_tag places_index_path, :method => :get do %>
              <div id="input-wrapper-location">

               <input type="text" name="search" id="location" placeholder="Location/Address" />





              </div>

              <div id="input-wrapper-others" >
               <div id="input-wrapper-workspace_type">

                <select name="wsType" id="type_select">
                 <option value="" >All</option>
                 <option value="co-working">Co-Working Space</option>
                 <option value="meeting">Meeting Rooms</option>
                 <option value="startup">Startup Incubator</option>
                </select>
               </div>

               <div id="input-wrapper-guests">

                <select name="maxOccupancy" id="guests">
                <option value = "" >None</option>
                 <option value = "1">1 Person</option>
                 <option value = "2">2 People</option>
                 <option value = "3">3 People</option>
                 <option value = "4">4 People</option>
                 <option value = "5">5 People</option>
                 <option value = "6">6 People</option>
                 <option value = "7">7 People</option>
                 <option value = "8">8 People</option>
                 <option value = "9">9 People</option>
                 <option value = "10">10 People</option>
                </select>
               </div>
               <div id="input-wrapper-search">
                <button id="MainSearch">
                    <span id="search-label">Search</span>
                    <% submit_tag "Search", :name => nil %>
                </button>
                <% end %>
               </div>

              </div>
             
            </div>
            <!--Search Form End-->
           </div>
          </section>

         </div>

        </div>
       </div>
      </div>
      <div class="clear"></div>
     </div><!-- END .row -->
     <br/>
     
     <div class="row">

      <div class="twelve columns b0">
       <div class="builder-item-wrapper builder-rooms">

        <div class="builder-title-wrapper clearfix">

        </div>
        <div class=""><h1 style="text-align:center;padding-bottom:0.6em;padding-top:0.9em;">WORKSPACE TYPES</h1></div>
        <div class="builder-item-content row">
         <div class="twelve columns b0">
          <div class="cpt-items row clearfix isotope">

           <ul class="ch-grid">
            <div class="cpt-item four columns isotope-item logo">
             <li>
              <div class="ch-item ch-img-1">              
               <div class="ch-info-wrap">
                <div class="ch-info">
                
                 <div class="ch-info-front ch-img-1"></div>

                 <div class="ch-info-back">    
                  <h3>MEETING ROOM</h3>
                  <p>by SpaceComby <%= link_to "Meeting Room", :controller => "places", :action => "index" ,:search => "meeting" %></p>
                 </div>  
                </div>
               </div>

              </div>
             </li>
             <div class="cpt-detail">
              <h2 class="cpt-title"><%= link_to "Meeting Room", :controller => "places", :action => "index" ,:search => "meeting" %></h2>
              <p>Present your company's big idea to your client and impress them with a state of the art meeting room
</p>
             </div>
            </div>

            <div class="cpt-item four columns isotope-item logo">
             <li>
              <div class="ch-item ch-img-2">
               <div class="ch-info-wrap">
                <div class="ch-info">
                 <div class="ch-info-front ch-img-2"></div>
                 <div class="ch-info-back">
                  <h3>STARTUP INCUBATOR</h3>
                  <p>by SpaceComby <%= link_to "Startup Incubator", :controller => "places" , :action => "index",:search => "startup" %></p>
                 </div>
                </div>
               </div>
              </div>
             </li>
             <div class="cpt-detail">
              <h2 class="cpt-title"><%= link_to "Startup Incubator", :controller => "places" , :action => "index",:search => "startup" %></h2>
              <p>Well-suited for small start-ups hoping to establish a foothold in the corporate world through their very own
workspace
</p>
             </div>
            </div>

            <div class="cpt-item four columns isotope-item print">
             <li>
              <div class="ch-item ch-img-3">
               <div class="ch-info-wrap">
                <div class="ch-info">
                 <div class="ch-info-front ch-img-3"></div>
                 <div class="ch-info-back">
                  <h3>CO-WORKING SPACE</h3>
                  <p>by SpaceComby <%= link_to "Co-Working Space", :controller => "places" , :action => "index", :search => "co-working" %></p>
                 </div>
                </div>
               </div>
              </div>
             </li>
             <div class="cpt-detail">
              <h2 class="cpt-title"> <%= link_to "Co-Working Space", :controller => "places" , :action => "index", :search => "co-working" %></h2>
              <p>Providing networking opportunities, idea generation and collaboration between like-minded individuals through a common
workplace</p>
             </div>
            </div>
           </ul>
          </div>
         </div>
        </div>
       </div>
      </div>

      <div class="clear"></div>


     </div> <!-- END .row -->

     <div class="row">
      <div class="twelve columns b0">
       <div class="builder-item-wrapper builder-rooms">

        <div class="builder-title-wrapper clearfix"> </div>
        <%= link_to "View All Spaces", places_index_path, :class => "view-all" %>
        <br />
        <div class="builder-item-content row">
         <div class="">
          <h1 style="text-align:center; padding-bottom:1.6em;">TOP 6 POPULAR WORKSPACES</h1>

         </div>
         <div class="twelve columns b0">
          <div class="cpt-items row clearfix isotope">
            <% @places.sort_by{|t| - t.created_at.to_i}.first(6).each do |place| %>
           <div class="cpt-item four columns isotope-item rooms">
            <div class="thumb-wrapper">
           <% if place.image? %>
                            <%= image_tag place.image.url(:normal) %>
                            <% else %>
                            <%= image_tag("../assets/images/missing.jpg", :style=>"width:500px;height:155px;") %>
                            <% end %>
             <div class="thumb-control-wrapper" >
              <ul class="thumb-control clearfix" >
               <li style="margin-left:20px;"><a title="View Detail" href="/places/<%=place.id%>" class="go-detail">Open Detail</a></li>
               
      
              </ul>
             </div>
            </div>
            <div class="cpt-detail" style="text-align:center;">
               <h2 class="cpt-title"><a href=""><%= link_to place.title, place %></a></h2>
                            <div class="cpt-desc">S<%= number_to_currency(place.price) %></div>
            </div>
           </div>
<% end %>
           
          </div>
         </div>
        </div>
       </div>
      </div>

      <div class="clear"></div>
     </div> <!-- END .row -->
     <br />   <br /> 
    </div> <!-- END .page-wrapper -->
    <div class="clear"></div>

   </div> <!-- END .page-outer-wrapper -->
  </div>
 </div> <!-- END .main-wrapper -->
</div> <!-- END .main-outer-wrapper -->

<script>
    jQuery('#layerslider').layerSlider({
  skinsPath : '../assets/stylesheets/',
        skin : '',
        thumbnailNavigation : 'disabled',
        hoverPrevNext : false,
        responsive : true,
        responsiveUnder : 1366,
        sublayerContainer : 978,
        navStartStop:false,
        imgPreload:true
    });
</script>
