<style type="text/css">

	/*Search Button*/
	
	.verifyMain
	{
		-moz-border-radius:4px !important;
		-webkit-border-radius:4px!important;
		border-radius:4px!important;
		-webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
		border:1px solid #ccc;
	}

	.VerifyTable{

width:600;
 border:0; 
 align:center;
 cellpadding:0;
 cellspacing:0;
 
border-top:#ff580e solid 5px !important;
-moz-border-radius:4px !important; 
-webkit-border-radius:4px !important; 
border-radius:4px!important;
}


@media only screen and (max-width:640px)

{
    
    .main{width: 440px !important;}
    .inner{width: 400px !important;}
    .column{width: 440px !important;}
    
}

@media only screen and (max-width:479px)

{
    .main{width: 280px !important;}
    .inner{width: 240px !important;}
    .column{width: 240px !important;}
}


</style>


		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="main-bg" style="background:#fbf4e4;">
			
			<tr>
				<td align="center" valign="top" style="padding-bottom:60px;">

				
					<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="main">

						<br /><br />
						<tr>
							<td align="left" valign="top">

								
								<table class="VerifyTable">

									<tr>
										<td class ="verifyMain" align="left" valign="top" bgcolor="#fff" style="background:#fff; padding-top:19px; padding-bottom:22px;"><table width="560" border="0" align="center" 
											cellpadding="0" cellspacing="0" class="inner">
											
											<tr>
												<td align="center" valign="top" style="font:Bold 24px Arial, Helvetica, sans-serif; color:#525252; padding-top:2px;">
													<img src="../assets/images/cross.png" style="width:30px;" />&nbsp;Payment Failure<br/>
														<hr/>
													<p style="font-size:14px;"><br/>
Your payment cannot be processed. <br/><br/>Please check the details of your payment information again.</p>
												
											
												
												</td>
											</tr>
											<tr>
												<td align="center" valign="top" style="font:Normal 12px Arial, Helvetica, sans-serif; color:#686868; line-height:24px; padding:15px 0px 20px 0px;">
												<div align="center">	<br/>	<br/>
												<a href="/orders/new" class="btn btn_orange">Check payment details </a>
												</div>
												</td>

											</tr>

											<tr>
								
											</tr>
										</table></td>

									</tr>

								</table>
								

							</td>
						</tr>
					</table>    
					
				</td>
			</tr>

			</table>
