<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Cart</th>
      <th>Ip address</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Card type</th>
      <th>Card expires on</th>
      <th>Card number</th>
      <th>Card verification</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.cart_id %></td>
        <td><%= order.ip_address %></td>
        <td><%= order.first_name %></td>
        <td><%= order.last_name %></td>
        <td><%= order.card_type %></td>
        <td><%= order.card_expires_on %></td>
        <td><%= order.card_number %></td>
        <td><%= order.card_verification %></td>
        <td><%= order.user_id %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
