

<style>
  .notice{
    text-align: center;
    color: #9B9D93;
    font-weight: bold;
    font-size: 12px;
    background-color: #feffed;
    border: 1px solid #DCDED0;
    border-radius: 2px;
    margin-bottom: 15px;
  }


  i.tooltip {outline:none; }
  i.tooltip strong {line-height:30px;}
  i.tooltip:hover {text-decoration:none;} 
  i.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:400px; line-height:16px;
  }
  i.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
    .callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
    
    /*CSS3 extras*/
    i.tooltip span
    {
      border-radius:4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;

      -moz-box-shadow: 5px 5px 8px #CCC;
      -webkit-box-shadow: 5px 5px 8px #CCC;
      box-shadow: 5px 5px 8px #CCC;
    }
    .error{
      position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; width:93%;
      background-color: #e7c1c0;color: #b94a48;
      border-color: transparent;

    }
        .select-box{background:#f4f4f4;color:#a9a9a9;position: relative;margin-top:3px;padding:0.7em 10px;width:93%;}
    .select-box span{display: block;line-height: 18px;background:url('../assets/images/select-box.png') no-repeat right center}
    .select-box select{position: absolute;opacity: 0;left:0px;top:0;cursor: pointer;width:100%;height:100%;}
    .select-box select option{padding:10px 10px 10px 10px;background: #f8f8f9;border-top:1px solid #E0E0E0;}
    table tbody tr td {padding:15px  0px; border: none; }
      .verifyMain
  {
    -moz-border-radius:4px !important;
    -webkit-border-radius:4px!important;
    border-radius:4px!important;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    border:1px solid #ccc;
  }

  .VerifyTable{

width:600;
 border:0; 
 align:center;
 cellpadding:0;
 cellspacing:0;
 
border-top:#ff580e solid 5px !important;
-moz-border-radius:4px !important; 
-webkit-border-radius:4px !important; 
border-radius:4px!important;
}


@media only screen and (max-width:640px)

{
    
    .main{width: 440px !important;}
    .inner{width: 400px !important;}
    .column{width: 440px !important;}
    
}

@media only screen and (max-width:479px)

{
    .main{width: 280px !important;}
    .inner{width: 240px !important;}
    .column{width: 240px !important;}
}

 #fname:focus, #lname:focus,#cardnumber:focus, #cvc:focus, #visa:focus, #expiry:focus{
      outline:0;
      border-radius:3px!important;
      border:1px solid #ff6a2f!important;
      /* border-color: #f64300;*/
      box-shadow: 0 0 7px #ff6a2f;
    }

  </style>

          <div class="page-wrapper twelve columns no-sidebar b0">
            <div class="row">
              <div class="twelve columns b0">
                <div class="page-title-wrapper">
                  <h1 class="page-title left">
                    Payment Details</h1>
                    <div class="page-title-alt right">
                    </div>
                    <div class="clear">
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">

<%= form_for(@order) do |f| %>



              <div class="content-wrapper eight columns">
            
                <% if @order.errors.any? %>
                <div class="error">
                  <h2><%= pluralize(@order.errors.count, "error") %> prohibited this payment from being processed:</h2>

                  <ul>
                    <% @order.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
                <% end %>

                <% if @order.express_token.blank? %>        



              <table>
              
                <div class="notice">This transaction will take place in SGD. Your card will be charged S$<%= number_to_currency(@cart.total_price) %> <br/>Please fill in the details below. All fields are required.</div>
               <tr><td style="width:20%;">First Name </td><td>  <%= f.text_field :first_name ,:required=>"required", :style=>"width:80%; background:#ffffff;border:1.5px solid #ccc;", :id=>"fname"%></td></tr>
               <tr><td>Last Name</td><td>
                 <%= f.text_field :last_name ,:required=>"required", :style=>"width:80%; background:#ffffff;border:1.5px solid #ccc;", :id=>"lname"%>
               </td></tr>
               <tr><td>Card Type</td><td>

                <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] , :style =>"width:210%; height: 37px;border-radius:3px; border:1.5px solid #ccc; background:#ffffff;font-size: 12px;", :id=>"visa"%>

                <br/></td></tr>
                <tr><td>Card Number</td><td>
                  <%= f.text_field :card_number ,:style=>"width:95%; background:#ffffff;border:1.5px solid #ccc;" ,:required=>"required", :id=>"cardnumber"%>
                  <div align="center">
                    <img src="../assets/images/cards.gif" style="height:30px; margin-top:10px;"></div></td></tr>
                    <tr><td>CVC or CVS </td><td>  
                     <%= f.text_field :card_verification , :style=>"width:30%; background:#ffffff;border:1.5px solid #ccc;" ,:required=>"required", :id=>"cvc"%><i class="tooltip">

                     What's this?&nbsp;<img src="../assets/images/info.png" width="25px" />
                     <span>



                       <img class="callout" src="../assets/images/callout.gif" />



                       For Mastercard or Visa, it's the last three digits in the signature area on the back of your card. For American Express. it's the last four digits on the front of the card.<br/> (Please refer to the diagram below)
                       <img  src="../assets/images/cvc.jpg"  style="width:500px;" /><br/>
                     </span>

                   </i></td></tr>
                   <tr><td>Expiry Date</td><td>

                    <%= f.date_select :card_expires_on, :as => :date, :order => [:month, :year], :add_month_numbers => true, :start_year => Date.today.year, :end_year => Date.today.year + 10,  :discard_day => true , :style=>"width:210%; height: 37px;border-radius:3px; border:1.5px solid #ccc; background:#ffffff;font-size: 12px;" , :id=>"expiry"%>

                    <br/><i style="color:#fa5b0f;">The date the credit card expires. Find this on the front of the credit card.</i></td></tr></table>

                    <div class="text-content">


              
                        <div class="row" style="padding:10px 10px 10px 20px;">
                        </div>

                        <input type="checkbox" required="required"><h  style="font-size:14px;">I agree to the cancellation policy, house rules, guest refund policy terms, and terms of service.</h></input>
                        <br/> <div class="six columns b0">

                      </div>


                      <br/><br/>

                        <div align="right">
      <%= f.submit "Complete Order" , :class=>"btn btn_orange"%></div>
                        <% else %>
    <%= f.hidden_field :express_token %>
    <table width="70%" border="0" align="center" cellpadding="0" cellspacing="0" class="main-bg" >
    
    <tr>
      <td align="center" valign="top" style="padding-bottom:60px;padding-left:40px;">

        
        <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="main">

          <br /><br />
          <tr>
            <td align="left" valign="top">

              
              <table class="VerifyTable">

                <tr>
                  <td class ="verifyMain" align="left" valign="top" bgcolor="#fff" style="background:#fff; padding-top:19px; padding-bottom:22px;"><table width="560" border="0" align="center" 
                    cellpadding="0" cellspacing="0" class="inner">
                    
                    <tr>
                      <td align="center" valign="top" style="font:Bold 24px Arial, Helvetica, sans-serif; color:#525252; padding-top:2px;">
                        Your paypal transaction has been recorded

                        <hr>

                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="top" style="font:Normal 12px Arial, Helvetica, sans-serif; color:#686868; line-height:24px; padding:15px 0px 20px 0px;">
                        Please confirm the payment of <b>$<%= number_to_currency(@cart.total_price) %></b>&nbsp; to secure your booking.

                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="top" style="padding-bottom:1em;">


                        <% if flash[:error] %>
                        <div class="notice"><%= flash[:error] %></div>
                        <% end %>
                        <br/>
                      
                        <!-- <label for="verification code">Verification</label> -->
                        
           <div align="center">
      <%= f.submit "Complete Order" , :class=>"btn btn_orange"%></div>           
 <% end %>
                      </td>
                    </tr>
                  </table></td>
                </tr>

              </table>
              

            </td>
          </tr>
        </table>    
        
      </td>
    </tr>
    <tr>
      
    </tr>
  </table>

                      <% end %>

                  
                     



                  </div> <!-- END .text-content -->
                </div>

                <div class="sidebar right-sidebar-wrapper four columns" style=" width:30%;">

                  <div class="widget-container widget-text" id="widget-ID-name">
                    <h3 class="widgettitle"><i class="icon-lock"></i>&nbsp;&nbsp;&nbsp;Secured Payment</h3>
                    <div class="widget-content">
                      <div class="contact-text">
                        <ul>
                          <li>

                            <span>
                             This website is secured. Your personal details are protected at all times.<br/>
                             <div align="center">
                              <img src="../assets/images/verify.gif">
                              <img src="../assets/images/verisign.jpg" style="width:50%;">
                            </div>
                          </span>
                          <div class="clear"></div>
                        </li>

                      </ul>
                    </div>
                  </div>
                </div>

                <div class="widget-container widget-text" id="widget-ID-name">
                  <h3 class="widgettitle">Need Help?</h3>
                  <div class="widget-content">
                    <div class="contact-text">
                      <ul>
                        <li>

                          <span>If you encounter any issues, please contact us at:</span><br/>
                          <b>General Enquiries:</b><br/>info@spacecomby.com<br/><br/>
                          <b>Sales Enquiries:</b><br/>sales@spacecomby.com<br/>
                          <div class="clear"></div>
                        </li>


                      </ul>
                    </div>
                  </div>
                </div>


              </div>

      

        <div class="clear"></div>

      </div> <!-- END .page-outer-wrapper -->
    </div>
  </div> <!-- END .main-wrapper -->




        </div> <!-- END .main-outer-wrapper --> 