 <% provide(:title, 'My Cart') %>

<% if @cart.line_items.empty?%>

<div class="row">
    <div class="content-wrapper twelve columns">
<h1 style="margin-left:20px;">My Cart</h1>
      <div class="row">
        <div class="three columns" style="width:74%">
          <div style="margin-left:15px;">
        <br/><br/>
         Your cart is currently empty.
 <br/><br/>
              <a href="/places/index" class="btn btn_gray"><i class="icon-chevron-left" ></i>&nbsp;Continue Booking</a>
         </div>
         </div>
              <div class="three columns">
        <div class="widget-container widget-text" id="widget-ID-name">
          <h3 class="widgettitle"><i class="icon-lock"></i>&nbsp;&nbsp;&nbsp;Secured Payment</h3>
          <div class="widget-content">
            <div class="contact-text">
              <ul>
                <li>

                  <span>
                   This website is secured. Your personal details are protected at all times.<br/>
                   <div align="center">

                    <%= image_tag "../assets/images/verify.gif " ,:style=>"width:210px;" %></a><br/>
                    <%= image_tag "../assets/images/verisign.jpg" ,:style=>"width:150px;" %></a>

                  </div>
                </span>
                <div class="clear"></div>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <br/>
      <div class="widget-container widget-text" id="widget-ID-name">
        <h3 class="widgettitle">Need Help?</h3>
        <div class="widget-content">
          <div class="contact-text">
            <ul>
              <li>

                <span>If you encounter any issues, please contact us at:</span><br/><BR/><br/>
                <b>General Enquiries:</b><BR/>info@spacecomby.com<br/><br/>
                <b>Sales Enquiries:</b><BR/>sales@spacecomby.com<br/>
                <div class="clear"></div>
              </li>


            </ul>
          </div>
        </div>
      </div>

    </div>


  </div>
         </div>

         </div>

         </div>


<%else%>
<div class="page-wrapper twelve columns no-sidebar b0">
  <div class="row">
    <div class="twelve columns b0">
      <div class="page-title-wrapper" style="margin-left:-10px;">
        <h1 class="page-title left" >
          Your Cart</h1>
          <div class="page-title-alt right">
          </div>
          <div class="clear">
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="content-wrapper twelve columns">

      <div class="row">
        <div class="three columns" style="width:74%">
          <div style="margin-left:15px;">
           <a href="/places/index" class="btn btn_gray"><i class="icon-chevron-left" ></i>&nbsp;Continue Booking</a><br/><br/>
         </div>
         <div class="cpt-items row clearfix isotope" style=" margin-left:20px;">
           <% if user_signed_in? %>                             
           <% @cart.line_items.each do |item| %>  
           <div class="cpt-item five columns isotope-item rooms">
            <div class="thumb-wrapper">
              <% if item.place.image? %>
              <%= image_tag(item.place.image.url) %>

              <% else %>
              <%= image_tag("../assets/images/missing.jpg", :style=>"width:280px;height:160px;") %>
              <% end %>
              <div class="thumb-control-wrapper">
                <ul class="thumb-control clearfix">
                  <li style="margin-left:20px;"><a title="View Detail" href="/places/<%=item.place.id%>" class="go-detail">Open Detail</a></li>
                
                </ul>
              </div>
            </div>

          </div> 
          <A href="/places/<%=item.place.id%>"><span class="recent-date" style="font-size:20px ;color:black;"><b><%= item.place.title %></b></span></a>
            <br/>
            <BR/>
            <BR/>
            <span class="recent-date" style="color:#808080;font-size:14px;"><i class="icon-briefcase" ></i>&nbsp; TYPE<h style ="margin-left:92px;text-transform:uppercase;"><%= item.place.wsType %></h></span>


            <br/>
            <span class="recent-date"style="color:#808080;font-size:14px;"><i class="icon-calendar"></i>&nbsp;&nbsp;CHECK IN  <h style ="margin-left:60px;"><%= item.place.select_start %></h></span>
            <br/>
            <span class="recent-date"style="color:#808080;font-size:14px;"><i class="icon-calendar"></i>&nbsp;&nbsp;CHECK OUT <h style ="margin-left:44px;"><%= item.place.select_end %></h></span> 
            <br/> <br/>
            <span class="recent-date"style="color:#808080;font-size:16px ;margin-left:230px;"><i class="icon-check"></i>&nbsp;&nbsp;Price:&nbsp;&nbsp; <h><%= number_to_currency(item.total_price) %>/day</h></span>
          </div>  



          <div style=" margin-left:20px;">



            <HR/>
            <% end %>    


          
            <div align="right">
             
           <i class="icon-money"></i> Grand Total: &nbsp;&nbsp;<%= number_to_currency(@cart.total_price) %>
            </div>
<div   style="margin-top:-20px; ">
            <%= button_to 'Remove all bookings', @cart, :method => :delete, :confirm => 'Are you sure?', :class=>"btn btn-primary higher bold" %> 
</div>
            <br/><br/>
            <div align="right"> 
             <%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), express_orders_path %>


             &nbsp;&nbsp; &nbsp;&nbsp;<b>OR &nbsp;&nbsp; &nbsp;&nbsp;</b>

             <%= link_to "Pay Now", new_order_path , :class=>"btn btn_orange"%><br/><br/>

             <input type="checkbox" required="required" checked="checked">I agree to the cancellation policy, house rules, guest refund policy terms, and terms of service.</input>

           </div>
         </div>

         <% else %>

         <%= render "place/new" %>

         <% end %>
       </div>
       <div class="three columns">
        <div class="widget-container widget-text" id="widget-ID-name">
          <h3 class="widgettitle"><i class="icon-lock"></i>&nbsp;&nbsp;&nbsp;Secured Payment</h3>
          <div class="widget-content">
            <div class="contact-text">
              <ul>
                <li>

                  <span>
                   This website is secured. Your personal details are protected at all times.<br/>
                   <div align="center">

                    <%= image_tag "../assets/images/verify.gif " ,:style=>"width:210px;" %></a><br/>
                    <%= image_tag "../assets/images/verisign.jpg" ,:style=>"width:150px;" %></a>

                  </div>
                </span>
                <div class="clear"></div>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <br/>
      <div class="widget-container widget-text" id="widget-ID-name">
        <h3 class="widgettitle">Need Help?</h3>
        <div class="widget-content">
          <div class="contact-text">
            <ul>
              <li>

                <span>If you encounter any issues, please contact us at:</span><br/><BR/><br/>
                <b>General Enquiries:</b><BR/>info@spacecomby.com<br/><br/>
                <b>Sales Enquiries:</b><BR/>sales@spacecomby.com<br/>
                <div class="clear"></div>
              </li>


            </ul>
          </div>
        </div>
      </div>

    </div>


  </div>

  <div class="clear"></div>
</div>


</div>
</div>
<%end%>