<% provide(:title, 'log In') %>

<style>
 .error{
  position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; width:89%;
  background-color: #e7c1c0;color: #b94a48;
border-color: transparent;

 }
 .alert {position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;background-color: #faf2cb;color: #c09853;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;width:89%;}
 .success {   position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;background-color: #c3e4b8;color: #468847;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; width:89%;
  background-color: #e7c1c0;color: #b94a48;}


  .info {  position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;background-color: #b9dbee;color: #3a87ad;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; width:89%;
  }

  .block {padding-top: 14px;padding-bottom: 14px;}

 </style>

 <div class="titlebar-outer-wrapper" style="background: url(<%= asset_path '../assets/images/Blur.jpg' %>) no-repeat top center;">

  <div class="shadow-box">
  </div>
 </div>

 <div class="main-outer-wrapper has-titlebar">
  <div class="main-wrapper container">
   <div class="row row-wrapper">
    <div class="page-outer-wrapper">
     <div class="page-wrapper twelve columns no-sidebar b0">
      <div class="row">
       <div class="twelve columns b0">
        <div class="page-title-wrapper">
         <h1 class="page-title left">
          Log In</h1>
          <div class="page-title-alt right">
          </div>
          <div class="clear">
          </div>
         </div>
        </div>
       </div>

      </div>

      <div class="row" style="margin-left:35px;">
       <br/><br/>       
       <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>


       <%= content_tag(:div, flash[:error], :id => "flash_error", :class=>"error" ) if flash[:error]%>
       <%= content_tag(:div, flash[:alert], :id => "flash_alert",:class=>"alert") if flash[:alert] %>

       <div class="row">
        <div class="six columns">
         <h3>  <p style="text-transform:uppercase;display:block; background-color:#808080; padding:5px 10px;  color:white;width:100%;">Sign in using Social login:</p></h3>

         <div >   
          <br/> 
          <div style="margin-left:80px;">                     
          <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to image_tag("../assets/images/facebook.png" , :style=>"width:220px;  margin-left:15px;margin-top:30px;"), omniauth_authorize_path(resource_name, provider) %><br />
          <% end -%><% end -%></div><br/><br/> <br/> <br/> &nbsp;&nbsp;&nbsp;&nbsp;  Not a member ? <a href="/users/register">Create an account</a><br/><a href="/users/confirmation/new"  style=" margin-left:20px;">Didn't receive confirmation instructions?</a>
    
         </div>
         <br/><br/>   

        </div><!--six columns-->

        <div class="six columns">
         <h3><p style="text-transform:uppercase;display:block; background-color:#808080; padding:5px 10px;  color:white;width:90%; ">Sign in using Email:</p></h3>


          <div class="form-row field_text" style="  margin-left:30px;">
           <label>Your email address:</label>
           <%= f.email_field :email , :placeholder=>"youremail@domain.com" , :class=>"input_text required" ,:style=>"WIDTH:75%;color:#808080; padding:0.7em 10px; border:1px solid #CCC; background:#f4f4f4;font-size: 12px;border-radius:6px;", :required=>"required"%>
          </div><!--form-row field_text-->

          <div class="form-row field_text" style="  margin-left:30px;">
           <label>Password:</label>

           <%= f.password_field :password ,:class=>"input_text required" ,:placeholder=>"eg. X8df!90EO", :type=>'password', :required=>'required', :style=>"width:75%;border:1px solid #CCC;border-radius:6px;"%>
          </div><!--form-row field_text-->

          <p style="  margin-left:20px; margin-top:10px">
           <% if devise_mapping.rememberable? -%>
           <%= f.check_box :remember_me %> 
           <p style=" margin-left:40px; margin-top:-40px;"><%= f.label :remember_me %></p>
           <% end -%>
          </p>
          <div style="margin-left:30px;margin-top:30px;">
          <a href="/users/password/new" >Forgot your password?</a>
          </div>
          <br/>

          <div style="margin-left:270px;">
           <%= f.submit "Sign in", :class=>"btn btn_orange"  %>
          </div>

         </div><!--six columns-->

        </div> <!-- END .row -->

        <% end %>
       </div><!-- END .row -->

      </div>
     </div>
     <!-- END .page-wrapper -->
     <div class="clear">
     </div>
     <br />
    </div>
    <!-- END .page-outer-wrapper -->
   </div>
  </div>
  <!-- END .main-wrapper -->
