 <% provide(:title, 'My Stays') %>

<% if notice %>
<p id="notice"><%= notice %></p>

<% end %>
<style>
  .number{

    font-size: 4.2em;
    font-weight: 100;
    color: #FA5B0F;
    line-height: 1.3em;
    padding-top: 8px;
    letter-spacing: -0.06em;


  }

  small {
    font-size: 75%;
    vertical-align: top;
  }
</style>
<h1 class="page-title-wrapper" style="margin-left:0px;width:115%;">My stays</h1>
<% if @orders.empty?%>
You have not book any places.
<%else%>






<div class="row" style="width:115%;">
  <div class="twelve columns b0">
   <div class="cpt-items row clearfix isotope" >

    <% @user.orders.each do |order| %> 
    <% order.order_places.each do |item| %> 


    <div class="cpt-item six columns isotope-item rooms">
      <div id="places">
        <h style="text-align:center;">Booking ID:&nbsp;<%=order.id%> </h><br/>
        <h style="text-align:center;">Booking Date:&nbsp;<%=item.created_at.strftime('%Y-%m-%e') %></h>
<br/><br/>
        <div class="thumb-wrapper">

  
         <%= image_tag sanitize(item.place.image.url) %>

         <div class="thumb-control-wrapper">
          <ul class="thumb-control clearfix">
              <li style="margin-left:20px;"><a title="View Detail" href="/places/<%=item.place.id%>" class="go-detail">Open Detail</a></li>
          </ul>
        </div>
      </div>
      <div class="cpt-detail" >
        <h2 class="cpt-title" style="color:#808080;"><a href="/places/<%= item.place.id%>" style="color:#463E3F;"> <%= sanitize(item.place.title) %></a></h2>
        <div class="cpt-desc">                  

     <i class="icon-calendar"></i>&nbsp;&nbsp;<h style="font-style:normal;font-size:14px;"> Check In On&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=item.start_date %></h>
           <br/>
           <i class="icon-calendar"></i>&nbsp;&nbsp; <h style="font-style:normal;font-size:14px;"> Check Out On 
           &nbsp;&nbsp;<%=item.end_date %></h>
           <br/>
           <i class="icon-money"></i>&nbsp;&nbsp;<h style="font-style:normal;font-size:14px;">  Total Amount 
           &nbsp;&nbsp;&nbsp;&nbsp;$<%=item.amount %></h>



       </div>

       <div >
        <br/>
        <a href="/places/<%= item.place.id%>/rating" class="btn btn_orange"><i class="icon-star"></i>Rate it!</a>
        <a href="/places/<%= item.place.id%>/review" class="btn btn_orange"><i class="icon-list"></i>Review it!</a>

      </div>      
    </div>
  </div>

</div>

<% end %>

<% end %>
</div>
</div>

</div>

<% end %>