 <% provide(:title, 'Settings') %>
<style>
  .error{
    position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; width:100%;background-color: #e7c1c0;color: #b94a48;border-color: transparent;

  }
  .alert {position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;background-color: #faf2cb;color: #c09853;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
  .success {   position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;background-color: #c3e4b8;color: #468847;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; width:100%;
    background-color: #e7c1c0;color: #b94a48;}


    .info {  position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;background-color: #b9dbee;color: #3a87ad;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; width:100%;
    }



    .block {padding-top: 14px;padding-bottom: 14px;}


    * {
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
    }




    article {
      margin-bottom: 3rem;
      position: relative;
      *zoom: 1;
    }

    article:before, article:after {
      content: "";
      display: table;
    }

    article:after { clear: both }

    article section:first-of-type {
      float: right;
      width: 62.5%;
    }

    article section:last-of-type {
      display: none;
      visibility: hidden;
    }

    section {
      -webkit-transition: .125s linear;
      -moz-transition: .125s linear;
      -ms-transition: .125s linear;
      -o-transition: .125s linear;
      transition: .125s linear;
    }

    input[type=checkbox] {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      color:white;
    }

    [for="read_more"] {
      position: absolute;
      bottom: -3rem;
      left: 0;
      width: 40%;
      background-color: #808080;
      color:white;
      text-align: center;
      padding: .45rem;
      box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
    }

    [for="read_more"]:hover {
      background: rgba(0,0,0,.5);
      color: rgb(255,255,255);
      color:white;
    }

    [for="read_more"] span:last-of-type {
      display: none;
      visibility: hidden;
      color:white;
    }

    input[type=checkbox]:checked ~ section {
      display: block;
      visibility: visible;
      width: 100%;
    }

    input[type=checkbox]:checked ~ figure { width: 100% }

    input[type=checkbox]:checked ~ [for="read_more"] span:first-of-type {
      display: none;
      visibility: hidden;
      color:white;
    }

    input[type=checkbox]:checked ~ [for="read_more"] span:last-of-type {
      display: block;
      visibility: visible;
      color:white;
    }
    table tbody tr td {padding: 0px 0px; border: none; }


    #password:focus{
      outline:0;
      border-radius:3px!important;
      border:1px solid #ff6a2f!important;
      /* border-color: #f64300;*/
      box-shadow: 0 0 7px #ff6a2f;
    }

    i.tooltip {outline:none; }
  i.tooltip strong {line-height:30px;}
  i.tooltip:hover {text-decoration:none;} 
  i.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:290px; line-height:16px;
  }
  i.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
    .callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
    
    /*CSS3 extras*/
    i.tooltip span
    {
      border-radius:4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;

      -moz-box-shadow: 5px 5px 8px #CCC;
      -webkit-box-shadow: 5px 5px 8px #CCC;
      box-shadow: 5px 5px 8px #CCC;
    }
  </style>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>



 






                  <div class="row" style="width:100%;">
        
  <div class="form-row field_text" style="width:100%;">
              <h3 class="comments-header-title"><i class="icon-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;Account Settings</h3>
               <p style="color:red; ">* Indicates required fields</p>
                                     
                                   </div>
                      <div class="st-tabs b40 "style="width:105%;">

                        <ul class="tab-title">

                        

                          <li tab-id="tab2" class="">Account Information</li>

                        </ul>
                        <div class="tab-content-wrapper" style="margin-top:0px;">
                     </td>

                                </tr>



                            
                           </table>  
                         </div>
                         <div class="tab-content" tab-id="tab2">
                       
                        

                          
                          <h3 class="comments-header-title">Change Password</h3>
                          <div class="form-row field_text">
                               <label>Your email address:&nbsp; &nbsp; &nbsp;<%=current_user.email%></label>
                                 <br/><label> Current Password<i style="color:red;">*</i></label>  
                                <%= f.password_field :current_password ,:style=>"width: 100%; border-radius:3px;color:black; border:1.5px solid #ccc; background:#ffffff;font-size: 12px;", :id=>"password"%><br/>
                            <label>Password<i style="color:red;">*</i><i class="tooltip">

                    <img src="../assets/images/info.png" width="15px" />
                     <span style="margin-top:-10px;margin-left:0px; border-radius:6px;">
                                 
                      Password must be least 8 characters long
      
                     </span>
                   </i>


                            </label>
                          
                            <%= f.password_field :password, :autocomplete => "off",:style=>"width: 100%; border-radius:3px;color:black; border:1.5px solid #ccc; background:#ffffff;font-size: 12px;", :id=>"password" %></div>

                            <div class="form-row field_text">

                            <label> Confirm Password<i style="color:red;">*</i><i class="tooltip">

                    <img src="../assets/images/info.png" width="15px" />
                     <span style="margin-top:-10px;margin-left:0px; border-radius:6px;">
                                 
                      Password must be least 8 characters long
      
                     </span>
                   </i></label>
                              <%= f.password_field :password_confirmation ,:style=>"width: 100%; border-radius:3px;color:black; border:1.5px solid #ccc; background:#ffffff;font-size: 12px;", :id=>"password"%></div>

                            


             <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                                         <% end %> 
                      <br/>
                                <div class="form-row field_submit mt20" align="right">

                                 <%= f.submit "Update My Password", :class=>"btn btn_orange"  %>
          
                            <% end %>      
                      
                                  
                       
        </div>   
                           
         <br/>           <br/>  
           
                               <h3 class="comments-header-title">Cancel My Account</h3>   
                               <DIV style="margin-left:15px;">
                                <article>

                                  <input type="checkbox" id="read_more" role="button">
                                  <label for="read_more" onclick="" > <span style="color:white;">CANCEL MY ACCOUNT</span><span>DONT CANCEL MY ACCOUNT YET </span></label>     





                                  <section style="padding:10px 0px 0px 10px; ">
                                    Tell Us why u're leaving<br/><br/>
                                    <input type="radio" name="reasons" value="safety">I have safety concerns.<br/><br/>
                                    <input type="radio" name="reasons" value="privacy">I have privacy concerns.<br/><br/>
                                    <input type="radio" name="reasons" value="usefulness">I don't find it useful.<br/><br/>
                                    <input type="radio" name="reasons" value="usage">I don't understand how to use it.<br/><br/>
                                    <input type="radio" name="reasons" value="temp">It's temporary; I'll be back.<br/><br/>
                                    <input type="radio" name="reasons" value="others">Others<br/>
                                    <textarea rows="4" cols="50" style="width: 100%; border-radius:3px;color:black; border:1.5px solid #ccc; background:#ffffff;font-size: 12px;" id="password"> 

                                    </textarea><br/><br/><br/>
                                    <div style="margin-left:10px;">
                                    WHATS GOING TO HAPPEN?
                                    <ul><br/>
                                      <li style="list-style-type:square;">Your profile and any listings will disappear.</li><br/>
                                      <li style="list-style-type:square;">We'll remove you from any groups you're in.</li><br/>
                                      <li style="list-style-type:square;"><b>We'll miss you terribly.</b></li></ul>

                                      <div class="six columns b0">      

                                        <div class="form-row field_submit mt20" style="margin-left:300px; margin-top:15px; position:absolute;">
                                         <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete , :style=>"color:white;"%>
 
                        
                                       </div>

                                     </div>
                                     </div>
                                   </section>

                                 </article>

                                 <BR/><BR/>


                               </DIV>

                             </div>  

                           </div>

                         </div>
                       </div>


                       <div class="clear"></div>
               
                    

