

<% provide(:title, 'Analytics') %>

<style>
.row-fluid [class*="span"].pull-right{float:right;}
.row-fluid .span3{width:23.404255319148934%;*width:23.351063829787233%}
.well{margin-bottom:24px}.infobox.well{padding:23px 20px}
.infobox [class*=" icon-"]{font-size:4em}}
.well{padding:24px 20px}
.infobox [class*=" icon-"]{position:relative!important}
.span3{width:220px}
.pull-right{float:right}
.pull-right,[class*=" icon-"].pull-right{margin-left:.3em}[class^="icon-"],[class*=" icon-"]{display:inline;width:auto;height:auto;line-height:normal;vertical-align:baseline;background-image:none;background-position:0 0;background-repeat:repeat;margin-top:0}
.text-right{text-align:right; font-size:15px!important;}
.well{margin-bottom:20px;background-color:#f5f5f5;border:1px solid #e3e3e3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);box-shadow:inset 0 1px 1px rgba(0,0,0,0.05)}
.capsmuted{ font-size:12px;color:#A4A4A4;}


.top-bar h3{font-family:'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif}
.top-bar h3{color:white!important;}.top-bar h3{font-size:1em;line-height:18px;font-weight:normal}
.top-bar h3{margin:14px 0}.top-bar>div{padding:0;margin:15px 0 13px 0}
.top-bar{background-image:-moz-linear-gradient(bottom,rgba(0,0,0,0.01) 0,rgba(255,255,255,0.01) 100%);background-image:-o-linear-gradient(bottom,rgba(0,0,0,0.01) 0,rgba(255,255,255,0.01) 100%);background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,0.01) 0,rgba(255,255,255,0.01) 100%);background-image:linear-gradient(bottom,rgba(0,0,0,0.01) 0,rgba(255,255,255,0.01) 100%);background-color:#3a3a3a;color:#f2f2f2;display:block;padding:0 20px;border-radius:5px 5px 0 0;overflow:hidden;text-shadow:0 1px 0 black;border:1px solid #343434}.top-bar h3 i{color:#666}


.graph{height:240px;padding:0;position:relative;width:100%;margin-bottom:24px}
.alert .close{top:0}


.no-padding{padding:0}
.spanA,.span8{width:645px}
.row-fluid .spanA{width:48.93617021276595%;*width:48.88297872340425%}

.table th{font-weight:bold}.table thead th{vertical-align:bottom}.table caption+thead tr:first-child th,.table caption+thead tr:first-child td,.table colgroup+thead tr:first-child th,.table colgroup+thead tr:first-child td,.table thead:first-child tr:first-child th,.table thead:first-child tr:first-child td{border-top:0}.table tbody+tbody{border-top:2px solid #ddd;}
.table thead th:last-child,.data-table thead th:last-child{padding-right:20px;}
.table thead th{vertical-align:bottom;}
.table{width:100%;margin-bottom:20px}.table th,.table td{padding:8px;line-height:20px;text-align:center;vertical-align:top;border-top:1px solid #ddd}.table th{font-weight:bold}.table thead th{vertical-align:bottom}


.alert{-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5),0 2px 4px rgba(0,0,0,0.08),inset 0 -1px 0 rgba(0,0,0,0.25);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5),0 2px 4px rgba(0,0,0,0.08),inset 0 -1px 0 rgba(0,0,0,0.25);box-shadow:inset 0 1px 0 rgba(255,255,255,0.5),0 2px 4px rgba(0,0,0,0.08),inset 0 -1px 0 rgba(0,0,0,0.25);background-image:-moz-linear-gradient(bottom,rgba(0,0,0,0.01) 0,rgba(255,255,255,0.01) 100%);background-image:-o-linear-gradient(bottom,rgba(0,0,0,0.01) 0,rgba(255,255,255,0.01) 100%);background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,0.01) 0,rgba(255,255,255,0.01) 100%);background-image:linear-gradient(bottom,rgba(0,0,0,0.01) 0,rgba(255,255,255,0.01) 100%)}.well .alert{-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5),0 2px 4px rgba(0,0,0,0.08),inset 0 -1px 0 rgba(0,0,0,0.15);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5),0 2px 4px rgba(0,0,0,0.08),inset 0 -1px 0 rgba(0,0,0,0.15);box-shadow:inset 0 1px 0 rgba(255,255,255,0.5),0 2px 4px rgba(0,0,0,0.08),inset 0 -1px 0 rgba(0,0,0,0.15)}[class^="icon-"],[class*=" icon-"]{margin-top:-1px;padding-right:5px}



    #hashtag {
   
    background-color:#eeeeee;
    padding: 7px 13px 7px 13px;
    padding-bottom: -4px;
   
     -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: left;
    font-size:13px;
    margin-bottom:10em!important;
    
}


#tags{height:400px!important;}

</style>

  


 <div class="row">
              <div class="twelve columns b0">
                <div class="page-title-wrapper">
                  <h1 class="page-title left">

                   Analytics</h1>
                   <div class="page-title-alt right">
                   </div>
                   <div class="clear">
                   </div>
                 </div>
               </div>
             </div>

             <br/>

                                     <div class="six columns" style="width:29%; padding-bottom:10em;">
                                           
                                      
                                      
                                           
                                  
<!-- Information Boxes -->
		
				<div style="margin-left:1.2em;">
			<!-- Information Boxes: Users Registered -->
			<div class="span3 well infobox">
				<i class="icon-6x icon-user"></i>
				<div class="pull-right text-right">
					View Count<br>
					<b class="huge">20</b><br>
					<span class="capsmuted" id="small">Today</span>
				</div>
			</div>
			<!-- / Information Boxes: Users Registered -->

			<!-- Information Boxes: Active Users -->
						<div class="span3 well infobox" >
				<i class="icon-6x icon-facebook"></i>
				<div class="pull-right text-right">
					No. of FB Share<br>
					<b class="huge">0</b><br>
					<span class="capsmuted">Today</span>
				</div>
			</div>
			
			<!-- / Information Boxes: Active Users -->

			<!-- Information Boxes: Images -->
			<div class="span3 well infobox">
				<i class="icon-6x icon-time"></i>
				<div class="pull-right text-right">
					Avg View Time<br>
					<b class="huge">00:03:34</b><br>
					<span class="capsmuted">Today</span>
					
				</div>
			</div>
			<br/>
			<!-- / Information Boxes: Images -->
				<b style="font-size:18px;">Top 5 Keywords</b>
				<hr/>
				
			   <div class="tags">
                      <a id="hashtag">#bright</a> &nbsp;
                    <a id="hashtag" >#clean</a> &nbsp; 
                     <a id="hashtag" >#good</a>&nbsp;
                     </div>
                     <div style="padding-top:17px;">
                      <a id="hashtag">#great</a> &nbsp;
                      <a id="hashtag">#pleasant</a>
                  </div>
			
			

		
		<!-- / Information Boxes -->
</div>
  </div>

    <div class="six columns">
<!-- WYSIWYG -->
		<div class="">

			<!-- Add News: Box -->
			<div class="spanA">
				<!-- Add News: Top Bar -->
				<div class="top-bar">
					<h3><i class="icon-calendar"></i> Sentiment Anaylsis of Reviews</h3>
				</div>
				<!-- / Add News: Top Bar -->

				<!-- Add News: Content -->
				<div class="well no-padding">

					<!-- Add News: WYSIWYG Edior -->
					<table class="table">
		              <thead>
		                <tr>
		                  <th>#</th>
		                  <th>First Name</th>
		                  <th>Last Name</th>
		                  <th>Review Score</th>
		                  
		                </tr>
		              </thead>
		              <tbody>
		                <tr>
		                  <td>1</td>
		                  <td>evelyn</td>
		                  <td>Chin</td>
		                  <td>7</td>
		                </tr>
		                <tr>
		                  <td>2</td>
		                  <td>Pearlyn</td>
		                  <td>Tan</td>
		                  <td>7</td>
		                </tr>
		                
		              </tbody>
		            </table>
					<!-- / Add News: WYSIWYG Edior -->

				</div>
				<!-- / Add News: Content -->
					<ul class="st-pagination" style="float:right;">
                                                <li><a class="previous" href="#">Previous</a></li>
                                                
                                                <li><a class="page-current" href="#">1</a></li>
                                                
                                                <li><a class="next" href="#">Next</a></li>
                                            </ul>
			</div>
			<!-- / Add News: Box -->
				
		</div>
		<!-- / WYSIWYG -->

<br/><br/><br/>
			<div class="span8">

				<!-- Site Traffic: Top Bar -->
				<div class="top-bar">
					
					  <h3><i class="icon-bar-chart" style="color:#666;"></i> Weekly Traffic</h3>
					
					
				<div><a href="#" class="top-bar-minimize" rel="tooltip" title="" data-original-title="Minimize"></a> </div></div>
				<!-- / Site Traffic: Top Bar -->

				<!-- Site Traffic: Content -->
				<div class="well">

					<div class="tab-content">

					  <div class="tab-pane active" id="">

						  	

							<div class="alert alert-info" style="margin-top:-10px;">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<i class="icon-bolt"></i> <b>Last Update</b> Traffic was last updated 3 hours ago.
							</div>

							
								
								                     <img src="../assets/images/Anayticsgraph.png" alt="" style="height:300px;">
							
						</div>
						  
						

					</div>

				</div>
				<!-- / Site Traffic: Content -->

			</div>

        </div>
                                        <div class="clear"></div>



