<% provide(:title, 'Why Host') %>



                    <div class="row" style="margin-top:-1.1em;">
                        <div class="twelve columns b0">
                            <div class="builder-item-wrapper builder-banners">
                                <div class=""><h1 style="text-align:center;padding-bottom:0.6em;padding-top:0.9em;">WHAT'S IN IT FOR ME</h1></div>

                                <div class="row">
                                    <div class="four columns">
                                        <h3><i class="icon-user"></i>&nbsp;User Profile</h3>
                                        Learn about potential member before they book
                                    </div>
                                    <div class="four columns">
                                        <h3><i class="icon-facebook-sign"></i>&nbsp;Facebook Sign-On</h3>
                                        Register with your Facebook Account with a single click
                                    </div>
                                    <div class="four columns">
                                        <h3><i class="icon-ok-sign"></i>&nbsp;Free to List</h3>
                                        You pay 3% only when you receive a successful booking

                                    </div>
                                    <div class="clear"></div>
                                </div>

                                <div class="row">
                                    <div class="four columns">
                                        <h3><i class="icon-comments"></i>&nbsp;Customer Support</h3>
                                        Our customer service team is available around the clock
                                    </div>
                                    <div class="four columns">
                                        <h3><i class="icon-camera"></i>&nbsp;Free Photography</h3>
                                        We will send a professional photographer at no charge
                                    </div>
                                    <div class="four columns">
                                        <h3><i class="icon-star"></i>&nbsp;Earn Reviews</h3>
                                        SpaceComby's reviews help you build a real reputation
                                    </div>
                                    <div class="clear"></div>
                                </div>


                                <div class="row">
                                    <div class="four columns">
                                        <h3><i class="icon-check"></i>&nbsp;Accept/Decline</h3>
                                        When a request is submitted, you approve who gets to rent your workspace
                                    </div>
                                    <div class="four columns">
                                        <h3><i class="icon-magic"></i>&nbsp;1-Click Listing</h3>
                                        Post once & your listing is active until you turn it off
                                    </div>
                                    <div class="four columns">
                                        <h3><i class="icon-th"></i>&nbsp;Multiple Listings</h3>
                                        Manage listings around the world with one account
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                <div class="row">
                                    <div class="four columns">
                                        <h3><i class="icon-ban-circle"></i>&nbsp;Cancellation Policies</h3>
                                        Choose your flavour, we uphold them for you
                                    </div>
                                   <div class="four columns">
                                        <h3><i class=" icon-th-list"></i>&nbsp;List Any Space</h3>
                                        Meeting Rooms, Start-up Incubators, Co-Working Spaces and more
                                    </div>
                                    <div class="four columns">
                                        <h3><i class="icon-credit-card"></i>&nbsp;Online Transactions</h3>
                                        SpaceComby handles all payments ensuring you get paid, and on time
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                <div class="row">
                                    <div class="four columns">
                                        <h3><i class="icon-calendar"></i>&nbsp;Calendar</h3>
                                        Easily manage your availability & reservations
                                    </div>
                                    <div class="four columns">
                                        <h3><i class="icon-share"></i>&nbsp;Social Media Options</h3>
                                        Share your workspace on various social media platform
                                    </div>
                                 
                                    <div class="clear"></div>
                                </div>

                                <div class="row">
                                   


                                    <div class="clear"></div>
                                </div>


                            </div>
                        </div>
                        <div class="clear"></div>
                    </div><!-- END .row -->

                    <br /><br />

                    <div class="row">

                        <div class="row">

                            <div class="twelve columns b0">
                                <div class="builder-title-wrapper clearfix"> </div>

                                <h1 class="page-title center" style="text-align:center;padding-bottom:0.6em;padding-top:0.9em;">
                                    Join the SpaceComby Community and Start Hosting today!</h1>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <center><a href="/places/new" class="btn color"style="margin-top:2px;"><i class="icon-home"></i>&nbsp;&nbsp;List Your Space</a></center>

                                    <div class="page-title-alt right">
                                    </div>
                                    <div class="clear">
                                    </div>

                                </div>
                            </div>
                            <div class="clear">
                            </div>
                            <div class="clear">
                            </div>
                            <div class="clear">
                            </div>
                            <br />   <br /> 
                        </div> <!-- END .page-wrapper -->
                        <div class="clear"></div>

