 <% provide(:title, 'How It Works') %>
    
 <style>

    .NumberLabel {
      font-size: 16px;
      margin-right: 8px;
      background-color: #ff6a2f;
      padding: 2px 10px 2px 10px;
      padding-bottom: -4px;
      border:2px solid #ff6a2f!important;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      border-radius: 9px;
  }

</style>

                                          </div>
          
                                    <div class="page-wrapper twelve columns no-sidebar b0">
                                        <div class="row">
                                            <div class="twelve columns b0">
                                                <div class="page-title-wrapper">
                                                    <h1 class="page-title left">
                                                        HOW IT WORKS</h1> 
                                                        <div class="page-title-alt right">

                                                        </div>
                                                        <div class="clear">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin:0 5em;">
                                                <div class="eight columns">
                                                 <div class="builder-item-wrapper builder-editor" >
<iframe src="//player.vimeo.com/video/79553753" width="711" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                                                </div>
                                            </div>
                                            
                                            <div class="clear">
                                            </div>
                                        </div>
                                        <!-- END .row -->

                                        <div style="width:94%;margin-left:2em;">
                                        <div class="builder-title-wrapper clearfix" >
                                           <h1 class="page-title left">MOBILE PROFESSIONAL</h1>
                                       </div>

                                       <div class="four columns b0 text-content">

                                          <img src="../assets/images/mobileprofessional.png" alt="" style="height:300px;">
                                      </div>
                                      <br />

                                      <div class="eight columns">

                                        <div class="builder-item-wrapper builder-editor">

                                            <h3><b><span class="NumberLabel"style="color:#fff;">1</span>LOOK FOR WORKSPACE NEARBY</b></h3>




                                            <div class="builder-item-content row">

                                                <div class="twelve columns b0">
                                                   <p>Pick a workspace from wide range of selection criterias such as price, maximum occupancy, location and workspace types.</p>

                                                   <hr>

                                                   <h3><b><span class="NumberLabel"style="color:#fff;">2</span> BOOK WORKSPACE</b></h3>


                                                   <div class="builder-item-content row">

                                                    <div class="twelve columns b0">
                                                       <p>Choose the date and confirm the amount. Once your booking is confirmed, you will receive a welcome email from the host.</p>

                                                       <hr>

                                                       <h3><b><span class="NumberLabel"style="color:#fff;">3</span>START WORKING</b></h3>

                                                       <div class="builder-item-content row">

                                                        <div class="twelve columns b0">
                                                           <p>Now that the workspace is reserved for you. You can start working and be producive in a conducive environment.</p>

                                                           <hr>

                                                           <h3><b><span class="NumberLabel"style="color:#fff;">4</span>POST RATING AND COMMENT</b></h3>

                                                           <div class="builder-item-content row">

                                                            <div class="twelve columns b0">
                                                               <p>Share thoughts about your stay experience at the workspace.</p>



                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>


                                       </div>
                                   </div>
                               </div>
                               

                           </div>



                       </div>

                    

                       <div class="clear"></div>

                       <br />
                       <br />


                       <div class="builder-title-wrapper clearfix">
                           <h1 class="page-title left">HOST</h1>
                       </div>

                       <div class="four columns b0 text-content">


                          <img src="../assets/images/host.png" alt=""  style="height:300px;">
                      </div>
                      <br />

                      <div class="eight columns">

                        <div class="builder-item-wrapper builder-editor">

                            <h3><b><span class="NumberLabel"style="color:#fff;">1</span> ADD YOUR WORKSPACE</b></h3>




                            <div class="builder-item-content row">

                                <div class="twelve columns b0">
                                   <p>Describe your workspace in details, specify price, workspace type, workspace availability and facilities available so that members will have better idea about your workspace.</p>

                                   <hr>

                                   <h3><b><span class="NumberLabel"style="color:#fff;">2</span> MONETIZE YOUR WORKSPACE</b></h3>




                                   <div class="builder-item-content row">

                                    <div class="twelve columns b0">
                                       <p>SpaceComby handles all payments ensuring you get paid, and on time once a workspace is booked.</p>

                                       <hr>

                                       <h3><b><span class="NumberLabel"style="color:#fff;">3</span>EARN REVIEW ON YOUR WORKSPACE</b></h3>




                                       <div class="builder-item-content row">

                                        <div class="twelve columns b0">
                                           <p>Build a real reputation and branding for your workspaces at SpaceComby.</p>



                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="clear"></div>

                   </div>

                   

               </div>

           </div>


   </div>
       </div>
       <!-- END .page-wrapper -->
       <div class="clear">
       </div>
      </style>
      <br/>
   <!-- </div> -->
   <!-- END .page-outer-wrapper -->
<!-- </div>
</div>
</div> -->
<!-- END .main-wrapper -->
