 <% provide(:title, 'Privacy Policy') %>
 <%= stylesheet_link_tag "privacypolicy" %>

 <div class="titlebar-outer-wrapper" style="background: url(<%= asset_path 'assets/images/privacypolicybanner.jpg' %>) no-repeat top center;">
                <div class="row">
                            <div class="twelve columns b0">
                                <div class="titlebar-title">
                                    <h1>We care for your space and personal privacy</h1>
                                    <!--<div class="titlebar-decs">Contact us if we have missed something important to you</div> -->
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                <div class="shadow-box">
                </div>
            </div>
       <div class="main-outer-wrapper has-titlebar">
            <div class="main-wrapper container">
                <div class="row row-wrapper">
                    <div class="page-outer-wrapper">
                        <div class="page-wrapper twelve columns no-sidebar b0">
                            
                            <div class="row">
                                <div class="twelve columns b0">
                                    <div class="page-title-wrapper">
                                        <h1 class="page-title left">Privacy Policy</h1>
                                        <div class="page-title-alt right"></div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">


                                <div class="twelve columns">
                                    <div class="builder-item-wrapper builder-editor">
                                        <div class="builder-item-content row">
                                    
                                            <div class="twelve columns b0">
                                                <p>The following is the Privacy Policy (“Privacy Policy”) of this Website currently in effect as of the date written above, subject to amendment. Together with the Terms of Service, such constitutes the Agreement between SpaceComby and the Customer. Before proceeding to access the Website and/or use any Services, a Customer must ensure that all provisions are read, understood, and agreed.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clear"></div>
                            </div> <!-- END .row -->
                            <h3 class="builder-item-title-orange">The information we collect</h3>
                                <br>
                                <br>


                            <div class="row">


                                <div class="twelve columns">
                                    <div class="builder-item-wrapper builder-editor">
                                        <div class="builder-item-content row">
                                    
                                            <div class="twelve columns b0">
                                                <p>When you use the Service you provide us with two types of information: 
                                                <ul>
                                                <li>(i) information you submit via the Service and</li> 
                                                <li>(ii) information regarding your use of the Service collected by us as you interact with the Service.</li>
                                                </ul>
                                                </p>

                                                <p align="justify">When you enter the Site, we collect your browser type and IP address. This information is gathered for all SpaceComby visitors. In addition, we store certain information from your browser using "cookies." A cookie is a piece of data stored on the user's computer tied to information about the user. We use session ID cookies to confirm that users are logged in. If you do not want information collected through the use of cookies, there is a simple procedure in most browsers that allows you to deny or accept the cookie feature; however, you should note that cookies may be necessary to provide you certain features (e.g., personalised the delivery of information) available on the Site.</p>

                                                 <p align="justify">Through the registration process you may provide us with your name, company affiliation, email address, telephone number, physical address, and other information that may be requested during the registration process on the Site. If you wish to create an account that requires payment of a fee, or use services offered via the Site that require payment of a fee, a valid PayPal account or other payment information may be required. By submitting your payment information, you authorize SpaceComby to access and use this information in order to provide you with and accept payment for the Service.</p>

                                                 <p align="justify">When you use the Service you may submit information and content to your Profile, perform searches, submit reviews & ratings, and otherwise transmit information to other Users. We store this information so that we can provide you with the service and offer personalized features.</p>

                                                 <p align="justify">We are not responsible for circumvention of any security measures contained on the Site. You understand and acknowledge that, even after removal, copies of User Content may remain viewable in cached and archived pages or if other Users have copied or stored your User Content.</p>

                                                 <p align="justify">If you use the Mobile Software, your location may be tracked on the mobile device on which the Mobile Software is installed. SpaceComby will not collect, transmit or otherwise use this information without your permission.</p>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clear"></div>
                            </div> <!-- END .row -->

                            <h3 class="builder-item-title-orange">Minors</h3>
                                <br>
                                <br>

                            <div class="row">


                                <div class="twelve columns">
                                    <div class="builder-item-wrapper builder-editor">
                                        <div class="builder-item-content row">
                                    
                                            <div class="twelve columns b0">
                                                 <p align="justify">SpaceComby does not knowingly collect or solicit information from anyone under the age of 18 or knowingly allow such persons to register. If you are under 18, please do not attempt to register for SpaceComby or send any information about you to us, including your name, address, telephone number, or email address. No one under age 18 may provide any information to or on SpaceComby. If you believe that we might have any information from or about a minor under 18, please contact us at info@spacecomby.com.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clear"></div>
                            </div> <!-- END .row -->

                              <h3 class="builder-item-title-orange">Use of Information Obtained by SpaceComby</h3>
                                <br>
                                <br>

                            <div class="row">


                                <div class="twelve columns">
                                    <div class="builder-item-wrapper builder-editor">
                                        <div class="builder-item-content row">
                                    
                                            <div class="twelve columns b0">
                                                 <p align="justify">Once you register with SpaceComby, you may create your Profile. Your Profile information, as well as your contact information, are displayed to other Users. We may occasionally use your contact information to send you notifications regarding new services offered by SpaceComby and its partners that we think you may find valuable. SpaceComby may also send you service-related announcements from time to time through the general operation of the Service. Generally, you may opt out of such emails.</p>

                                                 <p align="justify">Profile information is used by SpaceComby primarily to be presented back to and edited by you when you access the Service and to be presented to others. In some cases, other Users may be able to supplement your Profile submitting reviews. Information from your Profile may be available to third party search engines. This is primarily so that potential users may be able to find you.</p>

                                                 <p align="justify">SpaceComby may use aggregate data (based partly on IP addresses) collected through the Service to analyze Service usage and system performance. This data may be used by SpaceComby and shared with third parties in any manner.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clear"></div>
                            </div> <!-- END .row -->

                            <h3 class="builder-item-title-orange">Sharing Your Information with Third Parties</h3>
                                <br>
                                <br>

                            <div class="row">


                                <div class="twelve columns">
                                    <div class="builder-item-wrapper builder-editor">
                                        <div class="builder-item-content row">
                                    
                                            <div class="twelve columns b0">
                                                 <p align="justify">You may choose to provide information about you, your company or organization or, if you are a Workspace Owner, your Workspace information will be provided to other Users and to the public by providing such information on public areas of the Site ("Public Information"). Public Information consists of information that is posted by you on areas of the Site accessible by other Users and/or the public, such as Workspace descriptions. Public information does not include information you submit to us but do not post on areas of the Site accessible by other Users and/or the public, such as billing and payment information ("Non-Public Information").</p>

                                                 <p align="justify">We share your Non-Public Information with third parties only in limited circumstances where we believe such sharing is reasonably necessary to offer the Service, legally required or, permitted by you.</p>

                                                 <p align="justify">We may be required to disclose Non-Public Information pursuant to lawful requests, such as subpoenas or court orders, or in compliance with applicable laws. Additionally, we may share account or other Non-Public Information when we believe it is necessary to comply with law, to protect our interests or property, to prevent fraud or other illegal activity perpetrated through the Service or using the SpaceComby name, or to prevent imminent harm. This may include sharing Non-Public Information with other companies, lawyers, agents or government agencies.</p>

                                                 <p align="justify">When you use the Service, certain information you post or share with third parties (including other Users), such as reviews or other information, may be shared with other Users. All such sharing of information is done at your own risk. Please keep in mind that if you disclose confidential information in your Profile or when posting comments, reviews or other submissions, this information may become publicly available.</p>

                                                 <p align="justify">Your posting of Public Information to public areas of the Site constitutes your consent to share such Public Information publicly. Please be aware that Public Information will be accessible by both Users and the general public. Nothing in this Privacy Policy shall restrict SpaceComby's right to use the Public Information.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clear"></div>
                            </div> <!-- END .row -->

                             <h3 class="builder-item-title-orange">Links</h3>
                                <br>
                                <br>


                            <div class="row">


                                <div class="twelve columns">
                                    <div class="builder-item-wrapper builder-editor">
                                        <div class="builder-item-content row">
                                    
                                            <div class="twelve columns b0">
                                                 <p align="justify">SpaceComby may contain links to other websites. We are of not responsible for the privacy practices of other web sites. We encourage Users to be aware when they leave the Site to read the privacy statements of other web sites that collect personally identifiable information. This Privacy Policy applies solely to information collected by SpaceComby via the Site.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clear"></div>
                            </div> <!-- END .row -->


                            <h3 class="builder-item-title-orange">Changing or Removing Information</h3>
                                <br>
                                <br>


                            <div class="row">

                                <div class="twelve columns">
                                    <div class="builder-item-wrapper builder-editor">
                                        <div class="builder-item-content row">
                                    
                                            <div class="twelve columns b0">
                                                 <p align="justify">Users may modify or delete their Profile information by logging into their account. Removed information may persist in backup copies but will not be generally available to other Users.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clear"></div>
                            </div> <!-- END .row -->

                            <h3 class="builder-item-title-orange">Security</h3>
                                <br>
                                <br>


                            <div class="row">


                                <div class="twelve columns">
                                    <div class="builder-item-wrapper builder-editor">
                                        <div class="builder-item-content row">
                                    
                                            <div class="twelve columns b0">
                                                 <p align="justify">SpaceComby takes reasonable precautions to protect Users' Non-Public Information. Your account information is located on a secured server behind a firewall. When you enter sensitive information, such as a credit card number on our order forms or transmit location data, we encrypt the transmission of that information using secure socket layer technology (SSL). However, no method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore we cannot guarantee absolute security.</p>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clear"></div>
                            </div> <!-- END .row -->

                             <h3 class="builder-item-title-orange">Data Transfer</h3>
                                <br>
                                <br>


                            <div class="row">


                                <div class="twelve columns">
                                    <div class="builder-item-wrapper builder-editor">
                                        <div class="builder-item-content row">
                                    
                                            <div class="twelve columns b0">
                                                 <p align="justify">By using the Service, you are consenting to have the data you submit to or through the Service transferred to and processed in the United States.</p>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clear"></div>
                            </div> <!-- END .row -->

                               <h3 class="builder-item-title-orange">Facebook Permissions</h3>
                                <br>
                                <br>


                            <div class="row">


                                <div class="twelve columns">
                                    <div class="builder-item-wrapper builder-editor">
                                        <div class="builder-item-content row">
                                    
                                            <div class="twelve columns b0">
                                                 <p align="justify">The Facebook permissions allow the website to perform actions with the User's Facebook account and to retrieve information, including Personal Data, from it.
                                                For more information about the following permissions, refer to the Facebook permissions documentation and to the Facebook privacy policy. By default, this includes certain properties of the User object such as id, name, picture, gender, and their locale. If the user has made more of their data public, more information will be available.</p>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clear"></div>
                            </div> <!-- END .row -->


                                 <h3 class="builder-item-title-orange">Contacting Us</h3>
                                <br>
                                <br>


                            <div class="row">


                                <div class="twelve columns">
                                    <div class="builder-item-wrapper builder-editor">
                                        <div class="builder-item-content row">
                                    
                                            <div class="twelve columns b0">
                                                <p align="justify">If you have any questions about this Privacy Policy or SpaceComby's privacy practices in general, please contact us at info@spacecomby.com.</p>

                                                 <p align="justify">Last updated: 20 October 2013</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clear"></div>
                            </div> <!-- END .row -->

                        </div> <!-- END .page-wrapper -->
                        <div class="clear"></div>

                    </div> <!-- END .page-outer-wrapper -->
                </div>
            </div> <!-- END .main-wrapper -->
            

        </div>
        </div>
        <!-- END .main-wrapper -->