   <% provide(:title, 'Listings') %>

   <style>
    .cpt-detail{
      color:#bca474!important;
    }
  </style>

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>






  <style>
   .info {  position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;background-color: #b9dbee;color: #3a87ad;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; width:87%;
   }




 </style>


 <div class="main-wrapper container">
  <div class="row row-wrapper">
    <div class="page-outer-wrapper">
      <div class="page-wrapper twelve columns no-sidebar b0">

       <div id="sb-search" class="sb-search">
        <form>
          <%= form_tag places_index_path, :method => :get do %>

          <%= text_field_tag :search, params[:search],:class=>'sb-search-input', :placeholder=>'Enter your search term...',:type=>'text',:name=>'search', :id=>'search', :for=>'tags' %>
          <input id="tags">
          <%= submit_tag "", :class => 'sb-search-submit', :type=>'submit', :name=>'nil'%>
          <span class="sb-icon-search"></span>
          <% end %>
        </form>
      </div>

      <div class="row">
        <div class="twelve columns b0">
          <div class="builder-item-wrapper builder-portfolio">

            <div class="builder-title-wrapper clearfix has_filter">
              <h3 class="builder-item-title"></h3>
              <div class="builter-title-alt right">

              </div>
              <div class="clear"></div>
            </div>

            <div class="builder-item-content row">


             <div class="twelve columns b0" style="float:right;width:100%;padding-bottom:3em; blue">



              <table style="width:90%;margin: 0 auto; height:100%;">

                <tr style="border-bottom:1px solid #ccc;">
                  <td style="width:30%;">
                    <p style="font-family: 'Roboto',Arial,sans-serif;color:black;margin:20px auto;">WORKSPACE TYPE</p>
                  </td>

                  <td style="width:100%;">
                    <div class="builter-title-alt right" style="margin:20px auto;">
                      <ul class="cpt-filters">
                       <li> <%= link_to "All", :controller => "places" ,:search => "" %></li>
                       <li> <%= link_to "Co-Working Space", :controller => "places" ,:search => "co-working" %></li>
                       <li> <%= link_to "Meeting Room", :controller => "places" ,:search => "meeting" %></li>
                       <li> <%= link_to "Startup Incubator", :controller => "places" ,:search => "startup" %></li>
                     </ul>


                   </div><!--builter-title-alt right-->
                 </td>
               </tr>

               <tr style="border-bottom:1px solid #ccc;">
                <td style="width:30%;">
                  <div style="margin:20px auto;">
                    <label for="amount" style="font-family: 'Roboto',Arial,sans-serif;color:black;">PRICE RANGE:</label>
                    <p id="amount" style="margin-left:7px;border:0;background-color:White; color:#f6931f;width:10em;;font-weight:bold;">$35 - $200</p>
                  </div>
                </td>

                <td style="width:100%;">
                 <img src="../assets/images/range.png" alt="">
               </div>
               <div id="slider-range" style="width:100%;margin:20px auto;"></div >  
               </td>
             </tr>
           </table>   
           <br/>
           <br/>


         </div>  


         <div class="twelve columns b0">
          <div class="cpt-items row clearfix isotope">

            <div class="cpt-item four columns isotope-item rooms">
              <div class="thumb-wrapper">
               <img src="../assets/images/makespace.png" alt="" style="width:500px;height:155px;">

               <div class="thumb-control-wrapper">
              <ul class="thumb-control clearfix">
               <li style="margin-left:20px;"><a title="View Detail" href="" class="go-detail">Open Detail</a></li>
             </div>
             </div>


             <div class="cpt-detail"  style="text-align:center;">
              <h2 class="cpt-title"><a href="">MAKESPACE</a></h2>
              <div class="cpt-desc">S$100.00</div>
            </div>
          </div>

          <div class="cpt-item four columns isotope-item rooms">
              <div class="thumb-wrapper">
               <img src="../assets/images/SignatureSpace.png" alt="" style="width:500px;height:155px;">

               <div class="thumb-control-wrapper">
              <ul class="thumb-control clearfix">
               <li style="margin-left:20px;"><a title="View Detail" href="" class="go-detail">Open Detail</a></li>
             </div>
             </div>


             <div class="cpt-detail"  style="text-align:center;">
              <h2 class="cpt-title"><a href="">SIGNATURE SPACE</a></h2>
              <div class="cpt-desc">S$69.00</div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div class="clear"></div>
</div> <!-- END .row -->

</div> <!-- END .page-wrapper -->
<div class="clear"></div>

</div> <!-- END .page-outer-wrapper -->
</div>
</div> <!-- END .main-wrapper -->

</div>
</div>

<script>
  new UISearch( document.getElementById( 'sb-search' ) );
</script>


