<% provide(:title, 'About Us') %>
<%= stylesheet_link_tag "AboutUs" %>


                            <div class="page-wrapper twelve columns no-sidebar b0">
                                
                                    <div class="clear">
                                    </div>
                                </div>
                                <!-- END .row -->
                                <div class="builder-title-wrapper clearfix">
                                    <h1 class="builder-item-title">
                                        OUR TEAM</h1>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="four columns">
                                        <div class="a_member">
                                            <!-- member pic -->
                                            <div class="member_pic">
                                                <img src="../assets/images/M1Derek.jpg" alt="member2">
                                            </div>
                                            <!-- member pic end -->
                                            <!-- member content -->
                                            <div class="member_content" id="member_content">
                                                <!-- member info -->
                                                <div class="member_info">
                                                    <div class="member_name">
                                                        Derek Chia</div>
                                                    <div class="member_job">
                                                        Dev Advocate</div>
                                                </div>
                                                <!-- member info end -->
                                                <!-- member bio -->
                                                <p class="member_bio">
                                                    Derek loves developer platforms. He comes to SpaceComby via various startups, and his job is to make developers happy.</p>
                                                <!-- member bio end -->
                                                <br />
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                            <!-- member content end -->
                                        </div>
                                    </div>
                                    <div class="four columns">
                                        <!-- a member -->
                                        <div class="a_member">
                                            <!-- member pic -->
                                            <div class="member_pic">
                                                <img src="../assets/images/M2Evelyn.jpg" alt="member3">
                                            </div>
                                            <!-- member pic end -->
                                            <!-- member content -->
                                            <div class="member_content" id="Div1">
                                                <!-- member info -->
                                                <div class="member_info">
                                                    <div class="member_name">
                                                        Evelyn Chin</div>
                                                    <div class="member_job">
                                                        Sales</div>
                                                </div>
                                                <!-- member info end -->
                                                <!-- member bio -->
                                                <p class="member_bio">
                                                    Evelyn loves everything that positively changes the world — that's why she's here selling the heck out of SpaceComby! In her free time, she enjoys hanging out with friends and loving all animals. She's also pretty quirky! Meow, meow!  </p>
                                                <!-- member bio end -->
                                          
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                            <!-- member content end -->
                                        </div>
                                        <!-- a member end -->
                                    </div>
                                    <div class="four columns">
                                        <!-- a member -->
                                        <div class="a_member">
                                            <!-- member pic -->
                                            <div class="member_pic">
                                                <img src="../assets/images/M3Jinwen.jpg" alt="member4">
                                            </div>
                                            <!-- member pic end -->
                                            <!-- member content -->
                                            <div class="member_content" id="Div2">
                                                <!-- member info -->
                                                <div class="member_info">
                                                    <div class="member_name">
                                                        Choo Jin Wen</div>
                                                    <div class="member_job">
                                                        Designer</div>
                                                </div>
                                                <!-- member info end -->
                                                <!-- member bio -->
                                                <p class="member_bio">
                                                  Jin Wen joined SpaceComby because she love freestlying! She's worked on some design-focused websites and cares deeply about refining technology through design. She loves dim sum, hanging out with friends, and karaoke!</p>
                                                <!-- member bio end -->
                                                <br />
                                               
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                            <!-- member content end -->
                                        </div>
                                        <!-- a member end -->
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="four columns">
                                        <div class="a_member">
                                            <!-- member pic -->
                                            <div class="member_pic">
                                                <img src="../assets/images/M4Eugene.jpg" alt="member5">
                                            </div>
                                            <!-- member pic end -->
                                            <!-- member content -->
                                            <div class="member_content" id="Div3">
                                                <!-- member info -->
                                                <div class="member_info">
                                                    <div class="member_name">
                                                        Eugene Tay</div>
                                                    <div class="member_job">
                                                        Engineering</div>
                                                </div>
                                                <!-- member info end -->
                                                <!-- member bio -->
                                                <p class="member_bio">
                                                    This is Eugene. Eugene works on the support team. When he's not working he's usually thinking up where to go next for holiday that he doesn't have time for.</p>
                                                <!-- member bio end -->
                                                <br />
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                            <!-- member content end -->
                                        </div>
                                    </div>
                                    <div class="four columns">
                                        <div class="a_member">
                                            <!-- member pic -->
                                            <div class="member_pic">
                                                <img src="../assets/images/M5WX.jpg" alt="member6">
                                            </div>
                                            <!-- member pic end -->
                                            <!-- member content -->
                                            <div class="member_content" id="Div4">
                                                <!-- member info -->
                                                <div class="member_info">
                                                    <div class="member_name">
                                                        Goh Wei Xing</div>
                                                    <div class="member_job">
                                                        Admin Team</div>
                                                </div>
                                                <!-- member info end -->
                                                <!-- member bio -->
                                                <p class="member_bio">
                                                    Wei xing is excited to be part of the population at SpaceComby! You can practically bribe him to do almost anything with either Fish & Chips, some good salmon sushi or rojak.</p>
                                                <!-- member bio end -->
                                                <br />
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                            <!-- member content end -->
                                        </div>
                                        <!-- a member end -->
                                    </div>
                                    <div class="four columns">
                                        <div class="a_member">
                                            <!-- member pic -->
                                            <div class="member_pic">
                                                <img src="../assets/images/M6Pearlyn.jpg" alt="member1">
                                            </div>
                                            <!-- member pic end -->
                                            <!-- member content -->
                                            <div class="member_content" id="Div5">
                                                <!-- member info -->
                                                <div class="member_info">
                                                    <div class="member_name">
                                                        Pearlyn Tan</div>
                                                    <div class="member_job">
                                                        Sales</div>
                                                </div>
                                                <!-- member info end -->
                                                <!-- member bio -->
                                                <p class="member_bio">
                                                    Pearlyn joined SpaceComby after realizing that it offered much better free food than any bachelor program. Prior to SpaceComby, Pearlyn did a random walk through community service.</p>
                                                <!-- member bio end -->
                                                <br />
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                            <!-- member content end -->
                                        </div>
                                        <!-- a member end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                 
                    <!-- END .page-wrapper -->
                    <div class="clear">
                    </div>
            
   
        <!-- END .main-wrapper -->