 <% provide(:title, 'Terms of Service') %>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script>
$('[data-spy="scroll"]').each(function () {
  $(this).scrollspy('refresh');
});
</script>
<style type="text/css">
    /* Custom Styles */
    ul.nav-tabs{
        top: 20px;
        width: 210px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
    ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
        color: #fff;
        background: #0088cc;
        border: 1px solid #0088cc;
    }
</style>

<body data-spy="scroll" data-target=".col-md-3">
<div class="container-fluid">
        <div class="col-md-3">
            <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="255">
                <li>
                    
    <li><a href="#toc">Terms and Conditions of Use</a></li>
    <li><a href="#accounts">Accounts, Registration Data and Account Security</a></li>
    <li><a href="#rights">Proprietary Rights in Site Content and Limited License</a></li>
    <li><a href="#content">User Content Posted on the Site</a></li>    
    <li><a href="#trademarks">Trademarks</a></li>
    <li><a href="#conduct">User Conduct</a></li>
    <li><a href="#representations">Additional Representations and Warranties</a></li>
    </li>
           </ul>
    </div>

<div class="col-md-9">
<h1 style="margin-top: 0px;">Term of service</h1>

<p align="justify">By using this website, you agree to the terms of the SpaceComby Terms and Conditions of Use and SpaceComby Privacy Policy. Certain features of this application may require you to provide certain personal data. The collection and use of personal data will be subject to the SpaceComby Privacy Policy.</p>



        <div class="bs-docs-section">
            <div id="toc">
                <h2>Terms and conditions of use</h2>
<p align="justify">The following terms and conditions ("Terms of Use") govern the use of the website (the "Site") and related services made available by SpaceComby. ("us, "we," or "SpaceComby"). By accessing, using or participating in the Service, you ("you" or the "User") agree to be bound by these Terms of Service. We may modify, add, or delete portions of these Terms of Service, including the pricing terms, at any time. If we do this, we will post a notice that we have made changes to these Terms of Service on the Site for at least 7 days after the changes are posted and will indicate at the bottom of the Terms of Service the date these terms were last revised. Any revisions to this Terms of Service will become effective the earlier of </p>
<ul>
<li>(i) the end of such 7-day period or </li> 
<li>(ii) the first time you access or use the Service after such changes.</li>
</ul>

<p align="justify">If you do not agree to abide by these Terms of Use, you are not authorized to use, access or participate in (or continue to use, access or participate in) the Service.</p>
            </div>
            <hr>
            <div id="accounts">
                <h2>Accounts, Registration Data and Account Security</h2>
            <p align="justify">In order to rent or otherwise schedule time in a workspace from another User through the Service, you must register for a "Member" account. In order to rent or otherwise make available your Workspace to another User through the Service, you must register for a "Users" account. In these Terms of Use, Users who assume the role of someone renting the Workspace will be referred to as "Members" and Users who assume the role of someone hosting the Workspace will be referred to as “Host”. In connection with registering for, using or participating in the Service, you agree   </p>

<ul>
<li>(i) to provide accurate, current and complete information about you, your organization and/or your Workspace as requested by SpaceComby ("Registration Data");  </li> 
<li>(ii) to maintain the confidentiality of your password and other information related to the security of your account; </li>
<li> (iii) to maintain and promptly update the Registration Data and any other information you provide to SpaceComby, to keep such information accurate, current and complete; and </li>
<li> (iv) to be fully responsible for all use of your account and for any actions that take place through your account.</li>
</ul>
                              
<p align="justify">If you use the Service on behalf of a company or other organization, you represent and warrant that you are authorized to bind such company or organization to these Terms of Use and to act on behalf of such company with respect to any actions you take in connection with the Service. You agree to respond promptly and completely to requests from SpaceComby for additional information that SpaceComby deems necessary to determine your authority to act on behalf of a company or organization. SpaceComby may suspend or terminate your access to the Service and your account if SpaceComby has reason to believe that you are not authorized to act on behalf of a company or organization for whom you claim to be acting in connection with the Services.</p>
            </div>
            <hr>
            <div id="rental">
                <h2>Rental Transactions</h2>
           <p align="justify">If you are a Member, you agree to abide by the following Member policies:</p>

<ul>
<li>1. You agree to be bound by and comply with any additional terms, conditions and policies provided by the Host relating to the use of a specific Workspace, including compliance with building security procedures, IT access and use procedures, maximum occupancy limitations, legal terms, and other terms or procedures provided by the Host ("Workspace Policies"). The Workspace Policies may be provided in electronic format through the Service or in hardcopy format.</li>
<li>2. You may not use the Workspace to carry out any illegal activities or use the Workspace in violation of law.</li>
<li>3. You are responsible for leaving the Workspace in the condition that it was given to you. You may be held liable for the repair cost for all damage to the Workspace and items therein during your use thereof.
</li>
</ul>
<p align="justify">If you are a Host, you agree to abide by the following Host policies:</p>
<ul>
<li>1. You are solely responsible for maintaining the Workspace in safe condition and in compliance with law and any applicable building requirements.</li>
<li>2. You are solely responsible for ensuring that the Workspace is clean and ready to use at the start of each rental period.</li>
<li>3. You are solely responsible for ensuring that the rental of the Workspace through the Service does not violate any lease or other agreements relating to the Workspace or any building policies, and you are solely responsible for and shall indemnify SpaceComby against any fines, losses or other liability arising from such violations.</li>
<li>4. If you approve a rental of your Workspace to begin at a specified time, you shall ensure that the Workspace is available to the Member at that time.</li>
</ul>


<p align="justify">Both Members and Hosts may submit feedback to the Service following the completion of a Workspace rental transaction. You acknowledge and agree that other Users may publicly post ratings and reviews of you or your Workspace, as applicable, and that SpaceComby may, but is not obligated to, monitor such postings and is not responsible in any manner for such ratings and reviews, and you hereby release SpaceComby from any and all claims, causes of actions, obligations or liabilities arising from or relating to such ratings and reviews.</p>

<p align="justify">
You acknowledge that the Service is a platform to allow anyone to find, schedule time in, rent, offer to rent, and make available workspace. Your transactions, communications and interactions with any other Users, including transactions, communications and interactions initiated through the Service, are solely between you and such Users, and you are solely responsible for such transactions, communications and interactions. You acknowledge that SpaceComby does not offer workspace rentals and SpaceComby does not act as an agent for any Host or any Member. Instead, SpaceComby provides the Service to allow Members and Hosts to transact with one another. SpaceComby may, but has no obligation, to monitor disputes between you and any other Users relating to the Service. SpaceComby is not responsible or liable in any manner for any loss or damage arising out of your transaction and interactions with any other Users and you hereby release SpaceComby from any and all claims, causes of actions, obligations or liabilities arising from or relating to such transactions, communications and interactions.
</p>            
            </div>
            <hr>
            <div id="payment">
                <h2 id="four">Payment</h2>
            <p align="justify">You agree to the fees, charges and other pricing terms applicable to your use of the Service as specified in these Terms of Service and as otherwise communicated to you through the Service. All fees and charges paid by Users in connection with the Service are non-refundable, except as expressly stated in these Terms of Service. SpaceComby may change the fees and charges for the Service at any time in its sole discretion.</p>
            </div>
            <hr>
            <div id="privacy">
                <h2>Privacy</h2>
                <p align="justify">Use of the Service is also governed by our Privacy Policy, a copy of which is located at our <a href="privacypolicy.html">Privacy Policy Page</a>. By using the Service, you are consenting to the terms of the Privacy Policy.</p>
               
            </div>
            <hr>
            <div id="rights">
                <h2>Proprietary Rights in Site Content and Limited License</h2>
           <p align="justify">All content on the Site and otherwise available through the Service, including designs, text, graphics, images, video, information, software, audio and other files, and their selection and arrangement (the "Site Content"), are the proprietary property of SpaceComby, its users or its licensors. No Site Content may be modified, copied, distributed, framed, reproduced, republished, downloaded, scraped, displayed, posted, transmitted, or sold in any form or by any means, in whole or in part, other than as expressly permitted in these Terms of Use. Authorized Users may access and use the Service and the Site Content and download or print a reasonable number of copies of portions of the Site Content to which the User has properly gained access solely for the User's personal, non-commercial use, provided that the User maintains all copyright or other proprietary notices on all copies of such Site Content. Except for your own User Content, you may not publish or otherwise distribute Site Content, including via the Internet or any intranet or extranet site, or incorporate the Site Content in any other database or compilation. You may not use any data mining, robots, scraping or similar data gathering or extraction methods to obtain Site Content. Any use of the Site or the Site Content other than as specifically authorized herein is prohibited and will automatically terminate your rights with respect to use of the Service and the Site Content granted herein. All rights of SpaceComby or its licensors that are not expressly granted in these Terms of Use are reserved to SpaceComby and its licensors.</p>
            </div>
            <hr>
            <div id="content">
                <h2>User Content Posted on the Site</h2>
           <p align="justify">You may be able to display certain information on designated portions of the Site or otherwise through the Service regarding you or your company or organization or, if you are a Host, your Workspace (a "Profile"). Your Profile will display to other Users certain of your Registration Data and other content about you or your company or your organization or, if you a Host, your Workspace that you upload or otherwise provide to SpaceComby for use in your Profile (collectively the "Profile Content"). You agree to provide accurate and current information in your Profile and to promptly update the Profile Content to keep it accurate and current.</p>

<p align="justify">You are solely responsible for the Profile Content, messages, notes, text, information, listings, and any other content that you upload, publish, display or otherwise provide to SpaceComby for display (hereinafter, "post") on or through the Service, or transmit to or share with other Users (collectively, "User Content"). You may not post, transmit, or distribute User Content that you did not create or that you do not have permission to post. You understand and agree that SpaceComby may, but is not obligated to, review the Site and may delete or remove (without notice) any Site Content or User Content in its sole discretion, for any reason or no reason, including User Content that SpaceComby believes violates these Terms of Use. SpaceComby has no backup or storage obligations regarding User Content. You are solely responsible at your sole cost and expense for creating backup copies and replacing any User Content you post or store on the Site or provide to SpaceComby.</p>

<p align="justify">SpaceComby does not verify the accuracy or authenticity of any User Content, including any Venue descriptions or Venue availability information provided by Hosts, and makes no representations or warranties with respect to any User Content. You retain the ownership of your User Content.</p>
            </div>
            <hr>
            <div id="trademarks">
                <h2>Trademarks</h2>
<p align="justify">You may not use the SpaceComby Marks, including as part of trademarks and/or as part of domain names, in connection with any product or service in any manner that is likely to cause confusion or create the impression that SpaceComby endorses any product or service. You may not reproduce or use the SpaceComby Marks without the prior written permission of SpaceComby.</p>
            </div>
            <hr>
            <div id="conduct">
                <h2>User conduct</h2>
           <p align="justify">You agree not to do any of the following in connection with your use of the Service and to otherwise use the Service in compliance with these Terms of Use.</p>

<ul>
<li>1. use automated scripts to collect information from or otherwise interact with the Service.</li>
<li>2. impersonate any person or entity, or falsely state or otherwise misrepresent you or your affiliation with any person or entity.</li>

<li>3. upload, post, transmit, distribute or otherwise make available any unsolicited or unauthorized advertising, solicitations, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other prohibited form of solicitation.</li>
<li>4. upload, post, transmit, distribute, store or otherwise make publicly available on the Site any private information of any third party, including, addresses, phone numbers, email addresses, Social Security numbers and credit card numbers.</li>
<li>5. upload, post, transmit, distribute or otherwise make available any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment.</li>
<li>6. intimidate or harass another.</li>
<li>7. upload, post, transmit, distribute, store or otherwise make available content that would constitute, encourage or provide instructions for a criminal offense.</li>
<li>8. use or attempt to use another's account, service or system without authorization from SpaceComby, or create a false identity on the Service.</li>
<li>9. use the Service in a manner that may create a conflict of interest or undermine the purposes of the Service, such as trading reviews with other Users or writing or soliciting shill reviews.</li>
<li>10. upload, post, transmit, distribute, store or otherwise make available any answers, responses, comments, opinions, analysis or recommendations that you are not properly licensed or otherwise qualified to provide.</li>
<li>11. upload, post, transmit, distribute, store or otherwise make available content that, in the sole judgment of SpaceComby, is objectionable or which restricts or inhibits any other person from using the Site, or which may expose SpaceComby or its users to any harm or liability of any type.</li>
</ul>
            </div>
            <hr>

            <div id="representations">
                <h2>Additional Representations and Warranties</h2>
           <p align="justify">In addition to any other representations and warranties in these Terms of Use, you represent and warrant that:</p>
<ul>
<li>1. the User Content and all other content submitted to the Service through your account or otherwise posted, transmitted, or distributed by you on or through the Service: (i) does not violate or infringe upon the rights of any third party (including copyright, trademark, privacy, publicity or other personal or proprietary rights), (ii) does not contain libelous, defamatory or otherwise unlawful material, and (iii) is truthful and accurate.</li>
<li>2. if you are a Host, any Workspace you offer for rentals hereunder is free of any known conditions or defects that would pose a hazard to or risk the safety of any Member.</li>
<li>3. if you are a Host, you have sufficient rights in and to the Workspace to participate in the Service as a Host, and your participation in the Service as a Host will not violate or result in the breach of any agreement between you and any third party, including any lease agreement or other agreement relating to the Workspace.
</li>
</ul>
            </div>
            
           
<p align="justify">These Terms of Use and the Privacy Policy constitute the entire agreement between you and SpaceComby regarding the use of the Service and supersede any prior agreements between you and SpaceComby relating to your use of the Service. The failure of SpaceComby to exercise or enforce any right or provision of these Terms of Use shall not constitute a waiver of such right or provision in that or any other instance. If any provision of these Terms of Use is determined to be unlawful, void or for any reason unenforceable, such determination shall not affect the validity and enforceability of any of the remaining provisions.</p>

<p align="justify">Last updated: 20 October 2013</p>
            </div>
            <hr>
            </div>
    </div>
</div>
</body>