<%= form_for @message, :url => contact_path do |form| %>
<% provide(:title, 'Contact Us') %>

<div class="titlebar-outer-wrapper titlebar-map">
  <iframe width="100%" scrolling="no" height="100%" frameborder="0" marginheight="0" marginwidth="0" src="https://maps.google.com.sg/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=school+of+computing+near+NUS&amp;aq=1&amp;oq=NUS+School+of+com&amp;sll=1.343746,103.824045&amp;sspn=0.372059,0.676346&amp;ie=UTF8&amp;hq=school+of+computing&amp;hnear=National+University+of+Singapore,+21+Lower+Kent+Ridge+Rd,+119077&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=11460819071300591550&amp;spn=0.019517,0.018797&amp;z=14&amp;iwloc=near&amp;output=embed"></iframe>
  <div class="shadow-box"></div>
</div>
<style>
  
#password:focus{
      outline:0;
      border-radius:3px!important;
      border:1px solid #ff6a2f!important;
      /* border-color: #f64300;*/
      box-shadow: 0 0 7px #ff6a2f;
    }

</style>

<div class="main-outer-wrapper has-titlebar">
  <div class="main-wrapper container">
    <div class="row row-wrapper">
      <div class="page-outer-wrapper">
        <div class="page-wrapper twelve columns no-sidebar b0">

          <div class="row">
            <div class="twelve columns b0">
              <div class="page-title-wrapper" style="margin-left:-5px;width:100%;">
                <h1 class="page-title left">Contact Us</h1>
                <div class="page-title-alt right">
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="content-wrapper eight columns">

              <div class="text-content">

                <form id="contact_form" name="contact_form" method="post" action="">
                  <div class="row">
                    <div class="six columns b0">
                      <div class="form-row field_text">
                        <label for="contact_name">Name <i style="color:red;">*</i></label>

    <%= form.text_field :name , :class=>"input_text required", :style=>"width:90%; border-radius:3px;color:black; border:1.5px solid #ccc; background:#ffffff;font-size: 12px;", :id=>"password"%>
                     
                      </div>


                    </div>
                    <div class="six columns b0">
                      <div class="form-row field_text">
                        <label for="contact_email">E-Mail Address<i style="color:red;">*</i> </label>
              
                            <%= form.text_field :email , :class=>"input_text required", :style=>"width:80%; border-radius:3px;color:black; border:1.5px solid #ccc; background:#ffffff;font-size: 12px;", :id=>"password"%>
                      </div>

                    </div>
                    <div class="six columns b0">

                      <div class="form-row field_text">
                        <label for="contact_subject">Subject<i style="color:red;">*</i> </label>
                         <%= form.text_field :subject, :class=>"input_text required", :style=>"width:90%; border-radius:3px;color:black; border:1.5px solid #ccc; background:#ffffff;font-size: 12px;", :id=>"password"%>
                      
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>

                  <div class="form-row field_textarea">
                    <label for="contact_message">Message<i style="color:red;">*</i></label>
                     <%= form.text_area :body , :class=>"input_text required", :style=>"width:90%; border-radius:3px;color:black; border:1.5px solid #ccc; background:#ffffff;font-size: 12px;border-radius:6px;", :id=>"password"%>
                  </div>
                  <br>
                  <div class="form-row field_submit" align="right">
               
                      <%= form.submit "Send" , :class=>"btn btn_orange"%>

        
                                   </div>
           

                </form> <!-- END #contact_form -->



              </div> <!-- END .text-content -->
            </div>

            <div class="sidebar right-sidebar-wrapper four columns">

              <div class="widget-container widget-text" id="widget-ID-name">
                <h3 class="widgettitle">General Inquiries</h3>
                <div class="widget-content">
                  <div class="contact-text">
                    <ul>
                      <li>
                        <h5>Address</h5>
                        <span>
                          13 Computing Drive
                          <br>
                          Building 'COM1', #03-68
                          <br>
                          Singapore 117417
                          <br>


                          <a title="Map &amp; Directions" href="#">Map &amp; Directions</a>
                        </span>
                        <div class="clear"></div>
                      </li>
                      <li>
                        <h5>Telephone</h5>
                        <span>(+65) 6516-4368</span>
                        <div class="clear"></div>
                      </li>
                      <li>
                        <h5>Fax</h5>
                        <span>(+65) 6779-7365</span>
                        <div class="clear"></div>
                      </li>
                      <li>
                        <h5>Email</h5>
                        <span>info@spacecomby.com</span>
                        <div class="clear"></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
            <div class="clear"></div>
          </div> <!-- END .row -->
        </div> <!-- END .page-wrapper -->
        <div class="clear"></div>

      </div> <!-- END .page-outer-wrapper -->
    </div>
  </div> <!-- END .main-wrapper -->




</div> <!-- END .main-outer-wrapper -->

<% end %>


