 <% provide(:title, 'My Transactions') %>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<style>

  .number{

font-size: 4.0em;
font-weight: 100;
color: #FA5B0F;
line-height: 1.3em;
padding-top: 8px;
letter-spacing: -0.06em;


  }

small {
font-size: 75%;
vertical-align: top;
}


</style>
<style>
   .info {  position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;background-color: #b9dbee;color: #3a87ad;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; width:110%;
  }




</style>


<h1 class="page-title-wrapper" style="margin-left:-20px;width:115%;">My Transactions</h1>
      <table style="width:110%;border:solid 1px  #e6e6e6;">
       <tr style="padding:15px 15px;text-align:center; ">
           <td style="width:30%;border-right: 1px solid #e6e6e6;">
             <div class="col-md-3" style="display: block;">
          <div class="number">
            <div class="icon-money" style="width:50px;"></div>&nbsp;&nbsp;
            <small>$</small><%= @user.earning%></div>
          <div class="text" style="text-align: center;font-size:16px;"> Overall Earnings </div>
        </div>

            
        </div>
        </td>

           
        <td style="width:30%;">
            <div class="col-md-3">
          <div class="number">
            <div class="icon-tags" style="width: 90px;height: 90px;"></div>&nbsp;&nbsp;
           <small>$</small><%= @user.spending%></div>
            </div>
          <div class="text"  style="text-align: center;font-size:16px;"> Overall Spendings </div>
       

        </td>
      
       </tr>



   </table>
<br/>

<%if @places.empty?%>
<div class="info">
You have not listed any places.
</div>
<%else%>

      <% @user.places.each do |place| %> 
<%if place.order_places.empty?%>
<div class="info">

No one has book <%=place.title%> yet.<br/>

</div>
<%else%>

<% place.order_places.each do |order| %> 

     	

       <br/>
 <table class="table" style="width:120%;">
   <tr>
       <td style="width:10%;text-align:center;font-weight:bold;">Ref No.</td>
           <td style="width:20%;text-align:center;font-weight:bold;">Transaction Date</td>
           <td style="width:25%;text-align:left;font-weight:bold;">Transaction Details</td>
           <td style="width:24%;text-align:center;font-weight:bold;">Booked By</td>
<!--            <td style="width:30%"></td> -->
      


   </tr>
       <tr>
           <td align="center"style="vertical-align: top;">
          <%= order.order.id%>
</td>   
<td align="center" style="vertical-align: top;"><%=order.created_at.strftime('%Y-%m-%e') %></td>
<td style="vertical-align:top;">

<h2 class="cpt-title" style="color:#808080;margin-top:-10px;"><a href="/places/<%= order.place.id%>" style="color:#463E3F;"> <%= sanitize(order.place.title) %></a></h2>
                                                            <div class="cpt-desc">
      <div style="color:#808080;"><i class="icon-calendar"></i>&nbsp;&nbsp;<h style="font-style:normal;color:#808080;"> Check In On<h style="margin-left:40px;"><%= order.start_date%></h></h>
               <br/>
                                                            <i class="icon-calendar"></i>&nbsp;&nbsp; <h style="font-style:normal;color:#808080;">Check Out On 
<h style="margin-left:27px;"><%= place.select_end%></h></h>
<br/>
 <i class="icon-money"></i>&nbsp;&nbsp;<h style="font-style:normal;color:#808080;"> Amount Credited
<h style="margin-left:20px;">$<%= order.amount%></h></h>
           

</td>
<td style="vertical-align: top;" align="center">



    <% if order.order.user.photo? %>

                   <%= image_tag sanitize(order.order.user.photo.url), :style=>"width:140px; height:80px;" %>
                  <% else %>
               
                            <%= image_tag("../assets/images/PersonPicMissing.jpg", :style=>"width:140px; height:80px;") %>
                  <% end %>
                <br/>
                     <%= sanitize(order.order.user.first_name) %>
    <%= sanitize(order.order.user.last_name) %>



    </td>

       </tr>


   </table>
<hr/>

<% end %>

<% end %>
<% end %>
<% end %>