

 
 <%= stylesheet_link_tag "responsive" %>
<style type="text/css">

div{width:100%;margin:0px;padding:0px;text-align:center;}
/*Search Button*/
.Confirm {
    width: 220px;
    height:55px;
    background-color:#f44300;
    padding: 10px 33px 10px 33px;
    padding-bottom: -4px;
    border:0!important;
     -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: left;
    font: bold 14px Arial, Helvetica, sans-serif;
    color:white;


}

.Confirm:hover
{
    background:#ff5413;
    }



.confirmMain
{
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #ccc;
    }

@media only screen and (max-width:640px)

{
    
    .main{width: 440px !important;}
    .inner{width: 400px !important;}
    .column{width: 440px !important;}
    
}

@media only screen and (max-width:479px)

{
    .main{width: 280px !important;}
    .inner{width: 240px !important;}
    .column{width: 240px !important;}
}


</style>


<div>

  <!--  Main Table Start-->

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="main-bg" style="background:#eeeeee;">
  <tr>
    <td height="" align="center" valign="middle" style="border-bottom:#ff580e solid 5px;">    
    
    </td>
  </tr>
  <tr>
        <td align="center" valign="top" style="padding-bottom:60px;">
    
    <!--  Inner Table Start-->
    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="main">
     
    <br /><br />
      <tr>
        <td align="left" valign="top">
        
        <!--  Quote Part Start-->
            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="main">
  
              <tr>
                <td class ="confirmMain" align="left" valign="top" bgcolor="#fff" style="background:#fff; padding-top:19px; padding-bottom:22px;"><table width="560" border="0" align="center" 
                cellpadding="0" cellspacing="0" class="inner">
                  <tr>
                    <td align="center" valign="top" style="font:Bold 24px Arial, Helvetica, sans-serif; color:#000; padding-top:2px;">
                                            
                    <img src="http://i.imgur.com/DdfVy34.png" width="240" height="140"  alt="" style="margin-left:5px;"/>
                    <br />
                    </td>
                  </tr>
                  <tr>
                    <td align="center" valign="top" style="font:Bold 24px Arial, Helvetica, sans-serif; color:#525252; padding-top:2px;">
                   Reset Your Password 
                    
                </td>
                  </tr>
                  <tr>
                    <td align="center" valign="top" style="font:Normal 12px Arial, Helvetica, sans-serif; color:#686868; line-height:24px; padding:15px 0px 20px 0px;">
                    You have requested to change your password.
                    <br/><br/>
                    If you didn't request for a change in your password, please ignore this email.<br/>
Your password will not change until you access the link above and create a new one.<br/>
                    
                    </td>
                  </tr>
                  <tr>
                    <td align="center" valign="top" style="padding-bottom:1em;">
                    

                   <%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token), :class=>"btn btn_orange", :style=>"text-decoration:none;" %>
                    
                    </td>
                  </tr>
                </table></td>
              </tr>
              
            </table>
             <!--  Quote Part End-->
             
             </td>
      </tr>
    </table>    
    <!--  Inner Table End-->
    
    </td>
  </tr>
  <tr>
    <td height="150" align="center" valign="middle" style="border-top:#e3e3e3 solid 1px;">
    

        
    <!--  Copyright part Start-->
    <table width="600" border="0" cellspacing="0" cellpadding="0" class="main">
      <tr>
        <td align="center" valign="top" style="font:Normal 11px Arial, Helvetica, sans-serif; color:#363535; style="margin-top:-1.5em;"">
        Please do not reply to this message. It was sent from an unmonitored email address. This message is a service email related to your use of SpaceComby. For general inquiries or to request support with SpaceComby account, please contact us at info@spacecomby.com.<br /></td>
      </tr>
      <tr>
        <td align="center" valign="top" style="font:Bold 14px Arial, Helvetica, sans-serif; color:#363535; padding-top:8px;">Copyright © 2013 Spacecomby.com</td>
      </tr>

       
    </table>
    <!--  Copyright part End-->
    

        <br />



    </td>
  </tr>
</table>

  <!--  Main Table End-->


</div>


                                