<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @line_item.place_id %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @line_item.cart_id %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
