<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<%= form_tag places_path, :method => :get do %>
<p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>

</p>
<% end %>

<head>
  <meta charset="utf-8" />
  <title>jQuery UI Slider - Default functionality</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>
<body>

<br><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></br>

<h1>Places</h1>

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<div class="demo">
    <p>
        <label for="amount">Price range:</label>
        <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;" />
    </p>

<script>
function showPlaces(minPrice, maxPrice) {
    $("#places tr").hide().filter(function() {
    //$("#list_line_odd").hide().filter(function() {
        var price = parseFloat($(this).data("price"), 10.0);
        return price >= minPrice && price <= maxPrice;
    }).show();
}

$(function() {
    min = <%= @price_range.first %>;
    max = <%= @price_range.last %>;
    var options = {
        range: true,
        min: <%= @price_range.first %>,
        max: <%= @price_range.last %>,
        values: [min, max],
        slide: function(event, ui) {
            var min = ui.values[0],
                max = ui.values[1];

            $("#amount").val("$" + min + " - $" + max);
            showPlaces(min, max);
        }
    }, min, max;

    $("#slider-range").slider(options);
    $("#amount").val("$" + min + " - $" + max);
    showPlaces(min, max);
});
</script>


</body>

  <div id="slider-range"></div>
    
<div id="place_list">
  <h1>Listing Places</h1>
  <table id="places">
  <% @places.each do |place| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>" data-price="<%= place.price %>">
      <td>
        <%= image_tag(place.image, :class => 'list_image') %>
      </td>
      <td class="list_description">
        <dl>
          <dt><%= place.title %></dt>
          <dd><%= truncate(strip_tags(place.description),
                 :length => 80) %></dd>
              <div class="price_line">
<!-- START:currency -->
      <span class="price"><%= number_to_currency(place.price) %></span>



<!-- START_HIGHLIGHT -->
      <%= button_to 'Add to Cart', line_items_path(:place_id => place) %>
<!-- END_HIGHLIGHT -->
<!-- END:currency -->
    </div>
        </dl>
      </td>
      <td class="list_actions">
        <%= link_to 'Show', place %><br/>
        <%= link_to 'Edit', edit_place_path(place) %><br/>
        <%= link_to 'Destroy', place, 
                    :confirm => 'Are you sure?',
                    :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>

</div>

<br />