<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>


<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.0.1-p7/js/bootstrap.min.js"></script>

<style>
.error{
  position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; width:90%;background-color: #e7c1c0;color: #b94a48;border-color: transparent;
}
.alert {position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;background-color: #faf2cb;color: #c09853;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; width:80%;}
.success {   position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;background-color: #c3e4b8;color: #468847;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; width:90%;
  background-color: #e7c1c0;color: #b94a48;}
  .info {  position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;background-color: #b9dbee;color: #3a87ad;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; width:90%;
  }
  .block {padding-top: 14px;padding-bottom: 14px;}

  fieldset{

    margin-left:2em;
    margin-right:3em;
    border-radius:4px;
    background-color:#f9f9f9;

  }

  fieldset legend {

    font-size: 24px;


  }

  .verifyMain
  {
    -moz-border-radius:4px !important;
    -webkit-border-radius:4px!important;
    border-radius:4px!important;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    border:1px solid #ccc;
  }

  .VerifyTable{

    width:600;
    border:0; 
    align:center;
    cellpadding:0;
    cellspacing:0;

    border-top:#ff580e solid 5px !important;
    -moz-border-radius:4px !important; 
    -webkit-border-radius:4px !important; 
    border-radius:4px!important;
  }


  @media only screen and (max-width:640px)

  {

    .main{width: 440px !important;}
    .inner{width: 400px !important;}
    .column{width: 440px !important;}

  }

  @media only screen and (max-width:479px)

  {
    .main{width: 280px !important;}
    .inner{width: 240px !important;}
    .column{width: 240px !important;}
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1050;
    overflow: auto;
    width: 700px;
    margin: -200px 0 0 -100px;
    margin-left: -330px;
    background-color: transparent;
    border: none;
    border: none;
    *border: none;
    /* IE6-7 */

    -webkit-border-radius: none;
    -moz-border-radius: none;
    border-radius: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-background-clip: none;
    -moz-background-clip: none;
    background-clip: none;
  }

  #title:focus, #Description:focus,#Openinghr:focus, #Closinghr:focus, #Price:focus, #Country:focus, #Address:focus, #PostalCode:focus, #MaxOccupancy:focus, #HpNo:focus, #StartDate:focus, #EndDate:focus, #place_start_date:focus, #place_end_date:focus{
    outline:0;
    border-radius:3px!important;
    border:1px solid #ff6a2f!important;
    /* border-color: #f64300;*/
    box-shadow: 0 0 7px #ff6a2f;
  }


  .btn-default .caret {
    border-top-color: #333333;
  }

  .btn-primary .caret,
  .btn-success .caret,
  .btn-warning .caret,
  .btn-danger .caret,
  .btn-info .caret {
    border-top-color: #fff;
  }

  .dropup .btn-default .caret {
    border-bottom-color: #333333;
  }

  .dropup .btn-primary .caret,
  .dropup .btn-success .caret,
  .dropup .btn-warning .caret,
  .dropup .btn-danger .caret,
  .dropup .btn-info .caret {
    border-bottom-color: #fff;
  }

  .btn-group,
  .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .btn-group > .btn,
  .btn-group-vertical > .btn {
    position: relative;
    float: left;
  }

  .btn-group > .btn:hover,
  .btn-group-vertical > .btn:hover,
  .btn-group > .btn:focus,
  .btn-group-vertical > .btn:focus,
  .btn-group > .btn:active,
  .btn-group-vertical > .btn:active,
  .btn-group > .btn.active,
  .btn-group-vertical > .btn.active {
    z-index: 2;
  }

  .btn-group > .btn:focus,
  .btn-group-vertical > .btn:focus {
    outline: none;
  }

  .btn-group .btn + .btn,
  .btn-group .btn + .btn-group,
  .btn-group .btn-group + .btn,
  .btn-group .btn-group + .btn-group {
    margin-left: -1px;
  }

  .btn-toolbar:before,
  .btn-toolbar:after {
    display: table;
    content: " ";
  }

  .btn-toolbar:after {
    clear: both;
  }

  .btn-toolbar:before,
  .btn-toolbar:after {
    display: table;
    content: " ";
  }

  .btn-toolbar:after {
    clear: both;
  }

  .btn-toolbar .btn-group {
    float: left;
  }

  .btn-toolbar > .btn + .btn,
  .btn-toolbar > .btn-group + .btn,
  .btn-toolbar > .btn + .btn-group,
  .btn-toolbar > .btn-group + .btn-group {
    margin-left: 5px;
  }

  .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
  }

  .btn-group > .btn:first-child {
    margin-left: 0;
  }

  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn-group > .btn:last-child:not(:first-child),
  .btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .btn-group > .btn-group {
    float: left;
  }

  .btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
    border-radius: 0;
  }

  .btn-group > .btn-group:first-child > .btn:last-child,
  .btn-group > .btn-group:first-child > .dropdown-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn-group > .btn-group:last-child > .btn:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .btn-group .dropdown-toggle:active,
  .btn-group.open .dropdown-toggle {
    outline: 0;
  }

  .btn-group-xs > .btn {
    padding: 5px 10px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
  }

  .btn-group > .btn + .dropdown-toggle {
    padding-right: 8px;
    padding-left: 8px;
  }

  .btn-group > .btn-lg + .dropdown-toggle {
    padding-right: 12px;
    padding-left: 12px;
  }

  .btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }

  .btn-group.open .dropdown-toggle.btn-link {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .btn .caret {
    margin-left: 0;
  }

  .btn-lg .caret {
    border-width: 5px 5px 0;
    border-bottom-width: 0;
  }

  .dropup .btn-lg .caret {
    border-width: 0 5px 5px;
  }

  .btn-group-vertical > .btn,
  .btn-group-vertical > .btn-group {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
  }

  .btn-group-vertical > .btn-group:before,
  .btn-group-vertical > .btn-group:after {
    display: table;
    content: " ";
  }

  .btn-group-vertical > .btn-group:after {
    clear: both;
  }

  .btn-group-vertical > .btn-group:before,
  .btn-group-vertical > .btn-group:after {
    display: table;
    content: " ";
  }

  .btn-group-vertical > .btn-group:after {
    clear: both;
  }

  .btn-group-vertical > .btn-group > .btn {
    float: none;
  }

  .btn-group-vertical > .btn + .btn,
  .btn-group-vertical > .btn + .btn-group,
  .btn-group-vertical > .btn-group + .btn,
  .btn-group-vertical > .btn-group + .btn-group {
    margin-top: -1px;
    margin-left: 0;
  }

  .btn-group-vertical > .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  .btn-group-vertical > .btn:first-child:not(:last-child) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .btn-group-vertical > .btn:last-child:not(:first-child) {
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 0;
  }

  .btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
    border-radius: 0;
  }

  .btn-group-vertical > .btn-group:first-child > .btn:last-child,
  .btn-group-vertical > .btn-group:first-child > .dropdown-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .btn-group-vertical > .btn-group:last-child > .btn:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .btn-group-justified {
    display: table;
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;
  }

  .btn-group-justified .btn {
    display: table-cell;
    float: none;
    width: 1%;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
  }

  .btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    direction: ltr;
  }
  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  .btn:hover,
  .btn:focus {
    color: #333333;
    text-decoration: none;
  }

  .btn:active,
  .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }

  .btn.disabled,
  .btn[disabled],
  fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .btn-default {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
  }

  .btn-default:hover,
  .btn-default:focus,
  .btn-default:active,
  .btn-default.active,
  .open .dropdown-toggle.btn-default {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
  }

  .btn-default:active,
  .btn-default.active,
  .open .dropdown-toggle.btn-default {
    background-image: none;
  }

  .btn-default.disabled,
  .btn-default[disabled],
  fieldset[disabled] .btn-default,
  .btn-default.disabled:hover,
  .btn-default[disabled]:hover,
  fieldset[disabled] .btn-default:hover,
  .btn-default.disabled:focus,
  .btn-default[disabled]:focus,
  fieldset[disabled] .btn-default:focus,
  .btn-default.disabled:active,
  .btn-default[disabled]:active,
  fieldset[disabled] .btn-default:active,
  .btn-default.disabled.active,
  .btn-default[disabled].active,
  fieldset[disabled] .btn-default.active {
    background-color: #ffffff;
    border-color: #cccccc;
  }

  .btn-primary {
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
  }

  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary.active,
  .open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #3276b1;
    border-color: #285e8e;
  }

  .btn-primary:active,
  .btn-primary.active,
  .open .dropdown-toggle.btn-primary {
    background-image: none;
  }

  .btn-primary.disabled,
  .btn-primary[disabled],
  fieldset[disabled] .btn-primary,
  .btn-primary.disabled:hover,
  .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary:hover,
  .btn-primary.disabled:focus,
  .btn-primary[disabled]:focus,
  fieldset[disabled] .btn-primary:focus,
  .btn-primary.disabled:active,
  .btn-primary[disabled]:active,
  fieldset[disabled] .btn-primary:active,
  .btn-primary.disabled.active,
  .btn-primary[disabled].active,
  fieldset[disabled] .btn-primary.active {
    background-color: #428bca;
    border-color: #357ebd;
  }

  .btn-warning {
    color: #ffffff;
    background-color: #f0ad4e;
    border-color: #eea236;
  }

  .btn-warning:hover,
  .btn-warning:focus,
  .btn-warning:active,
  .btn-warning.active,
  .open .dropdown-toggle.btn-warning {
    color: #ffffff;
    background-color: #ed9c28;
    border-color: #d58512;
  }

  .btn-warning:active,
  .btn-warning.active,
  .open .dropdown-toggle.btn-warning {
    background-image: none;
  }

  .btn-warning.disabled,
  .btn-warning[disabled],
  fieldset[disabled] .btn-warning,
  .btn-warning.disabled:hover,
  .btn-warning[disabled]:hover,
  fieldset[disabled] .btn-warning:hover,
  .btn-warning.disabled:focus,
  .btn-warning[disabled]:focus,
  fieldset[disabled] .btn-warning:focus,
  .btn-warning.disabled:active,
  .btn-warning[disabled]:active,
  fieldset[disabled] .btn-warning:active,
  .btn-warning.disabled.active,
  .btn-warning[disabled].active,
  fieldset[disabled] .btn-warning.active {
    background-color: #f0ad4e;
    border-color: #eea236;
  }

  .btn-danger {
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
  }

  .btn-danger:hover,
  .btn-danger:focus,
  .btn-danger:active,
  .btn-danger.active,
  .open .dropdown-toggle.btn-danger {
    color: #ffffff;
    background-color: #d2322d;
    border-color: #ac2925;
  }

  .btn-danger:active,
  .btn-danger.active,
  .open .dropdown-toggle.btn-danger {
    background-image: none;
  }

  .btn-danger.disabled,
  .btn-danger[disabled],
  fieldset[disabled] .btn-danger,
  .btn-danger.disabled:hover,
  .btn-danger[disabled]:hover,
  fieldset[disabled] .btn-danger:hover,
  .btn-danger.disabled:focus,
  .btn-danger[disabled]:focus,
  fieldset[disabled] .btn-danger:focus,
  .btn-danger.disabled:active,
  .btn-danger[disabled]:active,
  fieldset[disabled] .btn-danger:active,
  .btn-danger.disabled.active,
  .btn-danger[disabled].active,
  fieldset[disabled] .btn-danger.active {
    background-color: #d9534f;
    border-color: #d43f3a;
  }

  .btn-success {
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #4cae4c;
  }

  .btn-success:hover,
  .btn-success:focus,
  .btn-success:active,
  .btn-success.active,
  .open .dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #47a447;
    border-color: #398439;
  }

  .btn-success:active,
  .btn-success.active,
  .open .dropdown-toggle.btn-success {
    background-image: none;
  }

  .btn-success.disabled,
  .btn-success[disabled],
  fieldset[disabled] .btn-success,
  .btn-success.disabled:hover,
  .btn-success[disabled]:hover,
  fieldset[disabled] .btn-success:hover,
  .btn-success.disabled:focus,
  .btn-success[disabled]:focus,
  fieldset[disabled] .btn-success:focus,
  .btn-success.disabled:active,
  .btn-success[disabled]:active,
  fieldset[disabled] .btn-success:active,
  .btn-success.disabled.active,
  .btn-success[disabled].active,
  fieldset[disabled] .btn-success.active {
    background-color: #5cb85c;
    border-color: #4cae4c;
  }

  .btn-info {
    color: #ffffff;
    background-color: #5bc0de;
    border-color: #46b8da;
  }

  .btn-info:hover,
  .btn-info:focus,
  .btn-info:active,
  .btn-info.active,
  .open .dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: #39b3d7;
    border-color: #269abc;
  }

  .btn-info:active,
  .btn-info.active,
  .open .dropdown-toggle.btn-info {
    background-image: none;
  }

  .btn-info.disabled,
  .btn-info[disabled],
  fieldset[disabled] .btn-info,
  .btn-info.disabled:hover,
  .btn-info[disabled]:hover,
  fieldset[disabled] .btn-info:hover,
  .btn-info.disabled:focus,
  .btn-info[disabled]:focus,
  fieldset[disabled] .btn-info:focus,
  .btn-info.disabled:active,
  .btn-info[disabled]:active,
  fieldset[disabled] .btn-info:active,
  .btn-info.disabled.active,
  .btn-info[disabled].active,
  fieldset[disabled] .btn-info.active {
    background-color: #5bc0de;
    border-color: #46b8da;
  }

  .btn-link {
    font-weight: normal;
    color: #428bca;
    cursor: pointer;
    border-radius: 0;
  }

  .btn-link,
  .btn-link:active,
  .btn-link[disabled],
  fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .btn-link,
  .btn-link:hover,
  .btn-link:focus,
  .btn-link:active {
    border-color: transparent;
  }

  .btn-link:hover,
  .btn-link:focus {
    color: #2a6496;
    text-decoration: underline;
    background-color: transparent;
  }

  .btn-link[disabled]:hover,
  fieldset[disabled] .btn-link:hover,
  .btn-link[disabled]:focus,
  fieldset[disabled] .btn-link:focus {
    color: #999999;
    text-decoration: none;
  }

  .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
  }

  .btn-sm,
  .btn-xs {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  .btn-xs {
    padding: 1px 5px;
  }

  .btn-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .btn-block + .btn-block {
    margin-top: 5px;
  }

  input[type="submit"].btn-block,
  input[type="reset"].btn-block,
  input[type="button"].btn-block {
    width: 100%;
  }

  .btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
  }

  .btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
  }

  .btn-label.btn-label-right {
    right: -12px;
    left: auto;
    border-radius: 0 3px 3px 0;
  }

  .btn-lg .btn-label {
    left: -16px;
    padding: 10px 16px;
    border-radius: 5px 0 0 5px;
  }

  .btn-lg .btn-label.btn-label-right {
    right: -16px;
    left: auto;
    border-radius: 0 5px 5px 0;
  }

  .btn-sm .btn-label {
    left: -10px;
    padding: 5px 10px;
    border-radius: 2px 0 0 2px;
  }

  .btn-sm .btn-label.btn-label-right {
    right: -10px;
    left: auto;
    border-radius: 0 2px 2px 0;
  }

  .btn-xs .btn-label {
    left: -5px;
    padding: 1px 5px;
    border-radius: 2px 0 0 2px;
  }

  .btn-xs .btn-label.btn-label-right {
    right: -5px;
    left: auto;
    border-radius: 0 2px 2px 0;
  }

  .thumbnail {
    display: inline-block;
    display: block;
    height: auto;
    max-width: 100%;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.428571429;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .thumbnail > img {
    display: block;
    height: auto;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  a.thumbnail:hover,
  a.thumbnail:focus,
  a.thumbnail.active {
    border-color: #428bca;
  }

  .thumbnail .caption {
    padding: 9px;
    color: #333333;
  }

  .fileinput {
    display: inline-block;
    margin-bottom: 9px;
  }

  .fileinput .uneditable-input {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: text;
  }

  .fileinput .thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
  }

  .fileinput .thumbnail > img {
    max-height: 100%;
  }

  .fileinput .btn {
    vertical-align: middle;
  }

  .fileinput-exists .fileinput-new,
  .fileinput-new .fileinput-exists {
    display: none;
  }

  .fileinput-inline .fileinput-controls {
    display: inline;
  }

  .fileinput .uneditable-input {
    white-space: normal;
  }

  .fileinput-new .input-group .btn-file {
    border-radius: 0 4px 4px 0;
  }

  .fileinput-new .input-group .btn-file.btn-xs,
  .fileinput-new .input-group .btn-file.btn-sm {
    border-radius: 0 3px 3px 0;
  }

  .fileinput-new .input-group .btn-file.btn-lg {
    border-radius: 0 6px 6px 0;
  }

  .form-group.has-warning .fileinput .uneditable-input {
    color: #c09853;
    border-color: #faebcc;
  }

  .form-group.has-warning .fileinput .fileinput-preview {
    color: #c09853;
  }

  .form-group.has-warning .fileinput .thumbnail {
    border-color: #faebcc;
  }

  .form-group.has-error .fileinput .uneditable-input {
    color: #b94a48;
    border-color: #ebccd1;
  }

  .form-group.has-error .fileinput .fileinput-preview {
    color: #b94a48;
  }

  .form-group.has-error .fileinput .thumbnail {
    border-color: #ebccd1;
  }

  .form-group.has-success .fileinput .uneditable-input {
    color: #468847;
    border-color: #d6e9c6;
  }

  .form-group.has-success .fileinput .fileinput-preview {
    color: #468847;
  }

  .form-group.has-success .fileinput .thumbnail {
    border-color: #d6e9c6;
  }



.radio,
.checkbox {
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.radio label,
.checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {

}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}

.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

  </style>

  <script>
  $(function() {
    $('#place_start_date').datepicker({ dateFormat: 'yy-mm-dd', minDate: '0' });
  });
  $(function() {
    $('#place_end_date').datepicker({ dateFormat: 'yy-mm-dd', minDate: '0' });
  });
  </script>

  <!--<div class="content-wrapper eight columns">-->
  <div class="text-content">
    <div class="row" style="margin-left:2px;">
      <%= form_for(@place , :html => { :multipart => true }) do |f| %>
      <br>
      <% if @place.errors.any? %>
      <div class="alert alert-error">
        <h2><%= pluralize(@place.errors.count, "error") %> prohibited this workspace from being saved:</h2>
        <button class="close" type="button">×</button>
        <ul>
          <% @place.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>


      <fieldset>
        <legend>Place Description</legend>
        <div class="six columns">
          <div class="form-row field_text">
            <label>Title:</label><!-- <i style="color:red;">*</i> -->
            <%= f.text_field :title, :id=>"title", :placeholder=>"Name of Your Workspace" , :class=>"input_text required" ,:style=>"width: 100%; border-radius:3px;color:black; border:1.5px solid #ccc; background:#ffffff;font-size: 12px;", :required => true   %>
          </div>
          <br/>
          <div class="form-row field_text">
            <label>Workspace Description:</label><!-- <i style="color:red;">*</i> -->
            <%= f.text_area :description ,:id=>"Description",:placeholder=>"A great summary that is rich and exciting! It should cover the major features of your Workspace." , :class=>"input_text required" ,:style=>"border-radius:3px;width:100%;color:black; padding:0.7em 10px; border:1.5px solid #ccc; background:#ffffff;font-size: 12px; ", :required => true %>
          </div>
          <br/>
          <div class="form-row field_text" style="font-size:13px;">
            <label>Workspace Type:</label><!-- <i style="color:red;">*</i> -->    
            <%= f.select :wsType, [["Co-Working Space", "co-working"],["Meeting Room", "meeting"],["Startup Incubator", "startup"]], :id=>"WSType"%>
          </div>
          <br/>
          <div class = "form-row checkbox">
            <label>Facility:</label><!-- <i style="color:red;">*</i> -->
            <br/>
            <%= hidden_field_tag "place[category_ids][]", nil %>
            <% Facility.all.each do |facility| %>
            <%= check_box_tag "place[facility_ids][]", facility.id, @place.facility_ids.include?(facility.id), id: dom_id(facility), :style=>"background:blue;" %>
            <br/>
            <%= label_tag dom_id(facility), facility.name ,:style=>" width:25%;margin-top:-2em;"%>
            <% end %>
          </div>
        </div>


        <div class="six columns" style="padding-left:3em!important;">
          <div class="form-row field_text">
            <label>Price:</label><!-- <i style="color:red;">*</i> -->
            <%= f.text_field :price ,:placeholder=>"Price Rate" , :id=>"Price", :class=>"input_text required" ,:style=>"width:40%;color:black;border:1px solid #ccc; background:#ffffff;font-size: 12px; border-radius:3px; ", :required => true %>/day
          </div>
          <br/>
          <div class="form-row field_text">
            <label>Maximum Occupancy:</label><!-- <i style="color:red;">*</i> -->
            <%= f.text_field :maxOccupancy ,:id=>"MaxOccupancy", :placeholder=>"Enter a number" , :class=>"input_text required" ,:style=>"width:50%;color:black;border:1px solid #ccc; background:#ffffff;font-size: 12px; border-radius:3px; ", :required => true  %>
          </div>

          <br/>

          <div class="form-row field_text">
            <label>Telephone Number:</label><!-- <i style="color:red;">*</i><br> -->
            <%= f.text_field :telNumber, :id=>"HpNo", :placeholder=>"12345678" , :required => true ,:class=>"input_text required" ,:style=>"width:50%;color:black; border:1px solid #ccc; background:#ffffff;font-size: 12px; border-radius:3px;", :required => true %>
          </div>

          <br/>


        </div>

      </fieldset>

      <br/><br/>
      <fieldset>
        <legend>Photo and Address</legend>

        <div class="six columns">


          <div class="field">
            <label>Address:</label><!-- <i style="color:red;">*</i> -->
            <%= f.text_field :address,:required => true , :id=>"Address", :style=>"width:92%;border:1.5px solid #ccc; border-radius:3px;background-color:#fff;"%>
          </div>

          <div class="field" style="margin-top:30px">
            <label>Postal Code:</label><!-- <i style="color:red;">*</i> -->
            <%= f.text_field :postal, :required => true , :id=>"PostalCode", :style=>"width:92%;border:1.5px solid #ccc; border-radius:3px;background-color:#fff;"%>
          </div>

          <div class="field" style="margin-top:30px">
            <label>Country:</label><!-- <i style="color:red;">*</i> -->
            <%= f.country_select:country,{prompt: 'Please select a country'},:id=>"Country", :required => true ,:class=>"select-box", :id=>"Country", :style=>"width:92%; height: 37px;border-radius:3px; border:1.5px solid #ccc; background:#ffffff;font-size: 12px;" %>
          </div>
        </div>

        <div class="six columns" style="padding-left:3em!important;">
          <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
            <div>
              <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" id="photo" name="place[image]"></span>
              <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
            </div>
          </div>         
        </div>

      </fieldset>

      <br/><br/>
      <fieldset>

        <legend>Available Dates/Time</legend>
        <div class="six columns">
          <div class="field">
            <label>Start Date:</label><!-- <i style="color:red;">*</i> -->
            <%= f.text_field :start_date,:required => true ,:placeholder=>"Please select your available start date", :style=>"width:90%;background-color:#fff; border:1.5px solid #ccc; border-radius:3px;" %>
          </div>


          <div class="form-row" style="margin-left:-0.1em;">
            <div class="field"  style="margin-top:23px">
              <label>End Date:</label><!-- <i style="color:red;">*</i> -->
              <%= f.text_field :end_date,:required => true ,:placeholder=> "Please select your available end date",  :style=>"width:90%;background-color:#fff; border:1.5px solid #ccc; border-radius:3px;" %>
            </div>
          </div>
        </div>

        <div class="six columns" style="padding-left:3em!important;font-size:13px;">
          <div class="field" style="margin-top:18px">
            <label>Opening hour:</label><!-- <i style="color:red;">*</i> -->
            <%= f.time_select :startTime,:required => true , :id=>"Openinghr",:ampm => true, :minute_step => 15 %>
          </div>
          <br/>
          <div class="form-row field_text" style="margin-left:0.1em;">
            <label>Closing hour:</label><!-- <i style="color:red;">*</i> -->
            <%= f.time_select :endTime,:required => true , :id=>"Closinghr", :ampm => true, :minute_step => 15 %>
          </div>
        </div>

        <div class="clear"></div>


      </fieldset>

      <div class="clear"></div>
      <br/>
      <div class="form-row field_submit mt20" style="padding-left:1.1em;">

        <div style="float: right;margin-right: 3.5em;"><%= f.submit :class=>"btn btn_orange"%></div>

      </div>

      <% end %>
    </div>

  </div>