

<p>
  <strong>Title:</strong>
  <%= @place.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Maxoccupancy:</strong>
  <%= @place.maxOccupancy %>
</p>

<p>
  <strong>Wstype:</strong>
  <%= @place.wsType %>
</p>

<p>
  <strong>Telnumber:</strong>
  <%= @place.telNumber %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @place.start_date %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @place.end_date %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= @place.startTime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @place.endTime %>
</p>

<p>
  <strong>Price:</strong>
  <%= @place.price %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @place.rating %>
</p>

<% if @place.image? %>
  <%= image_tag @place.image.url(:normal) %>
  <br />
<% end %>

<p>
<strong> Facilities: </strong>
<% @place.facilities.each do |facility| %>
<li><%= facility.name%>
</li><% end %>
</p>

  <%= @place.user.email %>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>