<head>
</head>

<% provide(:title, 'List Your Workspace') %>

<div class="main-wrapper container">
 <div class="row row-wrapper">
 
 <div class="page-outer-wrapper">
 <div class="page-wrapper twelve columns no-sidebar b0">


     <div class="row">
        <div class="twelve columns b0">
          <div class="page-title-wrapper">
                <h1 class="page-title left">List Your Workspace</h1>
                <div class="page-title-alt right"></div>
                <div class="clear"></div>
            </div>
        </div>
     </div>

<%= render 'form' %>

<div class="clear"></div>

</div>
 <div class="clear"></div>
</div>
</div>
</div>
