   <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, :multipart => true) do |f| %> 
													<!-- <label for="verification code">Verification</label> -->
												



 
<style type="text/css">

	/*Search Button*/
	
	.verifyMain
	{
		-moz-border-radius:4px !important;
		-webkit-border-radius:4px!important;
		border-radius:4px!important;
		-webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
		border:1px solid #ccc;
	}

	.VerifyTable{

width:600;
 border:0; 
 align:center;
 cellpadding:0;
 cellspacing:0;
 
border-top:#ff580e solid 5px !important;
-moz-border-radius:4px !important; 
-webkit-border-radius:4px !important; 
border-radius:4px!important;
}


@media only screen and (max-width:640px)

{
    
    .main{width: 440px !important;}
    .inner{width: 400px !important;}
    .column{width: 440px !important;}
    
}

@media only screen and (max-width:479px)

{
    .main{width: 280px !important;}
    .inner{width: 240px !important;}
    .column{width: 240px !important;}
}

    #number:focus{
      outline:0;
      border-radius:3px!important;
      border:1px solid #ff6a2f!important;
      /* border-color: #f64300;*/
      box-shadow: 0 0 7px #ff6a2f;
    }
</style>

	<div>

		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="main-bg" style="background:#eeeeee;">
			
			<tr>
				<td align="center" valign="top" style="padding-bottom:60px;">

				
					<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="main">

						<br /><br />
						<tr>
							<td align="left" valign="top">

								
								<table class="VerifyTable">

									<tr>
										<td class ="verifyMain" align="left" valign="top" bgcolor="#fff" style="background:#fff; padding-top:19px; padding-bottom:22px;"><table width="570" border="0" align="center" 
											cellpadding="0" cellspacing="0" class="inner">
											
											<tr>
												<td align="center" valign="top" style="font-size: 20px; color:#525252; padding-top:2px;">
													<b>Please key in your mobile number before proceeding</b>

												</td>
											</tr>
											
											<tr>
												<td align="center" valign="top" style="padding-bottom:1em;">

	<label>Enter your phone number below</label><br>
                    <%= f.text_field :phone_number,:style=>"width: 60%; border-radius:3px;color:black; border:1.5px solid #ccc; background:#ffffff;font-size: 12px;", :class=>"number ", :id=>"number"%>
                  <br/><br/>
													<%= submit_tag "Submit" , :class=>"btn btn_orange"%>

												


												</td>
											</tr>
										</table></td>
									</tr>

								</table>
								

							</td>
						</tr>
					</table>    
				
				</td>
			</tr>
		
			</table>

		</div>


														<% end%>