<style>
/*sprite with stars*/
#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
  background: url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png') no-repeat;
}

#reviewStars-input {
  
  /*fix floating problems*/
  overflow: hidden;
  *zoom: 1;
  /*end of fix floating problems*/
  
  float:left;
  margin-left:125px;

}

#reviewStars-input input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  
  width: 43px;
  height: 40px;
  
  position: absolute;
  top: 0;
  z-index: 0;
}

form.rating_ballot label.rating.bright {
  background-position: 0 -40px;
  height: 40px;
  width: 43px;
}

form.rating_ballot label.rating {
  background-position: 0 0;
  height: 40px;
  width: 43px;
  float: right;
  cursor: pointer;
  margin-right: 10px;
  
  position: relative;
  z-index: 1;
}

#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
  background-position: 0 -40px;
  height: 40px;
  width: 43px;
}

#reviewStars-input #star-0 {
  left: 0px;
}
#reviewStars-input #star-1 {
  left: 53px;
}
#reviewStars-input #star-2 {
  left: 106px;
}
#reviewStars-input #star-3 {
  left: 159px;
}
#reviewStars-input #star-4 {
  left: 212px;
}
#reviewStars-input #star-5 {
  left: 265px;
}

/*Search Button*/
  
  .ratingMain
  {
    -moz-border-radius:4px !important;
    -webkit-border-radius:4px!important;
    border-radius:4px!important;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    border:1px solid #ccc;
  }

  .RatingTable{

width:600;
 border:0; 
 align:center;
 cellpadding:0;
 cellspacing:0;
 
border-top:#ff580e solid 5px !important;
-moz-border-radius:4px !important; 
-webkit-border-radius:4px !important; 
border-radius:4px!important;
}


@media only screen and (max-width:640px)

{
    
    .main{width: 440px !important;}
    .inner{width: 400px !important;}
    .column{width: 440px !important;}
    
}

@media only screen and (max-width:479px)

{
    .main{width: 280px !important;}
    .inner{width: 240px !important;}
    .column{width: 240px !important;}
}

</style>


  <style>
  #HomeLogIn {
   margin-top:2.1em;
   margin-right:2em;
    background-color:#ff6a2f;
    padding: 7px 13px 7px 13px;
    padding-bottom: -4px;
    border:2px solid #ff6a2f!important;
     -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: left;
    
}
#HomeLogIn:hover {
     background:#f05d23; 
     
    
}

#HomeSignUp {
     margin-top:2.1em;
 
    opacity:0.7;
    padding: 7px 13px 7px 13px;
    padding-bottom: -4px;
    border:2px solid #191919!important;
     -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: left;
    
}

#HomeSignUp:hover {
     border-color:#151411; 
     opacity:0.6;
    
}

  </style>

<div>

    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="main-bg" style="background:#fbf4e4;">
      
      <tr>
        <td align="center" valign="top" style="padding-bottom:60px;">

        
          <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="main">

            <br /><br />
            <tr>
              <td align="left" valign="top">

                
                <table class="RatingTable">

                  <tr>
                    <td class ="ratingMain" align="left" valign="top" bgcolor="#fff" style="background:#fff; padding-top:19px; padding-bottom:22px;"><table width="560" border="0" align="center" 
                      cellpadding="0" cellspacing="0" class="inner">
                      
                      <tr>
                        <td align="center" valign="top" style="font:Bold 24px Arial, Helvetica, sans-serif; color:#525252; padding-top:2px;">
                          Rate SpaceComby 
                          <hr>

                          

                        </td>
                      </tr>
                      <tr>
                        <td align="center" valign="top" style="font:Normal 12px Arial, Helvetica, sans-serif; color:#686868; line-height:24px; padding:15px 0px 20px 0px;">
                              How do you like SpaceComby?

                        </td>
                      </tr>
                      <tr>
                        <td align="center" valign="top" style="padding-bottom:1em;">

                        <%= form_for(rating_ballot, :html => { :class => 'rating_ballot' }) do |f| %>
                        <div id="reviewStars-input"> 
                        <%= f.label("value_5", content_tag(:span, ''), {:class=>"rating", :id=>"5"}) %>
                        <%= radio_button_tag("rating[value]", 5, current_user_rating == 5, :class => 'rating_button',:onclick => "this.form.submit();" ) %>
                        <%= f.label("value_4", content_tag(:span, ''), {:class=>"rating", :id=>"4"}) %>
                        <%= radio_button_tag("rating[value]", 4, current_user_rating == 4, :class => 'rating_button',:onclick => "this.form.submit();") %>
                        <%= f.label("value_3", content_tag(:span, ''), {:class=>"rating", :id=>"3"}) %>
                        <%= radio_button_tag("rating[value]", 3, current_user_rating == 3, :class => 'rating_button',:onclick => "this.form.submit();") %>
                        <%= f.label("value_2", content_tag(:span, ''), {:class=>"rating", :id=>"2"}) %>
                        <%= radio_button_tag("rating[value]", 2, current_user_rating == 2, :class => 'rating_button',:onclick => "this.form.submit();") %>
                        <%= f.label("value_1", content_tag(:span, ''), {:class=>"rating", :id=>"1"}) %>
                        <%= radio_button_tag("rating[value]", 1, current_user_rating == 1, :class => 'rating_button',:onclick => "this.form.submit();") %>

                        <%= hidden_field_tag("place_id", @place.id) %>

                             </div>  
                           
                        <% end %>



                        </td>
                      </tr>
                    </table></td>
                  </tr>

                </table>
                

              </td>
            </tr>
          </table>    
        
        </td>
      </tr>
      <tr>
        
        </tr>
      </table>

    </div>


