



	<style type="text/css">

		/*Search Button*/
		
		.commentMain
		{
			-moz-border-radius:4px !important;
			-webkit-border-radius:4px!important;
			border-radius:4px!important;
			-webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
			border:1px solid #ccc;
		}

		.CommentTable{

			width:600;
			border:0; 
			align:center;
			cellpadding:0;
			cellspacing:0;

			border-top:#ff580e solid 5px !important;
			-moz-border-radius:4px !important; 
			-webkit-border-radius:4px !important; 
			border-radius:4px!important;
		}


		@media only screen and (max-width:640px)

		{

			.main{width: 440px !important;}
			.inner{width: 400px !important;}
			.column{width: 440px !important;}

		}

		@media only screen and (max-width:479px)

		{
			.main{width: 280px !important;}
			.inner{width: 240px !important;}
			.column{width: 240px !important;}
		}


	</style>

	<div>

		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="main-bg" style="background:#fbf4e4;">

			<tr>
				<td align="center" valign="top" style="padding-bottom:60px;">


				


				
					<%= form_for(review_ballot, :html => { :class => 'review_ballot' }) do |f| %>





					<%= hidden_field_tag("place_id", @place.id) %>




					
					<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="main">

						<br /><br />
						<tr>
							<td align="left" valign="top">


								<table class="CommentTable">

									<tr>
										<td class ="commentMain" align="left" valign="top" bgcolor="#fff" style="background:#fff; padding-top:19px; padding-bottom:22px;"><table width="560" border="0" align="center" 
											cellpadding="0" cellspacing="0" class="inner">

											<tr>
												<td align="center" valign="top" style="font:Bold 24px Arial, Helvetica, sans-serif; color:#525252; padding-top:2px;">
													Comment on <%=@place.title%> 
													<hr>

												</td>
											</tr>

											<tr>
												<td align="center" valign="top" style="font:Normal 12px Arial, Helvetica, sans-serif; color:#686868; line-height:24px; padding:15px 0px 20px 0px;">
													Your thoughts about <%=@place.title%> 

												</td>
											</tr>

											<tr>
												<td align="center" valign="top" style="padding-bottom:1em;">

													<div class="form-row field_textarea" >
														<%= f.text_area :content , :class=>"input_textarea required", :style=>"WIDTH:100%; height:100%;color:black; padding:0.7em 10px; border:1px solid #ccc; background:#fff;font-size: 12px;", :placeholder=>"Review your stay experience at the workspace.", :rows=>"6"%>

													</div>

												</td>
											</tr>
											<tr>
												<td align="center" valign="top" style="padding-bottom:1em;">
													<%= submit_tag "Share Your Review"  , :class=>"btn btn_orange" %>
												</td>
											</tr>

										</table></td>
									</tr>

								</table>


							</td>
						</tr>
					</table>    
					
				</td>
			</tr>
			<tr>

			</tr>
		</table>


	</div>
	
	<%end%>


