 
  <% provide(:title, @place.title) %>
   

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <link href='http://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
  <style>
    .img_details{
      max-width:542px !important;
      max-height:235px !important;
    }

    #map-canvas { height: 100% }
  

    #hashtag {
   
    background-color:#eeeeee;
    padding: 7px 13px 7px 13px;
    padding-bottom: -4px;
   
     -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: left;
    font-size:13px;
    
}
   #hashtag:hover {
     color:#ff6a2f; 

     
    
}

.ReviewTitle{
  float:right;
 margin-top:-2em;
  font-size:11px;
  color:#A2A2A2;
}

.Reviewscore{
      font-family: 'Bevan', cursive;
      font-size:28px;
      color:#909090;
      float:right;
      margin-right:-1.6em;
     
}


  </style>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script>
    var latitude 
    latitude = ("<%= @place.latitude %>");
    var longitude
    longitude = ("<%= @place.longitude %>");
    var map;
    function initialize() {
      var mapOptions = {
        zoom: 15,
        center: new google.maps.LatLng(latitude, longitude),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(latitude, longitude),
        map: map,
        title: 'Hello World!'
      });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://malsup.github.com/jquery.form.js"></script> 
  <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

  <style>
    .img_details{
      max-width:542px !important;
      max-height:235px !important;
    }

    span.stars, span.stars span {
      display: block;
      background: url(../assets/images/stars.png) 0 -16px repeat-x;
      width: 80px;
      height: 16px;
  }

  span.stars span {
      background-position: 0 0;
  }
  </style>

  <script>

  $.fn.stars = function() {
      return $(this).each(function() {
          // Get the value
          var val = parseFloat($(this).html()) || 0;
          // Make sure that the value is in 0 - 5 range, multiply to get width
          val = Math.round(val * 2) / 2; /* To round to nearest half */
          var size = Math.max(0, (Math.min(5, val))) * 16;
          // Create stars holder
          var $span = $('<span />').width(size);
          // Replace the numerical value with stars
          $(this).html($span);
      });
  }

  </script>

  <script>
  $(function() {
      $('span.stars').stars();
  });
  </script>


  <div id="map-canvas" style='width: 100%; height: 350px;'></div>



  <div class="main-outer-wrapper has-titlebar">
    <div class="main-wrapper container">
      <div class="row row-wrapper">
        <div class="page-outer-wrapper">

          <div class="page-wrapper twelve columns no-sidebar b0">
            <div class="row">
              <div class="twelve columns b0">
                <div class="page-title-wrapper">
                  <h1 class="page-title left">

                   <%= @place.title %></h1>
                   <div class="page-title-alt right">
                   </div>
                   <div class="clear">
                   </div>
                 </div>
               </div>
             </div>
             <div class="row">
              <div class="content-wrapper eight columns">
                <div class="cpt-thumb-wrapper">

                  <%= image_tag @place.image.url(:normal),:style=>"border-radius:3px;-moz-boder-radius:3px;" %>

                </div>
                
                <div>
                  Average Rating:<span class="stars" style="margin-left:120px; margin-top:-20px;"> <%= @place.average_rating %></span>
                    <br/>
                     <div class="fb-share-button" data-href= <%= "http://s1.spacecomby.com/places/#{@place.id}" %> data-type="button_count"></div>
                </div>
                  <br/>
                  <div>
                      <a id="hashtag" href="/about/static">#bright</a>
                    <a id="hashtag" href="/about/static">#clean</a>
                     <a id="hashtag" href="/about/static">#good</a>
                      <a id="hashtag" href="/about/static">#great</a>
                      <a id="hashtag" href="/about/static">#pleasant</a>
                  </div>


                <br/><br/>
                <div class="st-tabs b40">
                  <ul class="tab-title">
                    <li tab-id="tab1" class="current">Description</li>
                    <li tab-id="tab2" class="">Address & Time</li>
                    <li tab-id="tab3" class="">Amentities</li>

                  </ul>
                  <div class="tab-content-wrapper">
                    <div class="tab-content active" tab-id="tab1" style="text-align: justify;">

           <table style="margin-top:-4em;">

                       <tr class="">
                        <th>
                          Workspace Type :

                        </th>
                        <td>
                        <%= @place.wsType %>
                       </td>
                     </tr>

                      <tr class="">
                        <th>
                          Maximum Occupancy :
                        </th>
                        <td> 
                        <%= @place.maxOccupancy %>
                       </td>
                     </tr>

                     <br/>
                     <br/
                        <tr class="">
                        
                <td>
                
                       </td>
                     </tr>
              

             </table> 
                                   <%= @place.description %>
           </br><br/>
         </div>


         <div class="tab-content" tab-id="tab2" style="">
          <div class="" style="font-size:14px;">
            
            <table>

                       <tr class="">
                        <th>
                          Address:
                        </th>
                        <td style="font-size:14px;">
                         <%= @place.address %>
                       </td>
                     </tr>

                      <tr class="">
                        <th>
                          Zip code:
                        </th>
                        <td style="font-size:14px;">
                         <%= @place.postal %>
                       </td>
                     </tr>

                <tr class="">
                  <th>
                    Opening Hour:
                  </th>
                  <td style="font-size:14px;">
                   <%= @place.startTime.strftime('%I:%M:%p') %>
                 </td>
               </tr> 

               <tr class="">
                  <th>
                    Closing Hour:
                  </th>
                  <td style="font-size:14px;">
                   <%= @place.endTime.strftime('%I:%M:%p') %>
                 </td>
               </tr> 

             </table> 
         </div>
       </div>


       <div class="tab-content" tab-id="tab3" style="">
        <div class="services-included" style="">
        <% @place.selections.each do |selection|%>
          <ul>


          <li><span class=""><%= selection.facility.name %></span></li>
          <!--   <li><span class="room-wifi">Free WiFi</span></li>
            <li><span class="room-parking">Parking</span></li>
            <li><span class="room-pets">Pets Allowed</span></li>
            <li><span class="room-television">Television (27")</span></li> -->
            <%end%>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <!--st-tabs b40-->


  <div class="st-tabs b40">
    <ul class="tab-title">
      <li tab-id="tab1" class="current">Reviews</li>
   
    </ul>
    <div class="tab-content-wrapper">
      <div class="tab-content active" tab-id="tab1" style="text-align: justify;">
        
           <%if @place.reviews.empty?%>
          This place has no reviews.
          <br/>
           <%else%>
            <% @place.reviews.each do |review|%>
             <li id="list-comment-ID" class="comment" style="list-style-type:none;">
              <div id="comment-ID" class="comment-item">
                
                <div class="comment-header">
                
                <% if review.user.photo?%>
                <%= image_tag review.user.photo.url, :class=>"comment-avatar"%>
                <% else %>

                <%= image_tag ("../assets/images/PersonPicMissing.jpg"), :class=>"comment-avatar"%>
                   <% end%>
                  
                  <div class="comment-header-right">
                    <p class="comment-date" >Posted At: <%= review.created_at.strftime('%Y-%m-%e')%></p>
                    <a class="comment-author" ><% if review.user.first_name? %>
                     <h > <%= review.user.first_name%>&nbsp;<%= review.user.last_name%></h>
                
                    <%else%>
  <h ><%= current_user.name %></h>
   <%end%>
            
            <p class="ReviewTitle">Review Score:</p>
            <p class="Reviewscore">7</p>
                  </div>
                </div>
                <div class="clear"></div>
                <div class="comment-content" style="color:#606060;">
                  <%= review.content%>
                </div>
              </div>
            </li>
               <% end%>
                <%end%>
   </div>
          </div>
        </div>
        <!--st-tabs b40-->

        <div class="clear">
        </div>
      </div>

      <!--content-wrapper eight columns-->
      <div class="sidebar right-sidebar-wrapper four columns">
        <div class="widget-container widget_nav_menu" id="widget-ID-name">
          <div class="widget-content">
            <div class="PlaceDetails" style="padding: 0 10px;">

              <p style="color:#606060;">
                At</p>

                <div style="float:right;margin-top:-2.6em; color:#606060;">
                  <p>/day</p>
                </div>
                <p style="font-size: 3em; color:#606060;">
                 S$<%= @place.price %></p>
                 <div class="" style="border-top: 1px dotted #ccc; padding-top: 0.8em;">
                  <div class="" style="">
                    <%= form_for(@place , :html => { :multipart => true }) do |f| %>


                    <script>
                      var firstDate=new Date("<%= @place.select_start %>");
                      var lastDate=new Date("<%= @place.select_end %>");

                      Date.prototype.addDays = function(days) {
                        var dat = new Date(this.valueOf())
                        dat.setDate(dat.getDate() + days);
                        return dat;
                      }

                      function getDates(startDate, stopDate) {
                        var dateArray = new Array();
                        var currentDate = startDate;
                        while (currentDate <= stopDate) {
                          dateArray.push(currentDate)
                          currentDate = currentDate.addDays(1);
                        }
                        return dateArray;
                      }

                      function getDatesFormat(temp){
                        var dateArrayFormat = new Array();
                        for (i = 0; i < temp.length; i++){
                          dateArrayFormat[i] = temp[i].getDate() + "-" + (temp[i].getMonth()+1) + "-" + temp[i].getFullYear();
                        }
                        return dateArrayFormat;
                      }
                      var temp = getDates(firstDate, lastDate);
                      var unavailableDates = getDatesFormat(temp);
                      function unavailable(date) {
                        dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
                        if ($.inArray(dmy, unavailableDates) == -1) {
                          return [true, ""];
                        } else {
                          return [false, "", "Unavailable"];
                        }
                      }


                      $(function() {
                        var startDate="<%= @place.start_date %>";
                        var endDate="<%= @place.end_date %>";


                        $("#place_select_start").datepicker({

                          value: new Date(),
                          minDate: new Date(startDate),
                          maxDate: new Date(endDate),
                          dateFormat: 'yy-mm-dd',
                          beforeShowDay: unavailable,
                          onSelect: function() {
                            $(this).closest('form').ajaxSubmit();
                          }

                        })
                      });

                      $(function() {
                        var startDate="<%= @place.start_date %>";
                        var endDate="<%= @place.end_date %>";

                        $("#place_select_end").datepicker({

                          value: new Date(),
                          minDate: new Date(startDate),
                          maxDate: new Date(endDate),
                          dateFormat: 'yy-mm-dd',
                          beforeShowDay: unavailable,
                          onSelect: function() {
                            $(this).closest('form').ajaxSubmit();
                          }

                        })
                      });
                    </script>
  <!--            

                    <label>Select Start Date:</label> --> 
                    <br/>             
                    <div class="field">
                     <!--  <%= f.label :select_start %><br /> -->
                     <%= f.text_field :select_start, id: "place_select_start" , :placeholder=>"Select Start Date", :required => true, :style=>"width:100%;border:1.5px solid #b8b8b8;font-size: 12px; background: url('../assets/images/icon_arrival.png') no-repeat right #fcfcfc;"%>
                   </div>
                   <br/>
                  <!--  <label>Select End Date:</label>   -->
                   <div class="field">
                    <!--     <%= f.label :select_end %><br /> -->
                    <%= f.text_field :select_end, id: "place_select_end", :placeholder=>"Select End Date", :required => true, :style=>"width:100%;border:1.5px solid #b8b8b8; background: url('../assets/images/icon_departure.png') no-repeat right #fcfcfc;;font-size: 12px;"  %>
                  </div>

                  
                <!--   <div class="">
                    <div><label>Total no. of People:</label></div>
                    <div class="">
                      <select class="TotalNoOfPple">
                        <option>1</option>
                        <option>2</option>
                        <option>3 </option>
                        <option>4 </option>
                        <option>5 </option>
                        <option>6 </option>
                        <option>7 </option>
                        <option>8 </option>
                        <option>9 </option>
                        <option>10 </option>
                      </select>
                    </div>
                  </div> -->
                  <br />

       <!--  <div class="actions">
          <%= f.submit 'Update', :class => "btn btn_orange", :style=>"width:100%; display: block; margin-left: auto; margin-right: auto;" %>
        </div> -->
        <% end %>
        <%= button_to 'Book Now', line_items_path(:place_id => @place.id), :class => 'btn btn_orange', :style => ' width:100%; display: block; margin-left: auto; margin-right: auto;' %>
         <!--  <a class="btn btn_orange" style="display: block; margin-left: auto; margin-right: auto;"
         href="#">Book Now</a> -->
         <br />
       </div>
     </div>
     <!--PlaceDetails-->
   </div>
   <!--Widget content-->

  </div>

  <!--widget-container widget_nav_menu-->
  <!-- :style=>"width:80px; height:80px;float: left;-moz-border-radius: 80px;-webkit-border-radius: 80px;"-->
  <br /><br/>
  <div class="widget-container" id="Div1" style="padding: 0 10px;">
    <% if @place.user.photo? %>
    <%= image_tag @place.user.photo.url %>
    <% elsif @place.user.photo? %>
    <%= image_tag(@place.user.photo?,)%>;
    <% elsif %>
    <img src="../assets/images/PersonPicMissing.png" alt="Image" title="Image" width="280px" height="280px"
    style="margin-left: auto; margin-right: auto;" />
    <% end%>






    <br />
    <br/>
    
    <h3 style="text-align: center;">
     
      <%=@place.user.first_name%>
     <!--  <label>Host own this place: </label> <%=@place.user_id%> --></h3>

  <!-- <li><a title="View Detail" href="/users/<%=@place.user_id%>" class="go-detail"></a></li> -->
      <a class="btn btn_gray" href="/users/<%=@place.user_id%>" style="display: block; margin-left: auto; margin-right: auto;">
        View Host's Profile</a>
      </div>
      <br />

      <div class="widget-container st-recent-posts" id="widget-ID-name">
        <h3 class="widgettitle">
        Similar listings owned by <%=@place.user.first_name%>:

        </h3>
           <div class="widget-content">
            <ul>
          <% @place.user.places.sort_by{|t| - t.created_at.to_i}.first(3).each do |place| %>
             
              <li class="event">  
                <% if place.image? %>
               <a href="/places/<%= place.id%>" style="border:0;"> <%= image_tag place.image.url(:tiny), :style=>"border-radius:3px;-moz-border-radius:3px;"%></a>  
                   <!--  <%= image_tag @place.image.url(:tiny)%> -->
                    <% else %>
                    <%= image_tag("../assets/images/missing.jpg", :style=>"width:70px;height:50px;") %>
                    <% end %>
                <a href="/places/<%= place.id%>" style="margin-top:-1em;"><%= place.title %></a> 
                <span class="recent-date">S$<%= place.price %></span>
                <div class="clear">
                </div>
               <% end %>
        </div>

      </div>
      <!--sidebar right-sidebar-wrapper four columns-->
    </div>
    <!-- END .row -->

  </div><!--page-wrapper twelve columns no-sidebar b0-->

  <br />
  </div>
  <!-- END .page-outer-wrapper -->

  </div><!-- row row -->
  <div class="clear">
  </div>

  </div><!-- END .main-wrapper -->
  </div><!--main-outer-wrapper has-titlebar-->
  </div>
  </div>


