 
<style type="text/css">

	/*Search Button*/
	
	.verifyMain
	{
		-moz-border-radius:4px !important;
		-webkit-border-radius:4px!important;
		border-radius:4px!important;
		-webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
		border:1px solid #ccc;
	}

	.VerifyTable{

width:600;
 border:0; 
 align:center;
 cellpadding:0;
 cellspacing:0;
 
border-top:#ff580e solid 5px !important;
-moz-border-radius:4px !important; 
-webkit-border-radius:4px !important; 
border-radius:4px!important;
}


@media only screen and (max-width:640px)

{
    
    .main{width: 440px !important;}
    .inner{width: 400px !important;}
    .column{width: 440px !important;}
    
}

@media only screen and (max-width:479px)

{
    .main{width: 280px !important;}
    .inner{width: 240px !important;}
    .column{width: 240px !important;}
}


</style>

	<div>

		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="main-bg" style="background:#eeeeee;">
			
			<tr>
				<td align="center" valign="top" style="padding-bottom:60px;">

				
					<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="main">

						<br /><br />
						<tr>
							<td align="left" valign="top">

								
								<table class="VerifyTable">

									<tr>
										<td class ="verifyMain" align="left" valign="top" bgcolor="#fff" style="background:#fff; padding-top:19px; padding-bottom:22px;"><table width="560" border="0" align="center" 
											cellpadding="0" cellspacing="0" class="inner">
											
											<tr>
													<td align="center" valign="top" style="font-size: 20px; color:#525252; padding-top:2px;">
													<b>Please enter the verification code</b>

												</td>
											</tr>
											<tr>
												<td align="center" valign="top" style=" color:#686868; line-height:24px; padding:15px 0px 20px 0px;">
													    An sms verification has been sent to the mobile number which you have registered with us.

												</td>
											</tr>
											<tr>
												<td align="center" valign="top" style="padding-bottom:1em;">


													<% if flash[:error] %>
													<div class="notice"><%= flash[:error] %></div>
													<% end %>
													<br/>
													<%= form_tag({controller: "places", action: "verify"}, method: "get") %>
													<!-- <label for="verification code">Verification</label> -->
													<%= text_field_tag :verify_code %>
													<%= submit_tag "submit", :class=>"btn btn_orange" %>

												</td>
											</tr>
										</table></td>
									</tr>

								</table>
								

							</td>
						</tr>
					</table>    
				
				</td>
			</tr>
			
			</table>

		</div>


