<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <link rel="shortcut icon" href="../assets/images/favicon_latest.ico" type="image/x-icon">
  <link rel="icon" href="../assets/images/favicon_latest.ico" type="image/x-icon">
  <link href="//fonts.googleapis.com/css?family=Bevan:400" rel="stylesheet" type="text/css">

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>




<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

  <script>
  $(document).ready(function () {
    var availableTags = [
      "good",
      "great",
      "clean",
      "bright",
      "pleasant"
      
    ];
    $( "#location" ).autocomplete({
      source: availableTags
    });
  });
  </script>

  <script>
  $(document).ready(function() {
    $('#windowTitleDialog').bind('show', function () {
      document.getElementById ("xlInput").value = document.title;
    });
  });
  function closeDialog () {
    $('#windowTitleDialog').modal('hide'); 
  };
  function okClicked () {
    document.title = document.getElementById ("xlInput").value;
    closeDialog ();
  };
  </script>

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-45390918-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>

  <script type="text/javascript">
  var RecaptchaOptions = {
    theme : 'clean'
  };
  </script>
  <style type="text/css">
 i.tooltip {outline:none; }
  i.tooltip strong {line-height:30px;}
  i.tooltip:hover {text-decoration:none;} 
  i.tooltip span {
    z-index:10;display:none; padding:7px 13px;
    margin-top:-30px; margin-left:28px;
    width:240px; line-height:16px;
  }
  i.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
    .callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
    
    /*CSS3 extras*/
    i.tooltip span
    {
      border-radius:4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;

      -moz-box-shadow: 5px 5px 8px #CCC;
      -webkit-box-shadow: 5px 5px 8px #CCC;
      box-shadow: 5px 5px 8px #CCC;
    }

  </style>
</head>

<%= content_tag(:div, flash[:notice], :id => "flash_notice",:class=>"info") if flash[:notice] %>
<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=519499194811013";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <div class="body-outer-wrapper">
    <div id="body-wrapper" class="body-wrapper full-width-mode">
      <header id="header" class="header-container-wrapper">

        <div class="top-bar-outer-wrapper">
          <div class="top-bar-wrapper container">
            <% if user_signed_in? %>
            <div class="row">
              <div class="top-bar-left left">
                <nav id="top-nav-id" class="top-nav slideMenu" >

                </nav>
              </div>
              <div class="top-bar-right right">
                <nav id="top-nav-id" class="top-nav slideMenu">
                  <ul>

                   <% if user_signed_in? %>
                           
                                        <li> <%= link_to 'Log out', destroy_user_session_path, :method => :delete %></li>
                                 <li><a href="/users/edit"><%= current_user.email %></a>
                                        <ul style="width:180px;">
                                        <li ><a href="/users/edit">Dashboard</a></li>

                                         <li><%= link_to "My Cart", cart_path(current_cart)%></li>
                                </li>
            
                            <% else %>
                            <% end %>
                    </ul>
                  </nav>
                </div>
                <div class="clear"></div>
              </div>
              <% else %>
              <% end %>
            </div><!-- END .top-bar-wrapper -->
          </div> <!-- END .top-bar-outer-wrapper -->

          <div class="header-outer-wrapper">
            <div class="header-wrapper container">
              <div class="row">
                <div class="twelve columns b0">
                  <div class="header-left left">
                    <div class="logo-wrapper">
                      <div id="logo">
                        <%= link_to image_tag('../assets/images/Logo1.png', width: '130'), welcome_index_path %>
                      </div>
                    </div>
                  </div>

                  <div class="header-right right">
                    <a href="#" id="primary-nav-mobile-a" class="primary-nav-close">

                      <span></span>
                      Main Navigation
                    </a>
                    <nav id="primary-nav-mobile"></nav>


                    <% if user_signed_in? %>
                    <a href="/places/new" class="btn btn btn_gray" style="margin-top:2em;"><i class="date_icon"></i>List your space</a>
                    <% else %>
                    <a data-toggle="modal" href="#login" class="btn btn btn_gray" style="margin-top:2em;"><i class="date_icon"></i>List your space</a>
                    <% end %>

                    <nav id="primary-nav-id" class="primary-nav slideMenu">
                      <ul>
                        <li><a href="/about/team">About Us</a></li>
                        <li><a href="/about/howitworks">How It Works</a> 
                        </li>
                        <li><%= link_to "Spaces", places_path %>
                         
                        </li>

                        <li><a href="javascript:void(0)"></a> 
                        </li>


                        <% if user_signed_in? %>
                        <% else %>
                        <li><a data-toggle="modal" href="#register" id="HomeLogIn" style="color:#fff;">SIGN UP</a> 
                        </li>
                        <li><a data-toggle="modal" id="HomeSignUp" href="#login">Log In</a></li>
                        <% end %>
                      </ul>
                    </nav>
                    <div class="clear"></div>
                  </div><!--Right-->

                  <div class="clear"></div>
                </div>
                <div class="clear"></div>
              </div>
            </div><!-- END .header-wrapper -->
          </div><!-- END .header-outer-wrapper -->
        </header> <!-- END .header-container-wrapper -->

      <!--Modal Popout for register-->
      <div id="register" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true" >
          <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h1>SIGN UP</h1>
          </div>
 
          <div class="modal-body">
            <%= link_to image_tag("../assets/images/facebook.png" , :style=>"width:220px;"), user_omniauth_authorize_path(:facebook) %>
            <p style="margin-top:15px; font-size:12px;">  
              Already a member ?
              <a href="/users/login">Log In Now</a>
            </p>
            <div style="text-align:center;border-top:solid 1px; border-color:#B6B6B4;margin-top:20px;">
              <span style="background-color:white; display:inline-block;position: relative; top: -.7em; width:50px; ">OR</span></div>
 
              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
              <table style="width:100%;">
                <tr>
                  <td> 

                    <div class="form-row field_text" >

                      <i class="icon-user"></i>&nbsp;&nbsp;  <%= f.text_field :first_name, :placeholder=>"First Name" , :class=>"input_text required" ,:style=>"width:85%;border:1px solid #CCC; ", :required=>"required"%>
                    </div>
                  </td>
 
                  <td> 
                    <div class="form-row field_text" >
                      <i class="icon-user"></i>&nbsp;&nbsp;                    
                      <%= f.text_field :last_name, :placeholder=>"Last Name" , :class=>"input_text required" ,:style=>"width:85%;border:1px solid #CCC; " , :required=>"required"%>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-row field_text" >
                      <i class="icon-phone"></i>&nbsp;&nbsp;  <%= f.text_field :phone_number, :placeholder=>"Phone Number" , :class=>"input_text required" ,:style=>"WIDTH:85%;border:1px solid #CCC; ", :required=>"required"%>
                    </div>
                  </td>
 
                  <td>
                    <div class="form-row field_text" >
                      <i class="icon-envelope"> </i>&nbsp;&nbsp;
                      <%= f.email_field :email, :required => false, :autofocus => true, :placeholder=>"Email Address", :style=>"width:85%;border:1px solid #CCC; border-radius:6px;"%>
                    </div>
                  </td>
                </tr>
 
                <tr>
                  <td> 
                    <div class="form-row field_text" >
                      <i class="icon-lock"></i>&nbsp;&nbsp;
                     
                      <%= f.password_field :password, :required => false , :placeholder=>"Password", :style=>"width:85% ;border:1px solid #CCC; border-radius:6px;"%> 
                    </div>
                  </td>
 
                  <td> 
                    <i class="icon-lock"></i>&nbsp;&nbsp;  
                    <%= f.password_field :password_confirmation, :placeholder=>"Retype Password" , :class=>"input_text required" ,:style=>"WIDTH:85%;border:1px solid #CCC; border-radius:6px; " , :required=>"required"%> <br/>
                  </td>
                </tr>
 
                <tr align="left"><td colspan="2">
                <div>  * Password must be at least 8 characters.</div>
                </tr>
 
 
                <tr>
                  <td colspan="2">
                    <p style="margin-left:-350px;"> 
                      <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" , required="required"/> </p>
                      <p style="margin-left:-110px; margin-top:-43px;">
                        <label for="loginkeeping"  title="sample text" style="width:400px;margin-left:120px;  position:absolute;" required="required">
                          As a member, you accept our *Terms and Privacy Policy.</label>
                        </p>
 
                      </td>
                    </tr>
                  </table>
                </div><!--modal-body-->
                <div class="modal-footer">
                  <%= f.submit "Register Me Now", :class => 'btn btn-primary' %>
                  <% end %>
                </div>  
 
              </div> 

              <!--Modal Popout for Login-->
              <div id="login" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
                <div class="modal-header">
                  <button class="close" data-dismiss="modal">×</button>
                  <h1 >LOG IN</h1>
                </div>
                <div class="modal-body">

                  <%= link_to image_tag("../assets/images/facebook.png" , :style=>"width:220px; "), user_omniauth_authorize_path(:facebook) %>
                  <p style="margin-top:15px; font-size:12px;">  
                    Not a member ?
                    <a href="/users/register">Sign Up</a>


                  </p>
                  <div style="text-align:center;border-top:solid 1px; border-color:#B6B6B4;margin-top:30px;"><span style="background-color:white; display:inline-block;position: relative; top: -.7em; width:50px; ">OR</span></div>

                  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
                  <div class="form-row field_text" >

                    <i class="icon-user"></i>&nbsp;&nbsp;<%= f.email_field :email, :required => false, :autofocus => true, :placeholder=>"Email Address", :style=>"width:80%;border-radius:3px; -moz-border-radius:3px;border:1.5px solid #ccc; background:#ffffff;font-size: 12px;"%>
                  </div>
                  <br/>
                  <div class="form-row field_text" >

                    <i class="icon-lock"></i>&nbsp;&nbsp;<%= f.password_field :password, :required => false , :placeholder=>"Password", :style=>"width:80%;border:1.5px solid #ccc;border-radius:3px; -moz-border-radius:3px; background:#ffffff;font-size: 12px;"%>
                  </div>
                  <p>
                    <% if devise_mapping.rememberable? -%>
                    <div style="margin-left:-300px;"> <%= f.check_box :remember_me %> </div>
                    <div style="margin-left:-185px;margin-top:-27px;"> <%= f.label :remember_me %></div>
                    <% end -%>
                  </p>
                  <div style="font-size:12px;margin-left:-180px;margin-top:-10px;">
                    <a href="/users/password/new">Forgot your password?</a>
                  </div>
                </div>
                <div class="modal-footer">
                  <%= f.submit "Sign In", :class => 'btn btn-primary' %>
                  <% end %>
                </div>
              </div>
            </div>


            <%= yield %>


        
    <footer id="footer" class="footer-outer-wrapper">
              <div class="footer-wrapper container">
                <div class="footer-columns row">
                  <div class="three columns">
                    <div class="widget-container">
                      <h3 class="widgettitle footer-widgettitle">SpaceComby</h3>
                      <div class="widget-content">
                        <div class="footer-contact">
                          <ul>
                            <li class="f-map">13 Computing Drive <br>NUS<br>Singapore 117417</li>
                            <li class="f-mail"><a href="mailto:info@spacecomby.com@?Subject=Hello">Info@spacecomby.com</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="three columns">
                    <div class="widget-container widget_nav_menu">
                      <h3 class="widgettitle footer-widgettitle">Discover</h3>
                      <div class="widget-content">
                        <ul>


                          <li><a href="/about/howitworks">How it works</a></li>
                          <li><a href="/about/hostwithus">Why Host</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="three columns">
                    <div class="widget-container widget_nav_menu">
                      <h3 class="widgettitle footer-widgettitle">Company</h3>
                      <div class="widget-content">
                        <ul>
                          <li><a href="/about/team">About Us</a></li>
                          <li><a href="/about/tos">Terms of service</a></li>
                          <li><a href="/about/privacy">Privacy Policies</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="three columns">
                    <div class="widget-container widget_nav_menu">
                      <h3 class="widgettitle footer-widgettitle">Contact</h3>
                      <div class="widget-content">
                        <ul>
                          <li><a href="/contact">Contact Us</a></li>


                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>

                <div class="footer-copyright-wrapper row">
                  <div class="twelve columns">
                    <div class="footer-copyright">
                      <div class="copy-left left">
                        Copyright @ 2013 SpaceComby. All Rights Reserved
                      </div>
                      <div class="copy-social right">
                        <ul class="footer-social">
                          <li class="stay_connected">Stay Connected</li>
                          <li class="social-twitter"><a href="https://www.twitter.com/spacecomby" target="_blank">Twitter</a></li>
                          <li class="social-facebook"><a href="https://www.facebook.com/spacecomby" target="_blank">Facebook</a></li>
                          <li class="social-google-plus"><a href="https://plus.google.com/b/109890163754470209830/" target="_blank">Google Plus</a></li>
                        </ul>
                      </div>
                      <div class="clear"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div> <!-- END .footer-wrapper -->
            </footer> <!-- END .footer-outer-wrapper -->

          </div><!-- END .body-wrapper -->
        </div><!-- END .body-outer-wrapper -->
        <%= render partial: "layouts/ga" %>
      </body>
      </html> 
