<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
   <link rel="shortcut icon" href="../assets/images/favicon_latest.ico" type="image/x-icon">
  <link rel="icon" href="../assets/images/favicon_latest.ico" type="image/x-icon">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
    <script src="http://static.scripting.com/github/bootstrap2/js/jquery.js"></script>
    <script src="http://static.scripting.com/github/bootstrap2/js/bootstrap-transition.js"></script>
    <script src="http://static.scripting.com/github/bootstrap2/js/bootstrap-modal.js"></script>


<!-- Browser Specical Files
    ========================================================================= -->
    <!--[if lt IE 9]><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->


 <script>
            $(document).ready(function() {
                $('#windowTitleDialog').bind('show', function () {
                    document.getElementById ("xlInput").value = document.title;
                    });
                });
            function closeDialog () {
                $('#windowTitleDialog').modal('hide'); 
                };
            function okClicked () {
                document.title = document.getElementById ("xlInput").value;
                closeDialog ();
                };
            </script>
            <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-45390918-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<%= content_tag(:div, flash[:notice], :id => "flash_notice",:class=>"info") if flash[:notice] %>

<body>
    <div class="body-outer-wrapper">
        <div id="body-wrapper" class="body-wrapper full-width-mode">
           <header id="header" class="header-container-wrapper">
            
            <div class="top-bar-outer-wrapper">
                <div class="top-bar-wrapper container">
                 <% if user_signed_in? %>
                    <div class="row">
                       <div class="top-bar-left left">
                            <nav id="top-nav-id" class="top-nav slideMenu" >
                                 
                            </nav>
                        </div>
                         <div class="top-bar-right right">
                           <nav id="top-nav-id" class="top-nav slideMenu">
                            <ul>

                                <% if user_signed_in? %>
                           
                                        <li> <%= link_to 'Log out', destroy_user_session_path, :method => :delete %></li>
                                 <li><a href="/users/edit"><%= current_user.email %></a>
                                        <ul style="width:180px;">
                                        <li ><a href="/users/edit">Dashboard</a></li>
                                         <li><%= link_to "My Cart", cart_path(current_cart)%></li>
                                </li>
            
                            <% else %>
                            <% end %>
                        </ul>
                    </nav>
                </div>
                <div class="clear"></div>
            </div>
            <% else %>
                            <% end %>
        </div><!-- END .top-bar-wrapper -->
    </div> <!-- END .top-bar-outer-wrapper -->
    
    <div class="header-outer-wrapper">
        <div class="header-wrapper container">
            <div class="row">
                <div class="twelve columns b0">
                    <div class="header-left left">
                        <div class="logo-wrapper">
                            <div id="logo">
                                <%= link_to image_tag('../assets/images/Logo1.png', width: '130'), welcome_index_path %>
                            </div>
                        </div>
                    </div>

                    <div class="header-right right">
                        <a href="#" id="primary-nav-mobile-a" class="primary-nav-close">

                            <span></span>
                            Main Navigation
                        </a>
                        <nav id="primary-nav-mobile"></nav>


                        <a href="/places/new" class="btn btn btn_gray" style="margin-top:2em;"><i class="date_icon"></i>List your space</a>
                         <!-- <a href="" class="btn btn_orange"  style="margin-right:-1.5em;">LOG IN</a>
                                 <a href="" class="btn btn_orange" style="margin-right:-1.5em;text-decoration:none;">SIGNUP</a> -->

                        <nav id="primary-nav-id" class="primary-nav slideMenu">
                            <ul>
                            

                                <li><a href="/about/team">About Us</a></li>

                                
                                <li><a href="/about/howitworks">How It Works</a>  
                                </li>



                                <li><%= link_to "SPACES", places_path %>
                                   
                                </li>

                                     <li><a href="javascript:void(0)"></a> 
                                </li>
                                   
                                  


                                 <% if user_signed_in? %>
                        <% else %>
                        <li><a data-toggle="modal" href="#register" id="HomeLogIn" style="color:#fff;">SIGN UP</a> 
                        </li>
                        <li><a data-toggle="modal" id="HomeSignUp" href="#login">Log In</a></li>
                        <% end %>
                            </ul>
                        </nav>
                        <div class="clear"></div>
                    </div><!--Right-->

                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div><!-- END .header-wrapper -->
    </div><!-- END .header-outer-wrapper -->
</header> <!-- END .header-container-wrapper -->


 
     <div class="titlebar-outer-wrapper" style="background: url(<%= asset_path '../assets/images/Blur.jpg' %>) no-repeat top center;">
              
                <div class="shadow-box">
                </div>
            </div>

         <div class="main-outer-wrapper has-titlebar">
            <div class="main-wrapper container">
                <div class="row row-wrapper">
                    <div class="page-outer-wrapper">
                        <div class="page-wrapper twelve columns no-sidebar b0">
                            
                             <div class="row">

                                <div class="sidebar left-sidebar-wrapper three columns">
                                    
                                

                                  
                                               
                                                <div class="widget-container widget_nav_menu" id="widget-ID-name" >
                                                 <div class="widget-content" >
                                            <div class="builder-item-content" align="center">
                                          
                                                 <% if current_user.photo? %>
                  <%= image_tag current_user.photo.url, :style=>"width:150px; height:100px;" %>
                  <% elsif current_user.image? %>
                  <%= image_tag(current_user.image, :style=>"width:150px; height:100px;")%>
                  <% elsif %>
                   <%= image_tag("../assets/images/PersonPicMissing.png", :style=>"width:150px; height:100px;" )%>
                  <% end%><br/><br/>
                  <% if current_user.first_name? %>
                   <h > <%= current_user.first_name%>&nbsp;<%= current_user.last_name%></h>
              
                  <%else%>
<h ><%= current_user.name %></h>
 <%end%>
 
                                              </div>
                                              <div>
    
                                            </div>
                                      
                                   
</div>
<hr/>
                        <div class="widget-content " style="width:90%;margin-left:20px;">
<br/>
                                            <ul>
                                             <li style="font-size:24px;margin-left:8px;">&nbsp; Dashboard</li><br/>
                                        <li><a href="/users/edit"><i class="icon-user"></i>&nbsp;Edit Profile</a></li>
                          
                                            <li><a href="/display/index"><i class="icon-edit"></i>&nbsp;My Listings</a></li>
                                            <li><a href="/booking/index"> <i class="icon-heart"></i>&nbsp;My Stays</a></li>
                                        <li><a href="/lease/index"><i class="icon-check"></i>&nbsp;My Transactions</a></li>
                                         <li><a href="/account/index"><i class="icon-cog"></i>&nbsp;Settings</a></li>
                                    
                                         
                                            </ul>
                                    

                                        </div>
                                            
                                       
 <br/>
                                 
       
                                              </div>


                                               </div>
                                         
                                             <div class="content-wrapper eight columns">
            
                                                <%= yield %>



                                    
                                         
                   
                                


                                 
                             </div>
                             
                            </div> <!-- END .row -->
</div>
                   
                        <div class="clear"></div>

                    </div> <!-- END .page-outer-wrapper -->
                </div>
            </div> <!-- END .main-wrapper -->

        
        </div> <!-- END .main-outer-wrapper -->

     <footer id="footer" class="footer-outer-wrapper">
              <div class="footer-wrapper container">
                <div class="footer-columns row">
                  <div class="three columns">
                    <div class="widget-container">
                      <h3 class="widgettitle footer-widgettitle">SpaceComby</h3>
                      <div class="widget-content">
                        <div class="footer-contact">
                          <ul>
                            <li class="f-map" style="color:#808080;">13 Computing Drive <br>NUS<br>Singapore 117417</li>
                            <li class="f-mail"><a href="mailto:info@spacecomby.com@?Subject=Hello">Info@spacecomby.com</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="three columns">
                    <div class="widget-container widget_nav_menu">
                      <h3 class="widgettitle footer-widgettitle">Discover</h3>
                      <div class="widget-content">
                        <ul>


                          <li><a href="/about/howitworks">How it works</a></li>
                          <li><a href="/about/hostwithus">Why Host</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="three columns">
                    <div class="widget-container widget_nav_menu">
                      <h3 class="widgettitle footer-widgettitle">Company</h3>
                      <div class="widget-content">
                        <ul>
                          <li><a href="/about/team">About Us</a></li>
                          <li><a href="/about/tos">Terms of service</a></li>
                          <li><a href="/about/privacy">Privacy Policies</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="three columns">
                    <div class="widget-container widget_nav_menu">
                      <h3 class="widgettitle footer-widgettitle">Contact</h3>
                      <div class="widget-content">
                        <ul>
                          <li><a href="/contact">Contact Us</a></li>


                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>

                <div class="footer-copyright-wrapper row">
                  <div class="twelve columns">
                    <div class="footer-copyright">
                      <div class="copy-left left">
                        Copyright @ 2013 SpaceComby. All Rights Reserved
                      </div>
                      <div class="copy-social right">
                        <ul class="footer-social">
                          <li class="stay_connected">Stay Connected</li>
                          <li class="social-twitter"><a href="https://www.twitter.com/spacecomby" target="_blank">Twitter</a></li>
                          <li class="social-facebook"><a href="https://www.facebook.com/spacecomby" target="_blank">Facebook</a></li>
                          <li class="social-google-plus"><a href="https://plus.google.com/b/109890163754470209830/" target="_blank">Google Plus</a></li>
                        </ul>
                      </div>
                      <div class="clear"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div> <!-- END .footer-wrapper -->
            </footer> <!-- END .footer-outer-wrapper -->


    </div><!-- END .body-wrapper -->
</div><!-- END .body-outer-wrapper -->
    
</body>
</html>
